@import "_fonts";
@import "_nullstyle";


//$fontSize: 16;
//$baseWidth: 1920;
$baseContainerWidth: 1200;
$color1: #EE2918;
$color2: rgba(255, 255, 255, 0.9);
$color3: rgba(32, 31, 30, 0.9);
$color4: #000;


body {
   font-family: "Old Standard TT", serif;
}
.wrapper {
   min-height: 100%;
   overflow: clip;
}
.header {
   padding: 20px 0;
   background: $color3;
}
.nav {

   &__body {
      &>ul {
         li {
            color: $color2;
            transition: all 0.3s;

            &:hover {
               opacity: 0.8; 
            }
         }
         li>a {
            font-size: 1.25rem;
            color: inherit;
         }
         &>li {
            display: inline-block;
            font-size: 0;

            &:not(:last-child) {
               margin-right: 30px;
            }

            /*&>ul {
               font-size: 16px;

               &>li:not(:last-child) {
                  margin-bottom: 5px;
               }
            }*/
         }
      }
   }
}
h1 {
   font-size: 46px;
   line-height: 1.2;
   color: $color2;
}
a {
   &:focus-visible {
      outline: 2px solid $color1;
      outline-offset: 5px;
   }
}
abbr {
   transition: all 0.3s;

   &:hover {
      color: $color1;
   }
}
[class*="__container"] {
   padding-inline: 15px;
   margin: 0 auto;
   max-width: $baseContainerWidth + px;
}
[class*="__title"] {
   * {
      font-weight: 700;
   }
}
.main>.hero {
   padding: 5.982906% 0; /* 70/1170 */
   background: $color1;
}

@import "business/_business";
@import "business/_profiles";
@import "business/_best-faculty";
@import "game/_game";
@import "game/_play";
@import "game/_end";

.footer {
   padding: 3.125% 0; /* 60/1920 */
   font-family: "Circular Std", sans-serif;
   background: $color3;
   //transition: all 0.5s;

   /*&:hover .footer__text {
      display: none;
   }
   &:hover .footer__address, 
   &:hover .footer__copyright {
      display: block;
   }*/

   * {
      color: $color2;
   }
   a[target] {
      text-decoration: underline;
      text-underline-offset: 3px;
   }
   a[href^="mailto:"] {
      color: $color1;
   }

   &__address {
      margin: 0 0 20px;
   }

   /*&__address, &__copyright {
      display: none;
   }*/
}
.footer .address {
   ul {
      li {
         &>a {
            transition: all 0.3s;

            &:hover {
               color: #82e6ff;
            }
         }
      }
      &>li:not(:last-child) {
         margin-bottom: 10px;
      }
   }
}
.owner-name {
   font-weight: 700;
   color: #67b3ff;
}


@import "_last-child-marg";


