.hero {
   position: relative;
   padding-block: calc(var(--header-minh) + max(20px,2.719907%)) max(20px,2.893519%);
   min-height: 85.835694svh; /* 606/706 */
   color: var(--textColor2);
   text-align: center;
}
.hero__container {
   /*display: flex;
   flex-direction: column;*/
   max-width: 64.125rem;
}
.hero__container>* {
   margin-bottom: 30px;
}
.hero__bg {
}
.hero__title {
   margin-bottom: max(1.875rem,5.847953%); /* 60/1026 */
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   /*min: 24px; max: 56px   width: 400-1026*/
   font-size: clamp(1.5rem, 0.222rem + 5.11vw, 3.5rem);
}
.hero__blockquote {
   font-size: 1.125rem;
}
.hero__blockquote>* {
   cursor: help;
}
.hero__blockquote>figcaption {
   display: inline;
}