.hero {
   position: relative;
   padding-block: calc(var(--header-minh) + 2.719907%) 2.893519%;
   min-height: 85.835694svh; /* 606/706 */
   color: var(--color2);
   text-align: center;
}
.hero__container {
   display: flex;
   flex-direction: column;
   max-width: 64.125rem;
}
.hero__container>* {
   margin-bottom: 1.5rem;
}
.hero__bg {
}
.hero__title {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   font-size: clamp(1.5rem, 0.222rem + 5.11vw, 3.5rem);
}
.hero__blockquote {
   font-size: 1.125rem;
}
.hero__blockquote>* {
   cursor: help;
}
.hero__blockquote>figcaption {
   display: inline;
}