.floral-cards {
   display: grid;
   grid-auto-columns: 90%;
   grid-auto-flow: column;
   row-gap: 15px; 
   column-gap: 10px; /* 29/767.5 */
   overflow: auto;
   /*margin-inline: -10px;
   padding-inline: 10px;*/
   /*padding-inline: 30px !important;*/
   padding-bottom: 16px;
}
/*.floral-cards--side {
   grid-template-columns: 100%;
   grid-auto-rows: auto;
   row-gap: 14px;
}*/
.floral-cards--side .floral-card__image>picture {
   aspect-ratio: 401 / 427;
}
.floral-cards__card {
}
.floral-card {
   
}
.floral-card--big {
}
.floral-card__body {
   height: 100%;
   gap: 10px;
}
.blossomia .floral-card__image:focus-visible {
   outline-width: 5px;
   outline-offset: 0;
}
.floral-card__image {
   background: #e1cdb0;
}
.floral-card__image>picture {
   aspect-ratio: 370 / 378;
}
.floral-card__description {
   display: grid;
   grid-template-columns: 1fr auto;
   grid-template-rows: 1fr;
   /*align-content: space-between;*/
   flex-grow: 1;
   column-gap: 20px;
   /*background: red;*/
}
.floral-card__description:has(>:first-child:not([class])) {
   grid-template-rows: auto 1fr;
}
.floral-card__description>* {
   
}
.floral-card__description>*:not([class]) {
   grid-column: 1 / -1;
}
.floral-card__short-info {
   display: flex;
   flex-direction: column;
   align-self: start;
   /*justify-content: flex-end;*/
}
.floral-card__description {
   padding: 5px;
   box-shadow: 0 0 6px #000;
   background: #e1cdb0;
}
.floral-card__description>p {
   font-size: 15px;
}
/*.floral-card__info {
   display: flex;
   flex-direction: column;
   gap: 14px;
}*/
.floral-card__title {
   grid-column: 1 / -1;
   /*flex-grow: 1;*/
   font-size: 20px;
   line-height: 1.1; /* 22/20 */
   word-break: break-word;
}
/*.floral-card__title + *:not([class]) {
   grid-column: 1 / 2;
}*/
/*.floral-card__info>* {
   margin-bottom: 14px;
}*/
.floral-card__buttons {
   display: grid;
   grid-template-columns: repeat(2,auto);
   grid-row: auto;
   grid-row: 2 / 3;
   grid-column: 2 / 3;
   row-gap: 20px;
   column-gap: 19px;
   align-self: start;
}
/*.floral-card__buttons ~ * {
   grid-column: 1 / -1;
}*/
.floral-card__btn {
}
.floral-card__price {
   grid-column: auto;
   color: #4E4E4E;
   font-family: "Carme", sans-serif;
   font-size: 18px;
   line-height: 1.22222222; /* 22/18 */
}

.floral-card__description, 
.floral-card__short-info {
   row-gap: 14px;
}
.floral-card__description:has(>:first-child:not([class])) .floral-card__title {
   grid-row: 2 / 3;
}
.floral-card__description:has(>:first-child:not([class])) .floral-card__buttons {
   grid-row: 3 / 4;
}