/*---------------BUTTONS-------------------*/
.blos-button {
   width: 30px;
   aspect-ratio: 1;
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   will-change: transform;
   transition: transform 0.4s;
}
.blos-button:hover {
   transform: scale(1.2);
}
.blos-button--wish {
   background-image: url("../../../../img/icons/product/like-1.avif");
}
.blos-button--cart {
   background-image: url("../../../../img/icons/product/cart/cart-1.avif");
}
.blos-button--cart:hover {
   transform: rotate(-20deg);
}
.blos-button:focus-visible {
   outline-offset: 2px;
}
/*-------------------------------------------------*/

/*----------------JOINT STYLES--------------------*/
/*------------------------------------------*/

/*----------------------------LINKS----------------------------------*/
.blos-link {
   line-height: 1.377;
   min-width: 100px;
   max-width: 100%;
   text-align: center;
   outline: 1px solid #DBCCBA;
   outline-offset: 3px;
}
.blossomia .blos-link:focus-visible {
   background: #35cd51;
   outline: none;
}
.blos-link__body {
   padding-block: 9px;
   padding-inline: 12px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
   background: #DBCCBA;
}
.blos-link__body::after {
   content: '';
   display: none;
   flex-shrink: 0;
   background: url('../../../../img/icons/arrows/arrow_right/arrow-right-1.avif') center / contain no-repeat;
}
.blos-link__body strong {
   
}
.blos-link__body svg {
   stroke-width: 1.5;
   stroke: #2C2C2C;
}

.blos-link__body::after,
.blos-link__body svg {
   width: 23px;
   aspect-ratio: 23 / 14;
}
/*-------------------------------------------------*/
