/*-------------------HOVER---------------------*/
@media (any-hover: hover) {
   /*-----------------BUTTONS----------------*/
   .blos-button {
      width: 23px;
   }
   /*---------------------------------------------*/
   /*-----------------LINKS---------------------*/
   .blos-link {
      transition: background-color 0.8s, color 0.8s, box-shadow 0.8s;
   }
   .blos-link:hover {
      color: #fff;
      background-color: #e5ea9b;
      box-shadow: 5px 5px 10px #ccc, 
      inset 0 0 3px #7e7a7a;
   }
   .blos-link:hover .blos-link__body {
      background-color: #a7baa6;
   }
   .blos-link__body {
      transition: background-color 0.8s;
   }
   .blos-link__body::after {
      transition: background-image 0.8s;
   }
   .blos-link:hover .blos-link__body::after {
      background-image: url('../../../../img/icons/arrows/arrow_right/arrow-right-white.avif');
   }
   .blos-link:hover svg {
   }
   .blos-link__body strong {
      transition: font-weight 0.8s;
   }
   .blos-link:hover .blos-link__body strong {
      font-weight: 700;
   }
   /*---------------------------------------------*/
}

@media (any-hover: hover) and (max-width: 479.98px) {
   .blos-link:hover path {
      stroke: #fff;
   }
   .blos-link path {
      transition: stroke 0.8s;
   }
}
/*---------------------------------------------*/

@media (min-width: 480px) {
   .blos-link {
      padding: 10px;
   }
   .blos-link__body {
      padding-inline: 30px;
      gap: 10px;
   }
   .blos-link__body::after {
      display: block;
   }
   .blos-link__body strong {
      font-weight: 400;
   }
   .blos-link__body svg {
      display: none;
   }
}
@media (min-width: 451px) {
   .blos-link {
      max-width: max-content;
   }
}
@media (min-width: 351px) and (max-width: 479.98px) {
   .blos-link {
      padding: 5px;
   }
   .blos-link__body {
      padding-inline: 15px;
   }
}
@media (min-width: 351px) {
   .blos-link {
      border: 1px solid #DBCCBA;
      outline: none;
   }
}

/*----------MAX----------*/
@media (max-width: 380.98px) {
   .blos-link__body svg {
      width: 20px;
   }
}