@import url("https://fonts.googleapis.com/css?family=Merriweather:600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500,700&display=swap");


//PF Din Text Pro
@font-face {
   font-family: "PF Din Text Pro";
   src: url("../../../fonts/pf-dintext-pro/PFDinTextPro-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "PF Din Text Pro";
   src: url("../../../fonts/pf-dintext-pro/PFDinTextPro-Bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

//Circular Std
@font-face {
   font-family: "Circular Std";
   src: url("../../../fonts/circular_std/CircularStd-Book.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Circular Std";
   src: url("../../../fonts/circular_std/CircularStd-Medium.woff2") format("woff2");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Circular Std";
   src: url("../../../fonts/circular_std/CircularStd-Bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

