.hero {
   position: relative;
   padding-block: 18px; /* 50/1920 */
   background: #5E5372;
   color: #EBE691;
   font-size: 18px;
}
.hero__container {
   position: relative;
}
.hero__bg:has(picture:target) picture:target {
   transform: rotateX(180deg);
}
.hero__bg:has(#girls:target) #boys {
   transform: rotateX(0deg);
}
.hero:has(#girls:target) [href="#girls"] {
   visibility: hidden;
}
.hero:has(#girls:target) [href="#boys"] {
   visibility: visible;
}
.hero:has(#boys:target) #girls {
   transform: rotateX(0deg);
}
.hero:has(#boys:target) [href="#girls"] {
   visibility: visible;
}
.hero__bg,
.hero__bg>picture {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.hero__bg>picture {
   backface-visibility: hidden;
   will-change: transform;
   transition: transform 3s;
}
#girls {
   /*transform: rotateX(0deg);*/
}
/*#girls:target {
   transform: rotateY(180deg);
}*/
#boys {
   transform: rotateX(180deg);
}
.hero__bg>picture>img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.hero__body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   /*!Якщо потрібно зробити секцію таким чином, щоб заголовок був вгорі, а решта контенту внизу, плюс з min-height, то min-height потрібно задавати для блоку всередині якого знаходиться цей контент*/
   min-height: 600px;
}
.hero__body>* {
   margin-bottom: 30px;
}
.hero__title {
   flex-grow: 1;
}
.hero__title strong {
   white-space: nowrap;
}
.hero__text {
   align-self: flex-start;
   margin-bottom: 10px;
   color: rgb(54, 49, 49);
   line-height: 1.2;
   background: rgba(255, 255, 255, 0.5);
   font-weight: 700;
}
.hero__text p:not(:last-child) {
   margin-bottom: 10px;
}
.hero__buttons {
   position: relative;
}
.hero__btn {
   text-align: center;
   padding: 10px;
   background: #32B5A4;
   border-radius: 10px 0;
   transform: skewX(-10deg);
   font-size: 20px;
   box-shadow: 5px 5px 10px #000;
}
.hero__btn:focus-visible {
   outline: 7px solid rgb(243, 99, 99);
   outline-offset: 0;
}
.hero__btn strong {
   display: inline-block;
   transform: skewX(10deg);
}
[href="#girls"] {
   
}
[href="#boys"] {
   position: absolute;
   top: 0;
   left: 0;
   visibility: hidden;
}
.my-button {
}

.hero__text,
.hero__btn {
   font-family: "Circular Std", sans-serif;
}