@import "_fonts";
@import "_nullstyle";


//$fontSize: 16;
//$baseWidth: 1920;
$baseContainerWidth: 1170;
$color1: #ff0000;


body {
   font-family: "PF Din Text Pro", sans-serif;
}
h1,h2,h3,h4,h5,h6 {
   font-family: "Merriweather", serif;
   font-weight: 600;
   line-height: 1.2;

   em {
      font-style: inherit;
   }
}
h1 {
   font-size: 40px;
}
h2 {
   margin-block: 0 20px;
   font-size: 32px;
}
h3 {
   font-size: 25px;
}
h4 {
   font-size: 20px;
   font-weight: 700;
}
blockquote, q {
   font-family: "Oswald", sans-serif;
   font-size: inherit;
   font-weight: 700;
   line-height: 1.4;
   color: #f54646;
   text-shadow: 3px 3px 10px #f54646;

   cite {
      color: #330d3f;
      text-shadow: 3px 3px 10px rgba(51, 13, 63, 0.627);
   }
}
a[href="#"] {
   color: $color1;
}
nav ul a[href="#"] {
   color: #a79292;
}
figcaption {
   text-align: center;
   font-size: 1.25rem;
   color: #a79292;
}
img {
   font-family: "Oswald", sans-serif;
   font-size: 24px;
   letter-spacing: 4px;
   color: $color1;
   text-shadow: -4px -4px 7px #fff458;
}
.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
}
/*.header {
   position: relative;

   &__bg-text {
      position: absolute;
      top: 0;
      right: -5%;
      //width: 30px;
      font-size: 40px;
      //white-space: nowrap;
   }
}*/
.main {
   flex: 1 1 auto;
}
[class*="__container"] {
   margin: 0 auto;
   max-width: $baseContainerWidth + px;
}
.main-text {
   font-size: 1.375rem;
   line-height: 1.4;
   text-indent: 1.5625rem;
}
.lead {
   margin-block: 0 16px;
   font-family: "Poppins", sans-serif;
   font-size: 1.5rem;
   font-weight: 700;
   color: #1A1A1A;
   text-indent: 0;
}
.lead>p,
.description__text>p {
   margin-block: 0 24px;

   &:last-of-type {
      margin-block-end: 0;
   }
}
.line-through {
   text-decoration: line-through;
   text-decoration-thickness: 3px;
}
.uppercase {
   text-transform: uppercase;
}
.capitalize {
   text-transform: capitalize;
}
.underline {
   text-decoration: underline;
}
.wavy {
   text-decoration-line: underline;
   text-decoration-color: $color1;
   text-decoration-style: wavy;
   text-underline-offset: 0.22em; /* 5/22 */
}
/*.negative {
   //text-align: right;
   //letter-spacing: -1.22em;
   //transform: scaleX(-1);
}*/ 
.logo {

   &__text {
      font-size: 1.5rem;
      font-style: oblique;
      color: #ffd700;
      text-transform: capitalize;
   }
}
.nav {

   &__body {
      &>ul {
         &>li {
            font-size: 24px; 
            color: #ff4a0e;

            &>ul>li {
               color: #9044fa;
            }
         }

         li {
            cursor: pointer;
         }
         a {
            color: inherit;
         }
      }
   }
}
.hero {

   &__text {
      font-size: 1.5rem;
   }
}
.article {
   padding: 5.208333% 0; /* 100/1920 */
   
   a {
      color: #16f70f;
      text-decoration: underline;
   }
}
.description {

   &__text {
      margin-block: 0 24px;
      line-height: 1.5;
      color: #808080;
   }
}
.chapter {

   &__body {
      &>section {
         margin-block: 0 30px;
   
         &:last-of-type {
            margin-block-end: 0;
         }
         //padding-block: 30px;
      }
   }
}
.figma-task {
   font-family: "Poppins", sans-serif;

   &__description {
      .description__text {
         font-size: 1.125rem;

         .lead {         
            font-size: 1.25rem;
            font-weight: 500;
         }
      }
   }
}
.footer {
   padding: 3.125% 0; /* 60/1920 */
}
.owner-name {
   font-weight: 700;
   color: #2e2cb1;
}







