@keyframes get-out-car-joe {
	/*100% {
		//transform: translate3d(150%,$headMargTop*2,0-$carWidthPx+$bodyDepth*1.5) rotateX(30deg) rotateY(-90deg);
      transform: translate3d(150%,$headMargTop*2,0-$carWidthPx+$bodyDepth*1.5) rotateX(0deg) rotateY(-180deg);
	}*/
   12.5% { //0.5s 
		transform: translate3d(150%,$headMargTop*2,0-$carWidthPx+0-$bodyDepth) rotateX(30deg) rotateY(-90deg); //нагнувся, -90deg - повернутий в бік руля
	}
	37.5% { //1.5s
		transform: translate3d(150%,$headMargTop*2,0-$carWidthPx+0-$bodyDepth) rotateX(0deg) rotateY(-115deg); //крутиться до виходу
	}
	62.5% { //2.5s
		transform: translate3d(150%,$headMargTop*2,0-$carWidthPx+0-$bodyDepth) rotateX(20deg) rotateY(-135deg); //ще раз нагнувся та ще більше покрутився в бік виходу
	}
	100% {
      width: $personWidth*1.3;
		height: $personHeight*1.3;
		//height: $personHeight;
		transform: translate3d(150%,-$personHeight*0.3,0-$carWidthPx+0-$bodyDepth*$getOutCarKoef) rotateX(0deg) rotateY(-180deg); //повністю повернутий в бік виходу, а в процесі виходу повернувся вправо на 45deg
	}
   /*100% {
      transform: translate3d(150%,$headMargTop*2,0-$carWidthPx+0-$bodyDepth+0-$limbDepth) rotateX(0deg) rotateY(-90deg);
	}*/
}

/*------------------WALKING---------------------*/
@keyframes joe-goes-to-tommy { //12s
	0% {
		transform: translate3d(150%,-$personHeight*0.3,0-$carWidthPx+0-$bodyDepth*$getOutCarKoef) rotateX(0deg) rotateY(-180deg);
	}
	100% { //5.25s
		transform: translate3d(400%,-60%,0-$carWidthPx+0-$bodyDepth*$getOutCarKoef) rotateX(0deg) rotateY(-210deg);
	}
}
/*-----------------------------------------------*/
@keyframes joe-shot-tommy { 
	//рука тягнеться по ствол - 0.5s
	50% {
		transform: rotateX(90deg) rotateZ(-70deg);
	}
	//рука направлює ствол на Томаса - 0.5s
	100% {
		transform: rotateX(100deg) rotateZ(0deg);
	}
}
@keyframes joe-hide-gun {
	0% {
		transform: rotateX(100deg) rotateZ(0deg); /* положення після пострілу */
	}
	50% {
		transform: rotateX(90deg) rotateZ(-70deg); /* ховає лупару */
	}
	100% {
		transform: none; /* початкове положення */
	}
}