/*-------------------HOVER---------------------*/
@media (any-hover: hover) {
   .card-product__inner {
      transition: border-color 0.5s, box-shadow 0.5s;
   }
	.card-product__inner:hover {
      border-color: #2C742F;
      box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
      z-index: 1;
   }
   .card-product__inner:hover .card-product__title {
      color: #2C742F;
      /*text-decoration: none;*/
   }
   .card-product__inner:hover .card-product__btn {
      background-color: #00B207;
   }
   .card-product__inner:hover .overlay-prod__btn {
      visibility: visible;
      opacity: 1;
   }
   .overlay-prod__buttons {
      gap: 6px;
      max-height: 240px;
   }
   .overlay-prod__btn {
      visibility: hidden;
      opacity: 0;
      transition: background-color 0.5s, opacity 0.5s;
   }
   /*----------------JOINT STYLES--------------------*/
   /*------------------------------------------*/
}
/*---------------------------------------------*/

@media (max-width: 767.98px) {
   .cards-products {
      padding-block: 8px;
   }
}

@media (min-width: 1201px) {
   .card-product__title {
      padding-right: 50px;
   }
   .card-product__btn {
      transform: translateY(-12px);
   }
}
@media (min-width: 768px) {
   .cards-products {
      flex-wrap: wrap;
      overflow: visible;
   }
   .card-product__description>* {
      margin-bottom: 10px;
   }
   .card-product__title {
      margin-bottom: 5px;
      font-size: 14px;
      /*font-weight: initial;*/
   }
   .card-product__price {      
      font-size: 16px; 
      line-height: 1.5;     
   }
   .card-product__live-price {
      font-weight: 500;
   }
}
@media (min-width: 480px) {
   .card-product__btn {      
      margin-right: 4px;      
   }
}

/*------------------АДАПТИВ СТРУКТУРИ КАРТОК----------------------*/
@media (min-width: 1196px) {
   .cards-products__card {
      flex-basis: calc(20% + 1px);
   }
}
@media (min-width: 963px) and (max-width: 1195.98px) {
   .cards-products__card {
      flex-basis: calc(25% + 1px);
   }
}
@media (min-width: 768px) and (max-width: 962.98px) {
   .cards-products__card {
      flex-basis: calc(33.333% + 1px);
   }
}
@media (min-width: 528px) and (max-width: 767.98px) {
   .cards-products__card {
      flex-basis: calc(47% + 1px);
   }
}
/*------------------------------------------------------*/

/*--------------------COMBINE MEDIA----------------*/
@media (max-width: 767.98px) and (any-hover: hover) {
   .card-product__inner:hover {
      box-shadow: 0px 0px 8px 0px rgba(32, 181, 38, 0.32);
   }
}
/*---------------------------------------------------*/