.cards-products {
   /*margin-right: 1px;*/
   display: grid;
   /*width: 100%;*/
   grid-auto-columns: 90%;
   gap: 20px 1.515152%; /* 20/1320 */
   align-content: center;
   overflow: auto;
   grid-auto-flow: column;
   /*min-width: 248px;*/
}
.cards-products__prod-card {

}
.cards-products__prod-card:first-child {
   /*grid-column: 1 / 2;*/
}
.cards-products .banner-card {
   min-height: 98.820059%; /* 335/339 */
   align-self: center;
   /*grid-column: 2 / 3;*/
}
.prod-card {
   /*margin: 0 -1px -1px 0;*/
   position: relative;
   border: 1px solid #E6E6E6;
}
/*.prod-card:first-child {
   grid-column: 1 / -1;
}*/
/*.prod-card__inner {
   position: relative;
}*/
.prod-card__overlay {
}
.prod-card__body {
   position: relative;
   display: flex;
   flex-direction: column;
   height: 100%;
}
.prod-card__image,
.prod-card__image>picture {
   aspect-ratio: 1;
}
.prod-card__image {
}
.prod-card__description {
   padding: 15px;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}
.prod-card__description>* {
   margin-bottom: 8px;
}
.prod-card__title {
   flex-grow: 1;
   color: #4D4D4D;
   font-size: 18px;
   line-height: 1.14285714; /* 16/14 */
}
.prod-card__title a {
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* Кількість рядків */
   /*line-clamp: 2;*/
   overflow: hidden;
   word-break: break-word;
}
.prod-card__group {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   gap: 20px;
   /*flex-grow: 1;*/
}
.prod-card__info {
   display: flex;
   flex-direction: column;
}
.prod-card__info>* {
   margin-bottom: 6px;
}
.prod-card__btn {
   /*align-self: flex-start;*/
   flex-shrink: 0;
}
.prod-card__price {
   display: flex;
   flex-wrap: wrap;
   gap: 2px;
   font-size: 18px;
   line-height: 1.2;
}
.prod-card__live-price {
   font-weight: 600;
}
.prod-card__old-price {
   display: none;
   color: #999;
   font-weight: 400;
   text-decoration-line: line-through;
}
.prod-card--sale .prod-card__price .prod-card__old-price {
   display: inline;
}
.prod-card__rating {
}

/*-----------------CATEGORIES----------------*/
.categories-products {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
   gap: 24px 1.818182%; /* 24/1320 */
}
.categories-products__category {
}
.categories-products .banner-card {
   min-height: 300px;
   grid-column: 1 / -1;
}
.categories-products .banner-card__bg img {
   object-position: bottom;
}
.categories-products__category>* {
   margin-bottom: 16px;
}
.categories-products__title {
   font-size: 18px;
   font-weight: 500;
}
.categories-products__cards {
   display: flex;
   flex-direction: column;
   gap: 16px 1.212121%; /* 16/1320 */
}
.categories-products__card {
   min-height: 116px;
}
.categories-products__card .prod-card__body {
   flex-direction: row;
   align-items: center;
}
.categories-products__card .prod-card__image {
   border: 5px solid transparent;
   width: 36.129032%; /* 112/310 */
   align-self: flex-start;
}
.categories-products__card .prod-card__description {
   padding: 3.870968%; /* 12/310 */
}
.categories-products__card .rating__item svg {
   width: 16px;
}
/*-------------------------------------------*/

/*-----------------OVERLAY----------------*/
.prod-card--sale .label-prod--sale,
.prod-card--new .label-prod--new,
.prod-card--best .label-prod--best,
.prod-card--out .label-prod--out {
   display: inline-block;
}
.overlay-prod {
   padding: 6.451613%;
   display: flex;
   justify-content: space-between;
   gap: 20px;
   align-items: flex-start;
}
.overlay-prod__labels {
   display: flex;
   flex-wrap: wrap;
   gap: 8px;
}
.overlay-prod__label {
   display: none;
   padding: 3px 8px;
   text-align: center;
}
.label-prod {
   color: #FFF;
   font-weight: 400;
   border-radius: 4px;
}
.label-prod--sale {
   background: #EA4B48;
}
.label-prod--new {
   background: #FF8A00;
}
.label-prod--best {
   background: #2388FF;
}
.label-prod--out {
   background: #1A1A1A;
}
.label-prod>span {
   font-weight: 500;
}
.overlay-prod__buttons {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap-reverse;
   justify-content: flex-end;
   gap: 12px;
   max-height: 260px;
}
.overlay-prod__btn {
   background: #fff;
   border: 1px solid #F2F2F2;
}
.overlay-prod__btn:hover {
   border-width: 0;
   background-color: #00B207;
}
/*-------------------------------------------*/

/*----------------JOINT STYLES--------------------*/
.overlay-prod__label,
.overlay-prod__btn {
   position: relative;
   z-index: 1;
}
/*------------------------------------------*/







/*-------------------HOVER---------------------*/
@media (any-hover: hover) {
   /*.prod-card__inner::before {
      transition: opacity 0.5s;
   }*/
	/*.prod-card__inner:hover::before {
      opacity: 1;
   }*/
   .prod-card:hover .prod-card__title {
      color: #2C742F;
      /*text-decoration: none;*/
   }
   .prod-card:hover .prod-card__btn {
      background-color: #00B207;
   }
   .prod-card:hover .overlay-prod__btn {
      visibility: visible;
      opacity: 1;
   }
   /*.overlay-prod__buttons {
      gap: 6px;
      max-height: 240px;
   }*/
   .overlay-prod__btn {
      visibility: hidden;
      opacity: 0;
      transition: background-color 0.5s, opacity 0.5s;
   }
   /*----------------JOINT STYLES--------------------*/
   /*------------------------------------------*/
}
/*---------------------------------------------*/

/*----------------------PRODUCTS---------------------*/
@media (max-width: 767.98px) {
   .cards-products {
      padding-block: 8px;
   }
}

@media (min-width: 768px) {
   .prod-card__description {
      padding: 4.878049% 6.504065% 6.504065%; 
   }
   .prod-card__description>* {
      /*margin-bottom: 10px;*/
   }
   .prod-card__title {
      margin-bottom: 5px;
      padding-right: 50px;
      font-size: 14px;
   }
   .prod-card__btn {
      transform: translateY(-9px);
   }
   .prod-card__price {      
      font-size: 16px; 
      line-height: 1.5;     
   }
   .prod-card__live-price {
      font-weight: 500;
   }
}
/*@media (min-width: 480px) {
   .prod-card__btn {      
      margin-right: 4px;      
   }
}*/
/*------------------АДАПТИВ СТРУКТУРИ КАРТОК----------------------*/
@media (min-width: 1350px) {
   .categories-products .banner-card {
      grid-column: auto;
   }
   .categories-products .banner-card__bg img {
      object-position: center;
   }
}
@media (min-width: 798px) {
   .cards-products {
      overflow: visible;
      grid-auto-rows: 1fr;
      grid-auto-flow: row;
      grid-auto-columns: auto;
      grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
   }
}
@media (min-width: 554px) and (max-width: 797.98px) {
   .cards-products {
      grid-auto-columns: 45%;
   }
}
/*------------------------------------------------------*/

/*--------------------COMBINE MEDIA----------------*/
/*---------------------------------------------------*/