.advantages {
   padding: 11.772487% 0 5.886243%; 
}
.advantages .items {
   overflow: hidden;

   &__body {
      margin: -15px -30px;
      font-size: 0;
      text-align: center;

      &>* {
         display: inline-block;
         vertical-align: top;
         font-size: initial;
      }
   }

   &__item {
      padding: 15px 30px;
      width: 33.333%;
      min-width: 400px;
   }
}
.advantages .item {

   &__body {
      min-height: 350px;
   }

   &__content {
      &>* {
         margin-bottom: 13px;
         display: inline-block;
         width: 100%;
         text-align: center;
      }
   }

   &__icon {
      margin: 0 auto 25px;
      display: block;
      width: 84px;
      height: 84px;

      img {
         max-width: 100%;
         max-height: 100%;
         //object-fit: contain;
      }
   }

   &__title {
      color: #000;
      font-size: 48px;
      font-weight: 600;
      line-height: 1.45833333; /* 70/48 */
   }

   &__text {
      color: $rebelColor3;
      font-size: 18px;
      font-weight: 500;
      line-height: 2;

      p:not(:last-child) {
         margin-bottom: 10px;
      }
   }
}
