//!Зображення буде виходити за межі вікна, на дуже малих екранах, якщо задати його контейнеру min-width
.gallery {
   padding: 11.772487% 0; /* 178/1512 */

   &__body {
      &>* {
         margin-bottom: 79px;
      }
   }

   &__subtitle {
      /*width: 100%;
      display: inline-block;*/
      margin: 0;
      display: block;
   }
   &__text {
      text-align: center;
      font-size: 26px;
   }
}
.thumbnails {
   overflow: hidden;

   &__body {
      margin: -10px;
      font-size: 0;

      &>* {
         display: inline-block;
         vertical-align: top;
         font-size: initial;
      }
   }

   &__thumb-group {
      padding: 10px;
      width: 50%;
      min-width: 400px;
   }
}
.thumb-group {

   &:nth-child(odd) {
      .thumb-group__image-container {
         &:nth-child(4n+1) {
            figure {
               border-radius: 1.47929%; /* 10/676 */
            }
         }
         &:nth-child(4n+2) {
            figure {
               padding-bottom: calc(50% - 10px);
               //!Якщо фігура не квадрат і ми вираховуємо border-radius у відсотках, то потрібно брати до уваги ще вертикальний радіус
               //!Радіус у відсотках вираховується від розмірів самого лемента, а не його батька
               border-radius: 1.47929% / 3.04878%; //10/676  10/328
            }
         }
         &:nth-child(4n+1),
         &:nth-child(4n+2) {
            width: 100%;
         }
      }
   }
   &:nth-child(even) {
      .thumb-group__image-container {
         &:nth-child(4n+4) {
            figure {
               border-radius: 1.47929%; /* 10/676 */
            }
         }
         &:nth-child(4n+1) {
            figure {
               padding-bottom: calc(50% - 10px);
               //!Якщо фігура не квадрат і ми вираховуємо border-radius у відсотках, то потрібно брати до уваги ще вертикальний радіус
               //!Радіус у відсотках вираховується від розмірів самого лемента, а не його батька
               border-radius: 1.47929% / 3.04878%; //10/676  10/328
            }
         }
         &:nth-child(4n+1),
         &:nth-child(4n+4) {
            width: 100%;
         }
      }
   }

   &__body {
      overflow: hidden;
   }

   &__content {
      margin: -10px;
      font-size: 0;
      
      &>* {
         display: inline-block;
         vertical-align: top;
         font-size: initial;
      }
   }

   &__image-container {
      padding: 10px;
      width: 50%;

      figure {
         padding-bottom: 100%;
         position: relative;
         border-radius: 3.04878%;
         overflow: hidden;
   
         img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }
}
