.cards-news {
   margin-inline: -4px;
   gap: 24px 0;
   overflow: auto;
}
.cards-news__card {
   padding-inline: 4px;
   flex: 0 0 97%;
}
.card-news {
}
.card-news__body {
   height: 100%;
   border-radius: 8px;
   background: #fff;
   overflow: hidden;
}
.card-news__image {
   position: relative;
   background: #808080;
}
.card-news__link-img {
   position: relative;
   width: 100%;
}
.card-news__link-img:focus-visible {
   outline-offset: -10px;
   outline-width: 10px;
}
.card-news__link-img>picture {
   aspect-ratio: 424 / 324;
}
.card-news__info {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   border: 1px solid #E6E6E6;
   border-bottom-left-radius: inherit;
   border-bottom-right-radius: inherit;
}
.card-news__info>* {
   margin-bottom: 14px;
}
.card-news__meta {
   margin-bottom: 8px;
}
.meta {
   display: flex;
   flex-wrap: wrap;
   gap: 8px 16px;
   align-items: flex-start;
}
.meta__item {
   display: inline-flex;
   color: #808080;
   align-items: center;
   gap: 4px;
}
.meta__item::before {
   content: '';
   width: 20px;
   aspect-ratio: 1 / 1;
   align-self: flex-start;
   flex-shrink: 0;
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}
.meta__item--category::before {
   background-image: url('../../../../../img/icons/meta/label.svg');
}
.meta__item--author::before {
   background-image: url('../../../../../img/icons/meta/user.svg');
}
.meta__item--comments::before {
   background-image: url('../../../../../img/icons/meta/comment.svg');
}
.meta__text {
}
.meta__text a {
   outline-offset: 1px;
}
.meta__data {
}
.card-news__title {
   margin-bottom: 20px;
   flex-grow: 1;
   color: #1A1A1A;
   font-size: 16px;
   font-weight: 500;
}
.card-news__link {
   align-self: flex-start;
   line-height: 1.2;
}
.card-news__link strong {
   font-weight: 600;
}
.card-news__overlay {
}

/*--------------OVERLAY-----------------*/
.overlay-news {
}
.overlay-news__date {
   display: inline-flex;
   flex-direction: column;
   gap: 2px;
   padding: 6px 12px;
   text-align: center;
   position: relative;
   top: 100%;
   left: 0;
   transform: translateY(-100%);
   z-index: 1;
   background: rgba(255, 255, 255, 0.85); 
   color: #1A1A1A;
   font-weight: 500;
   line-height: 1; 
   border-radius: 12px;
}
.overlay-news__day {
   font-size: 14px;
}
.overlay-news__month {
   color: #808080;
   font-size: 12px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}
/*--------------------------------------*/

/*----------------JOINT STYLES--------------------*/
.card-news__info,
.overlay-news {
   padding: 3.301887%; /* 14/424 */
}
/*-------------------------------------------*/
