$ecoColor1: #808080;


.ecobazar {
   font-family: "Poppins", sans-serif;
   font-size: 14px;

   [class*="__container"] {
      max-width: 1350px;
   }
}

.big-info {
   padding: 32px 0 0;
}
.descriptions {

   &__text {
      //max-width: 49.090909%; /* 648/1320 */
      width: 100%;
      max-width: 648px;
      color: $ecoColor1;

      & > * {
         margin-bottom: 20px;
      }

      p {
         line-height: 1.5;

         &:not(:last-child) {
            margin-bottom: 20px;
         }
      }
      &>ul {
         li {
            &:not(:last-child) {
               margin-bottom: 14px;
            }
         }
         &>li {
            padding: 0 0 0 28px;
            min-height: 20px;
            background: url('../img/ecobazar/icon/checkbox/check.svg') 0 0 / 20px no-repeat;
            line-height: 1.4;
         }
      }

      & > *:last-child {
         margin-bottom: 0;
      }
   }
}
