//Circular Std
@font-face {
   font-family: "Circular Std";
   src: url("../../../fonts/circular_std/CircularStd-Book.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Circular Std";
   src: url("../../../fonts/circular_std/CircularStd-Medium.woff2") format("woff2");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Circular Std";
   src: url("../../../fonts/circular_std/CircularStd-Bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

