$hydraColor1: #302C42;


.hydra {
   font-family: "Montserrat", sans-serif;
   color: #fff;
   background: $hydraColor1;

   a {
      color: #fff;
   }

   [class*="__container"] {
      max-width: 1302px;
   }
}
.hydra .hero {
   padding: 0 0 3.125%; /* 45/1440 */
}
.contacts {
   padding: 2.044025% 4.212264% 1.886792%; 
   border-radius: 90px;
   background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
   box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
   overflow: hidden;

   &__wrapper {
      word-spacing: -1em;

      & > * {
         word-spacing: initial;
      }
   }

   &__slide {
      //background: red;
      display: inline-block;
      vertical-align: top;
      width: 33.333%; 
      //min-width: 31.764019%; /* 370/1164.84 */
   }
}
.slide {
   position: relative;
   //29 20 27 0
   //padding: 0 20px 0 0;
   //border-right: 1px solid rgba(192, 183, 232, 0.33);

   & ~ .slide {
      padding-left: 4.292435%; /* 50/1164.84 */
   }

   &:last-child {
      &::after {
         display: none;
      }
      .slide__link {
         padding-right: 0;
      }
   }

   &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 116.5px;
      //height: 10.001374%; /* 116.5/1164.84 */
      background: rgba(192, 183, 232, 0.33);
   }

   &_location {
      .slide__body {
         //background-image: url('../../../img/hydra/icon/contacts/location.svg');
         background-image: url('../img/hydra/icon/contacts/location.svg');
      }
   }
   &_phone {
      //padding: 0 4.323899%; /* 55/1272 */
      //padding: 0 4.721662%; /* 55/1164.844 */
      //width: 29.127358%; /* 370.5/1272 */
      //width: auto;
      //border-right: 1px solid rgba(192, 183, 232, 0.33);
      //border-left: 1px solid rgba(192, 183, 232, 0.33);

      .slide__body {
         //background-image: url('../../../img/hydra/icon/contacts/phone-call.svg'); 
         background-image: url('../img/hydra/icon/contacts/phone-call.svg'); 
      }
   }
   &_email {
      .slide__body {
         //background-image: url('../../../img/hydra/icon/contacts/email.svg'); 
         background-image: url('../img/hydra/icon/contacts/email.svg'); 
      }
   }

   &__link {
      padding: 7.469029% 20px 6.953924% 0;
      display: block;
      //min-height: 65px;
      /*background-position: 0 0;
      background-size: auto 65px;
      background-repeat: no-repeat;*/
   }

   &__body {
      padding: 0 0 0 95px;
      min-height: 65px;
      word-spacing: -1em;
      background-position: 0 0;
      background-size: auto 65px; //не contain, бо тоді картинка буде намагатись повністю заповнити блок хоча б однією стороною(width або height)
      //background-size: contain;
      background-repeat: no-repeat;

      & > * {
         vertical-align: top;
         word-spacing: initial;
      }
   }

   /*&__image {
      margin: 0 30px 0 0;
      display: inline-block;
   }*/

   &__info {
      display: inline-block;
   }

   &__title {
      margin: 0 0 10px;
      font-size: 24px;
      line-height: 1.20833333; /* 29/24 */
   }

   &__text {
      font-size: 14px;
      line-height: 1.64285714; /* 23/14 */
   }
}

.hydra .about {
   padding: 3.125% 0 3.819444%; /* 55/1440 */

   &__bg {
      //background: url('../../../img/hydra/bg/png/wave1.png') 0 15px / 100.625% no-repeat, url('../../../img/hydra/bg/png/wave2.png') 0 301px / 100.347222% no-repeat;
      background: url('../img/hydra/bg/png/wave1.png') 0 15px / contain no-repeat, url('../img/hydra/bg/png/wave2.png') 0 301px / contain no-repeat;
   }
   &__body {
      font-size: 0;

      & > * {
         vertical-align: top;
         display: inline-block;
         font-size: initial;
      }
   }

   &__image-container {
      margin: 0 9.27673% 0 0; /* 118/1272 */
      //width: 41.194969%; /* 524/1272 */
      width: 100%;
      max-width: 524px;
   }

   &__image {
      position: relative;
      padding: 0 0 106.29771%; /* 557/524 */
      border-radius: 45.801527% 19.083969%; /* 100/524 */
      //border-radius: 240px 100px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      overflow: hidden;

      //!Тому що краще не залишати div порожнім  
      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__info {
      //max-width: 49.528302%; /* 630/1272 */
      max-width: 630px;
      width: 100%;
   }
}
.hydra .info {
   padding: 3.694969% 0 0; 

   &__title {
      margin: 0 0 42px;
      font-size: 36px;
      line-height: 1.38888889; /* 50/36 */
      text-transform: uppercase;

      & > * {
         display: block;
      }

      & > strong {
         margin: 0 0 5px;
      }

      & > span {
         color: rgba(255, 255, 255, 0.95);
         font-weight: 300;
      }
   }

   &__text {
      margin: 0 0 28px;
      line-height: 1.625; /* 26/16 */
   }
}
.hydra .button {
   //padding: 1.41666667em 3.25em; 
   padding: 1.41666667em 39px; 
   display: inline-block;
   min-width: 112px;
   border-radius: 40px;
   background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
   font-size: 12px;
   line-height: 1.25; /* 15/12 */
   text-align: center;

   &__body {
      color: #343045;
      text-transform: uppercase;
   }
}

