/*-------------------HOVER---------------------*/
@media (any-hover: hover) {
   .ecobazar .banner-card__link {
      transition: background-color 0.5s, color 0.5s;
   }
   .banner-card__link path {
      transition: stroke 0.5s;
   }
   .banner-card__link:hover {
      background-color: #00B207;
   }
   .ecobazar .banner-card__link:hover {
      color: #fff;
   }
   .banner-card__link:hover path {
      stroke: #fff;
   }
   /*----------------JOINT STYLES--------------------*/
   /*------------------------------------------*/
}
/*---------------------------------------------*/

@media (min-width: 1351px) {
   .cards-products:not(.cards-products:has(.prod-card)) .banner-card {
      font-size: 18px;
   }
   .cards-products:not(:has(.prod-card)) .banner-card .title-banner__small {
      font-size: 20px;
   }
   .cards-products:not(:has(.prod-card)) .banner-card .title-banner__big {
      font-size: 36px;
   }
}
@media (min-width: 681px) {
   .cards-products:not(:has(.prod-card)):not(:has(.banner-card + *)) .banner-card {
      font-size: 18px;
   }
   .cards-products:not(:has(.prod-card)):not(:has(.banner-card + *)) .banner-card .title-banner__small {
      font-size: 20px;
   }
   .cards-products:not(:has(.prod-card)):not(:has(.banner-card + *)) .banner-card .title-banner__big {
      font-size: 36px;
   }
   .cards-products:not(:has(.prod-card)):not(:has(.banner-card + *)) .banner-card__link {
      min-width: min(300px, 100%);
   }
}
@media (min-width: 768px) {
   .banner-card--small .title-banner__small {
      font-size: 12px;
   }
}
@media (min-width: 381px) and (max-width: 553.98px) {
   .banner-card {
      padding-inline: 20px;
   }
}
@media (min-width: 451px) {
   .cards-products:not(.cards-products:has(.prod-card)):not(:has(.banner-card + *)) .banner-card {
      padding-inline: 30px;
   }
}
@media (min-width: 381px) and (max-width: 450.98px) {
   .cards-products:not(.cards-products:has(.prod-card)):not(:has(.banner-card + *)) .banner-card {
      padding-inline: 20px;
   }
}
/*--------------------COMBINE MEDIA----------------*/
/*---------------------------------------------------*/