/*------------------PERSON------------------*/
@keyframes get-out-car {
	/*0% {
		transform: translate3d(150%,$headMargTop*2,0-$bodyDepth*2.1) rotateX(0deg) rotateY(-90deg);
	}*/
   12.5% { //0.5s
		transform: translate3d(150%,$headMargTop*2,0) rotateX(-30deg) rotateY(-90deg);
	}
	37.5% { //1.5s
		transform: translate3d(150%,$headMargTop*2,0) rotateX(0deg) rotateY(-45deg);
	}
	62.5% { //2.5s
		transform: translate3d(150%,$headMargTop*2,0) rotateX(-20deg) rotateY(-45deg);
	}
	100% {
		height: $personHeight;
		transform: translate3d(150%,$headMargTop*2,$bodyDepth) rotateX(0deg) rotateY(0deg);
	}
}
@keyframes close-door {
	25% {
		transform: translate3d(150%,$headMargTop*2,$bodyDepth) rotateX(0deg) rotateY(45deg);
	}
	50% {
		transform: translate3d(150%,$headMargTop*2,$bodyDepth) rotateY(45deg) rotateX(-5deg);
	}
	70%,
	80% {
		transform: translate3d(150%,$headMargTop*2,$bodyDepth) rotateY(-180deg) rotateX(0deg);
		animation-timing-function: ease-in;
	}
	100% {
		transform: translate3d(150%,$headMargTop*2,$bodyDepth) rotateY(-270deg) rotateX(0deg);
	}
}

/*------------------HAND------------------*/
@keyframes hand-10degx {
	100% {
		translate: 0;
      rotate: x 10deg;
	}
}
@keyframes hand-50degx {
	40% {
		translate: 0;
      rotate: x 50deg;
	}
	100% {
		translate: 0;
      rotate: x 0deg;
	}
}
@keyframes hand-close-door {
	100% {
		transform: rotateX(50deg);
	}
}
/*------------------LEG------------------*/
@keyframes stand-up {
	100% {
      transform: translateZ(-$bodyDepth*$legsDepthKoef) rotateX(0deg);
	}
}
@keyframes bend-shin90deg {
	99.999% {
      rotate: x -90deg;
	}
	100% {
      rotate: x 0deg;
	}
}

//ROTATE +
@keyframes rot-0deg-x {
	100% {
      transform: rotateX(0deg);
	}
}
@keyframes rot-10deg-x {
	100% {
      transform: rotateX(50deg);
	}
}
@keyframes rot-45deg-x {
	100% {
      rotate: x 45deg;
	}
}
//ROTATE -
@keyframes rot-min10deg-x {
	100% {
      transform: rotateX(-10deg);
	}
}
@keyframes rot-min45deg-x {
	100% {
		//height: 65%;
      transform: rotateX(-45deg);
	}
}
/*@keyframes rot-45deg-z {
	100% {
      transform: rotateX(-45deg);
	}
}*/