.car-buttons {
   li {
      &:not(:last-child) {
         margin-bottom: 20px;
      }
      &>p {
         &:not(:last-child) {
            margin-bottom: 8px;
         }
      }
   }
   &__btn {
      
   }
}
.button {
   padding: 10px;
   background: $carColor1;
   color: $carColor2;
   border-radius: 10px;
   //will-change: background, box-shadow;
   transition: background 0.6s, box-shadow 0.8s;

   &:hover {
      background: $carColor4;
      box-shadow: 2px 2px 5px #000;
   }
}