@keyframes standart-appearance {
   100% {
      background: $girlColor;
   }
}
@keyframes water-flow {
   0% { 
      transform: translateX(50%) scaleY(1); 
      opacity: 0.5; 
   }
   50% { 
      transform: translateX(50%) scaleY(1.2); 
      opacity: 1; 
   }
   100% { 
      transform: translateX(50%) scaleY(1);
      opacity: 0.5; 
   }
}
@keyframes gun-visibility {
   0% {
      visibility: hidden;
   }
	100% {
		visibility: visible;
	}
}
@keyframes shot-flash {
   0%,
   100% {
      visibility: visible;
      opacity: 1;
      transform: translateX(10%) scale(1);
   }
}
//віддача при стрільбі
@keyframes gunshot-recoil {
	100% {
		transform: translateZ(0-$bodyDepth*1.5) rotateX(110deg) rotateZ(0deg);
	}
}
@keyframes show-replica { 
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}