@keyframes overlay-opacity1 {
   100% {
      background-color: #000;
   }
}
@keyframes end-title-appear {
   0% {
      visibility: visible;
   }
   100% {
      visibility: visible;
      opacity: 1;
   }
}