/*---------------BUTTONS-------------------*/
.button {
   text-align: center;
   transition: background-color 0.5s;
}
.button--big {
   padding: 16px 40px;
   background: #00B207;
   border-radius: 43px;
}
.button--small {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   aspect-ratio: 1 / 1;
   border-radius: 50%;
   background: #F2F2F2;
}
.button--small svg {
   width: 50%;
   aspect-ratio: 1 / 1;
}
.button * {
   color: #000;
   font-size: 16px;
   font-weight: 600;
   line-height: 1.2;
}
.button svg path {
   transition: stroke 0.5s;
}
.button:focus-visible {
   outline: 7px solid #2C742F;
}
/*-------------------------------------------------*/

/*----------------JOINT STYLES--------------------*/

/*------------------------------------------*/

/*----------------------------LINKS----------------------------------*/
.link {
   display: inline-flex;
   align-items: center;
   gap: 12px;
   font-size: 16px;
   font-weight: 500;
   color: #00B207;
   transition: color 0.3s;
}
.link svg {
   flex-shrink: 0;
}
.link svg path {
   transition: stroke 0.3s;
}
.link:hover svg path {
   stroke: #2C742F;
}
/*-------------------------------------------------*/
