@charset "UTF-8";
/*Очищення всіх стилів браузерів*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

address {
  font-style: normal;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

[class*=__overlay],
[class*=__bg] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*-------------FLEX-------------*/
[class*=__card] [class*=__body] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*----------------------------*/
/*----------SECTIONS-----------*/
.hero {
  padding-block: 2.5rem;
}
.hero__container > * {
  margin-bottom: 1.25rem;
}
.hero__text > * {
  display: block;
}
.hero__text p:not(:last-child) {
  -webkit-margin-after: 0.5rem;
          margin-block-end: 0.5rem;
}
.hero__text > *:not(p) {
  margin-block: 0.9375rem;
}
.poker-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14.375rem, 1fr));
  grid-auto-rows: 1fr;
  gap: 1.25rem;
}
.poker-cards .item {
  aspect-ratio: 230/350;
  position: relative;
  border-radius: 1.25rem;
  border: 1px solid #ccc;
  overflow: hidden;
  cursor: pointer;
}
.poker-cards .item.active .item__image--front {
  opacity: 1;
}
.poker-cards .item__image {
  height: 100%;
}
.poker-cards .item__image--back img {
  -o-object-fit: fill;
     object-fit: fill;
}
.poker-cards .item__image--front {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 40%;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.poker-cards .item__image--front img {
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: right bottom;
     object-position: right bottom;
}

.counter .item {
  max-width: 18.75rem;
  aspect-ratio: 1;
  background-color: #5ce49e;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #fff;
  font-size: 2.5rem;
}
.counter .item--observer {
  background-color: #9bf1ea;
}

/*-----------------------------*/
/*-------------CSS-ЗМІННІ------------*/
:root {
  --safePadd: 0.625rem;
  /*------------------COLOR----------------*/
  --colorPrimary: #000;
  /*TEXT*/
  --textPrimary: #ff0000;
  --colorWhite: #fff;
  /*---------------------------------------*/
  /*---------------FONT-SIZE----------------*/
  /*----------------------------------------*/
  /*-------------------HEADER----------------------*/
  /*--header-minh: 4.8125rem;*/
  /*----------------------------------------*/
}
@media (min-width: 25.0625em) {
  :root {
    --safePadd: 0.9375rem;
  }
}

/*-----------------------------------*/
* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}
html.loaded .wrapper {
  opacity: 1;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  color: var(--textPrimary);
  line-height: 1.2;
  /*background-color: var(--colorPrimary);*/
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: clip;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  /*&:has(.header:hover) .footer {
     background-color: rgb(95, 40, 18);
  }*/
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 5.625rem;
  z-index: 1000;
  padding: 0.625rem 0;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: rgba(187, 129, 129, 0.8);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

main > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  padding: 1.875rem 0;
  background-color: rgb(54, 43, 54);
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.header,
.footer {
  text-align: center;
  font-size: 1.875rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

[class*=container] {
  margin: 0 auto;
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

[class*=__container],
[class*="--scroll"] {
  padding-left: var(--safePadd);
  padding-right: var(--safePadd);
}

[class*="--scroll"] {
  margin-left: calc(0rem - var(--safePadd));
  margin-right: calc(0rem - var(--safePadd));
}

[id] {
  /*scroll-margin-top: var(--header-minh);*/
}

h1 {
  font-size: 2.5rem;
}

a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

@media (any-hover: hover) {
  a:hover {
    color: var(--textPrimary);
  }
}

a:focus-visible {
  outline: solid var(--color5);
  outline-width: 2px;
  outline-offset: 0.3125rem;
}

picture {
  display: block;
}

img {
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.link,
.button {
  padding: 0.625em;
  color: var(--colorWhite);
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.625rem;
  -webkit-transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.button {
  background-color: #ff0000;
}

.button:hover {
  background-color: #f56831;
  -webkit-box-shadow: 0 0 1.25rem #fff01e;
          box-shadow: 0 0 1.25rem #fff01e;
}

.link {
  background-color: #9aee4a;
}

.link:hover {
  background-color: #31f586;
  color: var(--colorWhite);
}

/*----------------------FORM----------------------*/
input[type=checkbox],
input[type=radio] {
  width: 0;
  height: 0;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

select {
  font-family: inherit;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*----------------------------------------------------*/
.cover-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.contain-img {
  -o-object-fit: contain;
     object-fit: contain;
}

[class*=__bg] {
  z-index: -1;
}

[class*=__image] > img,
picture > img {
  width: 100%;
  height: 100%;
}

/*-------------MEDIA--------------*/
@media (prefers-color-scheme: dark) {
  :root {
    /*TEXT*/
    /*---------------------------------------*/
  }
}
/*--------------------------------*/
[class*="--last-marg"] > *:last-child {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}