//$baseWidth: 1920;

.short-docs {
   position: relative;
   background: $busiColor1;
   color: $busiColor2;
   font-family: "Roboto", sans-serif;

   &::before {
      background: $busiColor2;
      height: 70px;
      top: 0;
      border-radius: 10% 10% 50% 40%/0% 0% 100% 85%;
   }
   &::after {
      background: #231F8B;
      height: 30px;
      bottom: 0;
      border-radius: 50% 40% 10% 10% / 100% 85% 0% 0%;
   }

   &::before,
   &::after {
      content: '';
      display: block;
      position: absolute;
      //left: 0;
      left: -5%;
      right: -5%;
      //width: 100%;
      //z-index: 5;
      //background: red;
   }

   &__container {
      position: relative;
      max-width: 1230px;
      z-index: 10;
   }

   &__body {
      &>* {
         margin-bottom: 4.471545%; /* 55/1230 */
      }
   }

   &__article {
   }
}

.advantages {
   padding: 5% 0 5.208333%; /* 100/1920 */
   background: #231F8B;

   &__container {
      max-width: 1230px;
   }

   &__body {
   }

   &__title {
      color: #FFF;
      font-family: "Circular Std";
      font-size: 36px;
      font-weight: 700;
   }
}

