.menu {
   display: block;
   padding-block: 1.25rem;
   position: fixed;
   top: var(--header-minh);
   right: 0;
   bottom: 0;
   z-index: 999;
   width: 100%;
   max-width: 31.25rem;
   /*height: 100%;*/
   /*max-height: calc(100svh - var(--header-minh));*/
   overflow: auto;
   background: var(--color8);
   color: var(--textColor2);
   transform: translateX(150%);
   will-change: transform;
   transition: transform 0.8s;
}
.menu__container {

}