@import "_fonts";
@import "_nullstyle";


//$fontSize: 16;
//$baseWidth: 1920;
$baseContainerWidth: 1170;

$color1: #EE2918;
$color2: rgba(255, 255, 255, 0.9);
$color3: #262625;
$color4: #74d7f0;
$color5: #000;

/*$rebelColor1: #fff;
$rebelColor2: #000;
$rebelColor3: #878787;*/

/*$ecoColor1: #1A1A1A; 
$ecoColor2: #00B207; 
$ecoColor3: #fff;
$ecoColor4: #F2F2F2;
$ecoColor5: #2C742F;*/

/*$busiColor1: #5A54F2;
$busiColor2: #fff;*/


body {
   font-family: "Old Standart TT", serif;
   font-size: 18px;
}
.wrapper {
   min-height: 100%;
   overflow: clip;
}
main>*:not(.short-docs),
header,
footer {
   position: relative;
   z-index: 20;
}
h1 {
   font-size: 64px;
   line-height: 1.09375; /* 70/64 */
   font-weight: 700;
   //text-align: center;
}
a {
   &:focus-visible {
      outline: 2px solid $color1;
      outline-offset: 5px;
   }
}
img {
   align-content: center;
   text-align: center;
}
/*abbr {
   transition: all 0.3s;

   &:hover {
      color: $color1;
   }
}*/
[class*="__container"] {
   padding-inline: 15px;
   margin: 0 auto;
   max-width: $baseContainerWidth + px;
   box-sizing: content-box;
}
[class*="__subtitle"] {
   //color: $rebelColor3;
   font-size: 36px;
   font-weight: 500;
   line-height: 1.2;
   text-align: center;
}
[class*="__cards"] {
   overflow: hidden;

   &>[class*="__body"] {
      font-size: 0;
      
      &>* {
         display: inline-block;
         vertical-align: top;
         font-size: initial;         
      }
   }
}


@import "sections/_header";
@import "sections/_hero";

@import "sections/mafia/_mafia";
@import "sections/mafia/car/_car";
@import "sections/mafia/car/_body";
@import "sections/mafia/car/_roof";
@import "sections/mafia/car/_door";

@import "sections/testing/_testing";
@import "sections/testing/_cube";
@import "sections/testing/_triangle3d";
@import "sections/testing/_hexagon";
@import "sections/testing/_wheel";
@import "sections/testing/_triangle";

@import "sections/_footer";

@import "_last-child-marg";
