/*----------------APPEARANCE-----------------*/
@keyframes appearance {
   100% {
      transform: translateX(0);
   }
}
@keyframes yevhen-appearance {
   0% {
      transform: translateX(100%);
   }
   100% {
      transform: translateX(0);
   }
}
@keyframes girls-appearance {
   0% {
      transform: translateX(-100%);
   }
   100% {
      transform: translateX(0);
   }
}
@keyframes hook-appearance {
   /*0% {
      transform: translateX(1300%);
   }*/
   100% {
      transform: translateX(-5%);
   }
}
@keyframes remove-temporary {
   100% {
      transform: translateX(1000px);
   }
}
@keyframes visibility-standart {
   0%,
   100% {
      visibility: visible;
   }
}
@keyframes replica-appearance {
   0%,
   100% {
      /*width: auto;
      height: auto;*/
      font-size: 22px;
   }
}
/*------------------------------------------*/
@keyframes btn-flashing {
   100% {
      box-shadow: 15px 15px 10px rgb(255, 0, 0);
   }
}