.car {
   position: relative;
   padding: 0 0 $carHeight; /* 176/583 */

   [class*="__item"] {
      position: absolute;
   }

   [class*="__rotate-"], 
   &__inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   } 

   &__rotate-deg180-mid:target {
      .car__body-wrapper {
         rotate: 0 1 0 180deg;
      }
   }
   &__rotate-deg90-mid:target {
      .car__body-wrapper {
         rotate: 0 1 0 90deg;
      }
   }
   &__rotate-deg90-back:target {
      .car__body-wrapper {
         rotate: 0 1 0 -90deg;
      }
   }
   &__rotate-deg70-up:target {
      .car__body-wrapper {
         transform: rotateX(30deg) rotateY(70deg);
      }
   }
   &__rotate-deg70-down:target {
      .car__body-wrapper {
         transform: rotateX(-30deg) rotateY(70deg);
      }
   }
   &__rotate-deg30-mid:target {
      .car__body-wrapper {
         rotate: 0 1 0 30deg;
      }
   }

   &__inner {
      perspective: 900px; //!повертаємо &__body-wrapper, з яким автоматично повертається його зміст, отже perspective задаємо лише його батьку, а не йому самому
   }

   &__body-wrapper {
      position: relative;
      top: 50%;
      left: 50%;
      transform-origin: 50% 50%;
      translate: -50% -50%;
      width: 93.48199%; /* 545/583 */
      height: 48.295455%; /* 85/176 */
      transform-style: preserve-3d; //!задаємо, щоб дочірні елементи стали об'ємними
   }

   &__body {
      position: absolute;
      top: 0;
      left: 0; //!left, right не працюють без задання top 
      height: 100%;
      transform-style: preserve-3d;
      //perspective: 900px;
      //box-shadow: 0 0 5px #000;

      &--left,
      &--right {
         /*top: 50%;
         left: 50%;
         transform: translate(-50%,-50%);*/
         width: 100%; 
         height: 100%; 
      }
      &--front,
      &--back {
         top: 100%;
         //height: 70%; /* 59.5/85 */
         translate: 0 -100%;
      }
      &--left,
      &--right {
         //border-radius: 70% 60% 0 0 / 70% 40% 0 0;
         //background: red;
         box-shadow: none;
         //overflow: hidden;
      }
      &--left {
      }
      &--right {
         transform: rotateY(180deg) translateZ($carWidth) scale(-1,1);
      }
      &--hood,
      &--trunk {
         //width: 37.798165%; /* 206/545 */
         width: 33.853211%;
         box-shadow: none;
         background: transparent;
      }
      &--hood {
         height: 30%;
      }
      &--trunk {
         height: 10%; /* 8.5/85 */
         left: 100%;
         transform: scale(-1,1);

         .body-top__item--front {
            height: 2172.823529%; /* 184.69/8.5 */
            transform: translate(0,-100%) rotateZ(87.36deg) rotateY(90deg);
         }
      }
      &--bottom {
         top: 100%;
         width: 81.651376%; /* 445/545 */
         height: $carWidth;
         transform-origin: 50% bottom;
         transform: translateY(-100%) rotateX(90deg);
         //box-shadow: 0 0 5px #000;
      }
      &--front {
         width: $carWidth;
         height: 70%; /* 59.5/85 */
         transform: rotateY(90deg);
         transform-origin: left 50%;
         box-shadow: 0 0 1px #000;
         background: $carColor1;
      }
      &--back {
         //top: auto;
         //bottom: 0;
         //transform: translate(0,-100%);
         left: auto;
         right: 0;
         width: 18.348624%; /* 100/545 */
         height: 90%; /* 59.5/85 */
         //height: 50%; /* 42.5/85 */
      }
      &--cabin,
      &--roof {
         left: 50%;
      }
      &--cabin {
         width: 32.293578%; /* 176/545 */
         height: 100%;
         translate: -50% 0;
      }
      &--roof {
         translate: -50% -100%;
         width: 37.247706%; /* 203/545 */
         height: 47.058824%; /* 40/85 */
      }
   }

   &__wings {
      position: relative;
      left: 100%;
      width: 38%; /* 239/545 */
      height: 48.235294%; /* 41/85 */
      transform-style: preserve-3d;
      transform: translate(-98%,-75%) rotateZ(3.5deg) skewX(-15deg);
   }

   &__wing {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      
      &--left {

      }
      &--right {
         transform: translateZ(-$wingsTranslateZ);
      }
   }
}
.car__body--bottom,
.stern__item--bottom {
   background: $carColor3;
}
