.numbers {
   width: 17.768058%; /* 52/292.66 */

   &__body {
      position: relative;
      width: 100%;
      perspective: 900px;

      &:hover {
   
         [class*="__front"] {
            transform: rotateX(180deg);
         }
         [class*="__back"] {
            transform: rotateX(0deg);
            box-shadow: 0 2px 5px #000;
         }
      }
   }

   &__back, 
   &__front {
      padding: 4px;
      width: 100%;
      font-size: 12px;
      text-align: center;
      color: $carColor2;
      background: rgb(94, 17, 17);
      border-radius: 3px;
      overflow: hidden;
      cursor: pointer;
      transition: all 1s;
   }
   &__front {
      backface-visibility: hidden;
      box-shadow: 0 2px 5px #000;
      transform: rotateX(0deg); //!При використанні transform об’єкт стає ближче до користувача по осі z, тобто накриває собою інші об’єкти яким не задано властивостей transform та position, але керувати цими об’єктами за допомогою z-index ми не можемо, тому що z-index працює лише з елементами позиція яких відмінна від static. Тому якщо transform для back заданий, а для front - ні, то back буде накривати front
   }
   &__back {
      position: absolute;
      top: 0;
      left: 50%;
      transform: rotateX(180deg);
      translate: -50% 0;
   }
}
