.numbers {
   padding: 4px;
   width: 17.153499%; /* 35/204.04 */
   font-size: 12px;
   text-align: center;
   font-family: "Circular Std", sans-serif;
   color: $carColor2;
   background: rgb(94, 17, 17);
   border-radius: 3px;
   overflow: hidden;
   box-shadow: 0 2px 5px #000;
   cursor: pointer;
   transition: all 1s;

   &:hover {
      rotate: 1 0 0 360deg;

      [class*="__front"] {
         transform: rotateX(180deg);
      }
      [class*="__back"] {
         transform: rotateX(0deg);
      }
   }

   &__body {
      position: relative;
   }

   &__back, 
   &__front {
      transition: all 1s;
      backface-visibility: hidden;
   }
   &__back {
      position: absolute;
      top: 0;
      left: 50%;
      transform: rotateX(180deg);
      translate: -50% 0;
   }
}
