.cards-products {
   /*margin-right: 1px;*/
   display: grid;
   /*width: 100%;*/
   grid-auto-columns: 90%;
   gap: 20px 1.515152%; /* 20/1320 */
   align-content: center;
   overflow: auto;
   grid-auto-flow: column;
   /*min-width: 248px;*/
}
.cards-products:not(:has(.prod-card)):not(:has(.banner-card + *)) {
   grid-auto-columns: 100%;
}
.cards-products:not(:has(.prod-card)) .banner-card {
   align-self: stretch;
}
.cards-products:not(:has(.prod-card)) .banner-card__body {
   height: 100%;
   justify-content: space-between;
}
.cards-products:not(:has(.prod-card)) .banner-card .title-banner__small,
.cards-products:not(:has(.prod-card)) .banner-card .title-banner__big,
.cards-products:not(:has(.prod-card)) .banner-card__body>*:not([class]),
.banner-card__body>p {
   background: rgba(255, 255, 255, 0.5);
   box-shadow: 5px 5px 25px #E6E6E6;
   border-radius: 5px;
}
.cards-products__prod-card {

}
.cards-products__prod-card:first-child {
   /*grid-column: 1 / 2;*/
}
.cards-products .banner-card {
   min-height: 98.820059%; /* 335/339 */
   align-self: center;
   /*grid-column: 2 / 3;*/
}
.prod-card {
   /*margin: 0 -1px -1px 0;*/
   /*position: relative;
   border: 1px solid #E6E6E6;*/
}
.prod-card__inner {
   position: relative;
   height: 100%;
   border: 1px solid #E6E6E6;
   /*border-top: 1px solid #E6E6E6;
   border-bottom: 1px solid #E6E6E6;
   border-left: 1px solid #E6E6E6;*/
   background: #fff;
}
.prod-card__inner::before {
   content: '';
   position: absolute;
   top: -1px;
   bottom: -1px;
   left: -1px;
   right: -1px;
   z-index: 2;
   border-radius: inherit;
   border: 1px solid #2C742F;
   box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
   opacity: 0;
   pointer-events: none;
}
/*.prod-card:first-child {
   grid-column: 1 / -1;
}*/
/*.prod-card__inner {
   position: relative;
}*/
.prod-card__overlay {
}
.prod-card__body {
   position: relative;
   display: flex;
   flex-direction: column;
   height: 100%;
}
.prod-card__image,
.prod-card__image>picture {
   aspect-ratio: 1;
}
.ecobazar .prod-card__image:focus-visible {
   outline-width: 7px;
   outline-offset: 0;
}
.prod-card__description {
   padding: 15px;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}
.prod-card__description>* {
   margin-bottom: 8px;
}
.prod-card__title {
   flex-grow: 1;
   color: #4D4D4D;
   font-size: 18px;
   line-height: 1.2; /* 16/14 */
}
.prod-card__title a {
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* Кількість рядків */
   /*line-clamp: 2;*/
   overflow: hidden;
   word-break: break-word;
}
.prod-card__group {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   gap: 20px;
   /*flex-grow: 1;*/
}
.prod-card__info {
   display: flex;
   flex-direction: column;
}
.prod-card__info>* {
   margin-bottom: 6px;
}
.prod-card__btn {
   /*align-self: flex-start;*/
   flex-shrink: 0;
}
.prod-card__price {
   display: flex;
   flex-wrap: wrap;
   gap: 2px;
   font-size: 18px;
   line-height: 1.2;
}
.prod-card__live-price {
   font-weight: 600;
}
.prod-card__old-price {
   display: none;
   color: #999;
   font-weight: 400;
   text-decoration-line: line-through;
}
.prod-card--sale .prod-card__price .prod-card__old-price {
   display: inline;
}
.prod-card__rating {
   margin-bottom: 10px;
}
.prod-card__buttons {
   display: flex;
   flex-wrap: wrap;
   gap: 12px;
}
.prod-card__inner:hover .prod-card__btn:not([class*="--overlay"]):hover {
   background-color: #2C742F;
}

/*-----------------CATEGORIES----------------*/
.categories-products {
   display: flex;
   flex-wrap: wrap;
   row-gap: 10px;
}
.categories-products:not(:has(.banner-card)) .categories-products__category {
   flex-basis: 100%;
}
.categories-products__category {
   /*flex-basis: 100%;*/
   /*flex-shrink: 0;*/
   width: 100%;
}
.categories-products__category--banner {
   min-height: 300px;
   flex-grow: 1;
}
.categories-products .banner-card {
   padding-block: 10.25641%;
   height: 100%;
}
.prod-category__card .prod-card__body {
   overflow: hidden;
}
.prod-category__body {
   display: flex;
   flex-direction: column;
   row-gap: 16px;
}
.prod-category__body>* {
   /*margin-bottom: 16px;*/
}
.prod-category .prod-card__btn {
   transform: translateY(0);
}
.prod-category__title {
   font-size: 18px;
   font-weight: 500;
}
.prod-category__cards {
   display: flex;
   flex-direction: row;
   gap: 5px;
   overflow-x: auto;
   margin: -20px;
   padding: 20px;
}
.prod-category__card {
   flex-basis: 95%;
   flex-shrink: 0;
   /*box-shadow: 0 0 20px red;*/
}
.prod-category__card .prod-card__inner {
   min-height: 116px;
}
.prod-category__card .prod-card__body {
   flex-direction: row;
   align-items: center;
}
.prod-category__card .prod-card__image {
   /*flex-basis: 112px;*/
   /*flex-grow: 1;*/
   flex-shrink: 0;
   border: 5px solid transparent;
   width: 36.129032%; /* 112/310 */
}
.prod-category__card .prod-card__image:focus-visible {
   outline: none;
   border-color: #2C742F;
}
.prod-category__card .prod-card__description {
   padding-block: 10px;
   padding-inline: 8px;
}
.prod-category__card .prod-card__title {
   padding-right: 0;
}
.prod-category__card .prod-card__group {
   flex-wrap: wrap;
   gap: 15px;
}
.prod-category__card .prod-card__info {
   margin-bottom: 8px;
}
.prod-category__card .rating__item svg {
   width: 16px;
}
/*-------------------------------------------*/

/*-----------------OVERLAY----------------*/
.prod-card--sale .label-prod--sale,
.prod-card--new .label-prod--new,
.prod-card--best .label-prod--best,
.prod-card--out .label-prod--out {
   display: inline-block;
}
.overlay-prod {
   padding: 6.451613%;
   display: flex;
   justify-content: space-between;
   gap: 20px;
   align-items: flex-start;
}
.overlay-prod__labels {
   display: flex;
   flex-wrap: wrap;
   gap: 8px;
}
.overlay-prod__label {
   display: none;
   padding: 3px 8px;
   text-align: center;
}
.label-prod {
   color: #FFF;
   font-weight: 400;
   border-radius: 4px;
}
.label-prod--sale {
   background: #EA4B48;
}
.label-prod--new {
   background: #FF8A00;
}
.label-prod--best {
   background: #2388FF;
}
.label-prod--out {
   background: #1A1A1A;
}
.label-prod>span {
   font-weight: 500;
}
.overlay-prod__buttons {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap-reverse;
   justify-content: flex-end;
   gap: 12px;
   max-height: 260px;
}
.overlay-prod__btn,
[class*="__btn--overlay"] {
   background: #fff;
   border: 1px solid #F2F2F2;
}
.overlay-prod__btn:hover,
[class*="__btn--overlay"]:hover {
   border-width: 0;
   background-color: #00B207;
}
/*-------------------------------------------*/

/*----------------JOINT STYLES--------------------*/
.overlay-prod__label,
.overlay-prod__btn {
   position: relative;
   z-index: 1;
}
/*------------------------------------------*/