/*-------------------PRODUCTS------------------------*/
.products {
}
.products__container {
}
.products__body {
}
.products__heading {
}
.heading {
   display: flex;
   justify-content: space-between;
   gap: 8px 50px;
}
.heading__title {
   font-size: 22px;
   font-weight: 600;
   line-height: 1.2; 
   color: #1A1A1A;
}
.heading--column {
   flex-direction: column;
   align-items: center;
   text-align: center;
}
.heading__link {
}
.products__cards {
}
/*-------------------------------------------------------*/

/*---------------------------NEWS---------------------------*/
.news {
}
.news__container {
}
.news__body {
}
.news__heading {
}
.news__cards {
}
/*------------------------------------------------*/

/*----------------JOINT STYLES--------------------*/
/*.products a:not([class*="__title"] a):hover {
   color: #2C742F;
}*/
/*------------------------------------------*/