/*-----------------HEADER----------------*/
/*-------------------HOVER---------------------*/
@media (any-hover: hover) {
   /*----------------JOINT STYLES--------------------*/
   /*------------------------------------------*/
}
/*---------------------------------------------*/
/*---------------------------------------------*/

/*-----------CSS-VARS---------------*/
@media (min-width: 48em) {
   :root {
      --header-minh: 6.0625rem;
   }
}
@media (max-height: 26.25em) /*and (orientation: landscape)*/ {
   :root {
      --header-minh: 4.1875rem;
   }
}
/*---------------------------------------------*/

@media (min-width: 25.0625em) {
   :root {
      --safePadd: 0.9375rem;
   }
   /*[class*="__container"],
   [class*="--scroll"] {
      padding-inline: 0.9375rem;
   }
   [class*="--scroll"] {
      margin-inline: -0.9375rem;
   }*/
}


/*-------------OTHER-----------*/
@media (prefers-color-scheme: dark) {
   :root {
      --color2: #000;
      --color4: #6e34bb;
      --color5: #F26522;
      --color6: #F7941D;
      --color7: #00B207;
      --color9: #0D0D0D;
      --color10: #492624;
      --color11: rgba(0, 0, 0, 0.6);
      --color12: rgba(13, 13, 13, 0.95);
      --color14: #3A4545;
      --color15: #ec2525;

      /*TEXT*/
      --textPrimary: #E6E3D0;
      --textColor3: #fff;
      --textColor8: #999999;
   /*---------------------------------------*/
   }
   .header {
      box-shadow: 0 0 20px #ccc;
   }
}
/*-----------------------------*/