/*-----------------HEADER----------------*/
/*-------------------HOVER---------------------*/
@media (any-hover: hover) {
   /*----------------JOINT STYLES--------------------*/
   /*------------------------------------------*/
}
/*---------------------------------------------*/
/*---------------------------------------------*/

/*-----------CSS-VARS---------------*/
@media (min-width: 48em) {
   :root {
      --header-minh: 6.0625rem;
   }
}
@media (max-height: 26.25em) /*and (orientation: landscape)*/ {
   :root {
      --header-minh: 4.1875rem;
   }
}
/*---------------------------------------------*/

@media (min-width: 25.0625em) {
   [class*="__container"],
   [class*="--scroll"] {
      padding-inline: 0.9375rem;
   }
   [class*="--scroll"] {
      margin-inline: -0.9375rem;
   }
}