@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "fonts.css";
@import "nullstyle.css";
@import "base.css";

/*-------------------ITEMS-------------------*/
/*@import "items/buttons/buttons.css";*/
/*-------------------------------------------------------*/

@import "sections/header/header.css";
@import "sections/header/menu.css";
@import "sections/hero/hero.css";
@import "sections/practise/practise.css";

/*-------------------ANIMATIONS-------------------*/
/*-------------------------------------------------------*/

/*OTHER*/

/*SECTIONS*/

/*CARDS*/

/*FORM*/
/*-------------------------------------------------------*/

/*OTHER*/

/*SECTIONS*/

/*CARDS*/

/*FORM*/
/*-------------------------------------------------------*/

@import "sections/footer/footer.css";

/*-------------------ACTIVE---------------------*/
@import "sections/ecobazar/active.css";
/*---------------------------------------------*/

/*-------------------MEDIA-------------------*/
@import "media-q.css";
@import "sections/header/media-q.css";
@import "sections/hero/media-q.css";
@import "sections/practise/media-q.css";
@import "sections/footer/media-q.css";
/*-------------------------------------------------------*/


/*$fontSize: 16;
//$baseWidth: 1728; //Business
//$baseWidth: 1920; //Ecobazar
//$baseContainerWidth: 1202; //Business*/
/*$baseContainerWidth: 1320; //Ecobazar*/
/*$inputPadding: 16;*/

/*$mainColor: #2C742F;
$color1: #EE2918;
$color2: rgba(255, 255, 255, 0.9);
$color3: #262625;
$color4: #74d7f0;
$color5: #000;*/

/*$flsColor1: #5E5372;
$flsColor2: #32B5A4;
$flsColor3: #EBE691;*/

/*$rebelColor1: #fff;
$rebelColor2: #000;
$rebelColor3: #878787;*/

/*$ecoColor1Var1: #E6E6E6;
$ecoColor1Var2: #ccc;
$ecoColor1Var4: #999;
$ecoColor1Var5: #808080;
$ecoColor1Var6: #666;
$ecoColor1Var7: #4D4D4D;
$ecoColor1Var9: #1A1A1A; 
$ecoPrimary: #00B207; 
$ecoWhite: #fff;
$ecoColor4: #F2F2F2;
$ecoHardPrimary: #2C742F;
$ecoWarning: #FF8A00;
$ecoError: #EA4B48;*/

/*$busiColor1: #5A54F2;
$busiColor2: #fff;
$busiColor3: #412672;
$busiColor4: #4F4F4F;
$busiColor5: #FE3F3F;
$busiColor6: #000;*/

/*@mixin flexColumn {
   display: flex;
   flex-direction: column;
}
@mixin flexWrap {
   display: flex;
   flex-wrap: wrap;
}
@mixin imgStandart {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}*/


/*-------------------ANIMATIONS-------------------*/
/*@import "animations/hero.css";*/
/*-------------------------------------------------------*/

/*@import "header.css";*/
/*@import "sections/hero.css";*/

/*-------------------ECOBAZAR-------------------*/
/*OTHER*/

/*SECTIONS*/

/*FORM*/
/*-------------------------------------------------------*/

/*@import "sections/footer.css";*/

[class*="--last-marg"]>*:last-child {
   margin-bottom: 0;
}
