@charset "UTF-8";
/*@font-face {
   font-family: "Circular Std";
   src: url("../fonts/circular_std/CircularStd-Book.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Circular Std";
   src: url("../fonts/circular_std/CircularStd-Medium.woff2") format("woff2");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}*/
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/circular_std/CircularStd-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*Очищення всіх стилів браузерів*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

address {
  font-style: normal;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*$rebelColor1: #fff;
$rebelColor2: #000;
$rebelColor3: #878787;*/
/*$ecoColor1: #1A1A1A; 
$ecoColor2: #00B207; 
$ecoColor3: #fff;
$ecoColor4: #F2F2F2;
$ecoColor5: #2C742F;*/
/*$busiColor1: #5A54F2;
$busiColor2: #fff;*/
body {
  font-family: "Old Standart TT", serif;
  font-size: 18px;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
}

main > *:not(.short-docs),
header,
footer {
  position: relative;
  z-index: 20;
}

h1 {
  font-size: 64px;
  line-height: 1.09375; /* 70/64 */
  font-weight: 700;
}

a:focus-visible {
  outline: 2px solid #EE2918;
  outline-offset: 5px;
}

img {
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

/*abbr {
   transition: all 0.3s;

   &:hover {
      color: $color1;
   }
}*/
[class*=__container] {
  padding-inline: 15px;
  margin: 0 auto;
  max-width: 1170px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

[class*=__subtitle] {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

[class*=__cards] {
  overflow: hidden;
}
[class*=__cards] > [class*=__body] {
  font-size: 0;
}
[class*=__cards] > [class*=__body] > * {
  display: inline-block;
  vertical-align: top;
  font-size: initial;
}

.header {
  padding: 20px 0;
  position: sticky;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  background: #262625;
}
.header__body {
  font-size: 0;
}
.header__body > * {
  margin-right: 50px;
  display: inline-block;
  vertical-align: top;
  font-size: initial;
}

.nav__body > ul {
  font-size: 0;
  line-height: 1.2;
}
.nav__body > ul > li {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
}
.nav__body > ul > li:hover {
  color: #EE2918;
}
.nav__body > ul > li:not(:last-child) {
  margin-right: 30px;
}
.nav__body > ul li {
  position: relative;
  cursor: pointer;
}
.nav__body > ul li:has(ul)::after {
  content: "";
  margin: 0 0 0 3px;
  /*width: 15px;
  height: 15px;*/
  border-top-color: inherit;
  border-top: 10px solid;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  /*border-right: 2px solid $color2;
  border-bottom: 2px solid $color2;
  transform: translate(0,-2px) rotate(45deg);*/
}
.nav__body > ul li:has(ul):hover::after {
  margin-bottom: 1px;
  border-bottom-color: inherit;
  border-top: none;
  border-bottom: 10px solid;
}
.nav__body > ul li:has(ul):hover > ul {
  visibility: visible;
  opacity: 1;
}
.nav__body > ul li > ul {
  visibility: hidden;
  opacity: 0;
  padding-top: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  max-height: 500px;
  overflow: auto;
}
.nav__body > ul li > ul > li {
  max-width: 300px;
  padding: 0 20px 0 10px;
  line-height: 1.8;
  background: #696161;
}
.nav__body > ul li > ul > li:hover {
  background: #EE2918;
  -webkit-box-shadow: inset 0 0 10px #000;
          box-shadow: inset 0 0 10px #000;
}

.header,
.nav li > ul {
  color: rgba(255, 255, 255, 0.9);
}

.hero {
  padding: 50px 0;
  background: #EE2918;
  color: #000;
}

/*$translateVar: calc(0px - $carWidth + $bodyCarHeight);
$translateHoodFrontVar: calc(0px - $carWidth + $bodyTopFrontHeight);*/
.mafia {
  padding: 50px 0;
}
.mafia__car-wrapper {
  width: 583px;
}
.car {
  position: relative;
  padding: 0 0 30.188679%; /* 176/583 */
  background: green;
}
.car__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-perspective: 900px;
          perspective: 900px;
}
.car__body-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 93.48199%; /* 545/583 */
  height: 48.295455%; /* 85/176 */
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.car__body {
  position: absolute;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 900px;
          perspective: 900px;
}
.car__body--left, .car__body--right, .car__body--bottom {
  /*top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);*/
  width: 100%;
  height: 100%;
}
.car__body--front, .car__body--back {
  width: 204.05px;
  height: 70%;
  top: none;
  bottom: 0;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform-origin: left 50%;
      -ms-transform-origin: left 50%;
          transform-origin: left 50%;
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}
.car__body--left, .car__body--right {
  top: 0;
  left: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.car__body--right {
  -webkit-transform: translateZ(-204.05px) rotateY(180deg) scale(-1, 1);
          transform: translateZ(-204.05px) rotateY(180deg) scale(-1, 1);
}
.car__body--hood, .car__body--trunk {
  top: 0;
  left: 0;
  width: 33.853211%;
  height: 30%;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
}
.car__body--trunk {
  left: 100%;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.car__body--bottom {
  top: 100%;
  height: 204.05px;
  -webkit-transform-origin: 50% bottom;
      -ms-transform-origin: 50% bottom;
          transform-origin: 50% bottom;
  -webkit-transform: translateY(-100%) rotateX(90deg);
          transform: translateY(-100%) rotateX(90deg);
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}
.car__body--back {
  left: 100%;
}
.car__body--cabin, .car__body--roof {
  left: 50%;
}
.car__body--cabin {
  top: 0;
  width: 32.293578%; /* 176/545 */
  height: 100%;
  translate: -50% 0;
}
.car__body--roof {
  translate: -50% -100%;
  width: 37.247706%; /* 203/545 */
  height: 47.058824%; /* 40/85 */
}

.body-side > [class*=__body],
.body-top > [class*=__body],
.cabin > [class*=__body],
.cabin__item > [class*=__body],
.roof > [class*=__body],
.roof__item > [class*=__body],
.wheel > [class*=__body] {
  position: relative;
  width: 100%;
  height: 100%;
}
.body-side > [class*=__body] > [class*=__item],
.body-top > [class*=__body] > [class*=__item],
.cabin > [class*=__body] > [class*=__item],
.cabin__item > [class*=__body] > [class*=__item],
.roof > [class*=__body] > [class*=__item],
.roof__item > [class*=__body] > [class*=__item],
.wheel > [class*=__body] > [class*=__item] {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

.body-top > [class*=__body],
.body-side > [class*=__body],
.cabin > [class*=__body],
.roof > [class*=__body] {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.body-side__main {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 81.651376%; /* 445/545 */
  height: 70%;
  z-index: -1;
}

.main-body-part {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background: #EE2918;
}
.main-body-part__wheel {
  position: absolute;
  bottom: 0;
  width: 19.101124%; /* 85/445 */
  height: 75.630252%; /* 45/59.5 */
}
.main-body-part__wheel--front {
  left: 4.044944%; /* 18/445 */
}
.main-body-part__wheel--back {
  right: 1.123596%; /* 5/445 */
}

.body-top {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: left 50%;
      -ms-transform-origin: left 50%;
          transform-origin: left 50%;
}
.body-top__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #000;
}
.body-top__item--front, .body-top__item--back {
  width: 204.05px;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform-origin: left 50%;
      -ms-transform-origin: left 50%;
          transform-origin: left 50%;
}
.body-top__item--left, .body-top__item--right {
  border-left: none;
  border-top: none;
}
.body-top__item--left::before, .body-top__item--right::before {
  content: "";
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-right: calc(204.05px * 33.853211 / 100)px solid rgb(255, 0, 0);
  border-top: 25.502550255px solid transparent;
}
.body-top__item--front {
  top: 100%;
  height: 186.28px;
  -webkit-transform-origin: 0 bottom;
      -ms-transform-origin: 0 bottom;
          transform-origin: 0 bottom;
  -webkit-transform: translate(0, -100%) rotateZ(82.13deg) rotateY(90deg);
          transform: translate(0, -100%) rotateZ(82.13deg) rotateY(90deg);
}
.body-top__item--back {
  left: 100%;
}
.body-top__item--bottom {
  top: 100%;
  height: 204.05px;
  -webkit-transform-origin: 50% bottom;
      -ms-transform-origin: 50% bottom;
          transform-origin: 50% bottom;
  -webkit-transform: translateY(-100%) rotateX(90deg);
          transform: translateY(-100%) rotateX(90deg);
}
.body-top__item--right {
  -webkit-transform: translateZ(-204.05px);
          transform: translateZ(-204.05px);
}

.cabin {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: left 50%;
      -ms-transform-origin: left 50%;
          transform-origin: left 50%;
}
.cabin__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.cabin__item--front, .cabin__item--back, .cabin__item--bottom {
  width: 100%;
}
.cabin__item--left, .cabin__item--right {
  width: 204.05px;
}
.cabin__item--back {
  -webkit-transform: rotateY(180deg) translateZ(204.05px) scale(-1, 1);
          transform: rotateY(180deg) translateZ(204.05px) scale(-1, 1);
}
.cabin__item--bottom {
  top: 100%;
  -webkit-transform-origin: 50% bottom;
      -ms-transform-origin: 50% bottom;
          transform-origin: 50% bottom;
  -webkit-transform: translateY(-100%) rotateX(90deg);
          transform: translateY(-100%) rotateX(90deg);
}
.cabin__item--left {
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform-origin: left 50%;
      -ms-transform-origin: left 50%;
          transform-origin: left 50%;
}
.cabin__item--right {
  left: 100%;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform-origin: left 50%;
      -ms-transform-origin: left 50%;
          transform-origin: left 50%;
}
.cabin__door {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 66.009852%;
  height: 91.764706%;
}

.roof__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.roof__item--front, .roof__item--back {
  top: 100%;
  width: 204.05px;
  -webkit-transform-origin: 0 bottom;
      -ms-transform-origin: 0 bottom;
          transform-origin: 0 bottom;
  translate: 0 -100%;
}
.roof__item--left, .roof__item--right {
  /*border-left: 42px solid transparent;
  border-right: 53px solid transparent;
  border-bottom: 40px solid rgb(153, 234, 236, 0.3);*/
}
.roof__item--left > [class*=__body]::after, .roof__item--right > [class*=__body]::after {
  content: "";
  width: 19.384236%; /* 39.35/203 */
  height: 0;
  border-right: 39.35px solid transparent;
  border-bottom: 40px solid #fff;
}
.roof__item--left > [class*=__body]::after,
.roof__item--left .big-window, .roof__item--right > [class*=__body]::after,
.roof__item--right .big-window {
  -webkit-transform: translateX(-6.5px) skewX(17.97deg);
      -ms-transform: translateX(-6.5px) skewX(17.97deg);
          transform: translateX(-6.5px) skewX(17.97deg);
}
.roof__item--front {
  height: 145%; /* 58/40 */
  -webkit-transform: rotateZ(46.4deg) rotateY(90deg);
          transform: rotateZ(46.4deg) rotateY(90deg);
  border-top: 4px solid #483E3F;
  border-bottom: 4px solid #483E3F;
}
.roof__item--back {
  left: 100%;
  height: 166%; /* 66.4/40 */
  -webkit-transform: rotateZ(-53deg) rotateY(90deg);
          transform: rotateZ(-53deg) rotateY(90deg);
  border: 16px solid #fff;
}
.roof__item--back [class*=__window] {
  border: 2px solid #483E3F;
}
.roof__item--top {
  left: 20.689655%; /* 42/203 */
  width: 53.20197%; /* 108/203 */
  height: 204.05px;
  -webkit-transform-origin: 50% top;
      -ms-transform-origin: 50% top;
          transform-origin: 50% top;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  background: #fff;
}
.roof__item--right {
  -webkit-transform: translateZ(-204.05px);
          transform: translateZ(-204.05px);
}
.roof__body-item {
  font-size: 0;
}
.roof__body-item > * {
  display: inline-block;
  vertical-align: top;
  font-size: initial;
}
.roof__window {
  width: 100%;
  height: 100%; /* 38/40 */
  background: rgba(153, 234, 236, 0.3);
}
.roof__window--left {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 38px solid rgba(153, 234, 236, 0.3);
  background: none;
}
.roof__window--big {
  width: 55%; /* 112/203 */
}
.big-window {
  border-top: 2px solid #fff;
  font-size: 0;
}
.big-window__window {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  font-size: initial;
  border-right: 4px solid #483E3F;
  border-top: 4px solid #483E3F;
}
.big-window__window:first-of-type {
  width: 79%;
  border-left: 4px solid #483E3F;
}
.big-window__window:nth-of-type(2) {
  width: 21%;
}

.door {
  position: relative;
  -webkit-box-shadow: 0 0 3px #560A0A;
          box-shadow: 0 0 3px #560A0A;
  border-radius: 10.882353% 10.882353% 11.764706% 4.117647%/40.638298% 40.638298% 21.276596% 21.276596%;
}
.door__handle {
  position: absolute;
  top: 12.820513%; /* 10/78 */
  right: 14.925373%; /* 20/134 */
  width: 19.402985%; /* 26/134 */
  height: 16.666667%; /* 13/78 */
}

.handle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 120%;
  -webkit-transform: translate(-10%, 3%);
      -ms-transform: translate(-10%, 3%);
          transform: translate(-10%, 3%);
  -webkit-box-shadow: inset 0 0 5px #000;
          box-shadow: inset 0 0 5px #000;
  border-radius: 50%;
}
.handle__inner {
  position: relative;
  height: 100%;
}
.handle__inner::before, .handle__inner::after {
  content: "";
  position: absolute;
  -webkit-box-shadow: -1px 2px 2px #000;
          box-shadow: -1px 2px 2px #000;
  background: #CCBEBB;
}
.handle__inner::before {
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 38.461538%; /* 10/26 */
  height: 76.923077%; /* 10/13 */
  border-radius: 50%;
  overflow: hidden;
}
.handle__inner::after {
  top: 50%;
  right: 20%; /* 10/26 */
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
  width: 80%;
  height: 23.076923%; /* 3/13 */
  border-radius: 40px/40px;
}

.wheel {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.wheel--front > [class*=__body] {
  border-radius: 29.70297% 48.235294% 0 0/55.555556% 91.111111% 0 0;
}
.wheel--back > [class*=__body] {
  /*border-radius: 21% 39% 0% 0% / 51% 42% 0% 0%;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;*/
}
.wheel--back > [class*=__body]::after {
  width: 5.882353%; /* 5/85 */
  height: 50%;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.wheel--back > [class*=__body]::before {
  left: 0;
  width: 105.882353%;
  height: 67.777778%; /* 26/45 */
}
.wheel__body {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background: #222823;
  -webkit-box-shadow: inset 0 0 10px #434141;
          box-shadow: inset 0 0 10px #434141;
}
.wheel__body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  height: 15%;
  background: #EE2918;
  z-index: 10;
}
.wheel__body::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 22.352941%; /* 19/85 */
  height: 100%;
  -webkit-transform: translate(-115.789474%, 0) skew(35deg);
      -ms-transform: translate(-115.789474%, 0) skew(35deg);
          transform: translate(-115.789474%, 0) skew(35deg); /* 22/19 */
  background: inherit;
  border-radius: 0 52.631579% 0 0/0 22.222222% 0 0; /* 10/45 */
  z-index: -1;
}
.wheel__main-wrapper {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 900px;
          perspective: 900px;
  top: 8.888889%; /* 4/45 */
  left: 50%;
  width: 94.117647%; /* 80/85 */
  padding-bottom: 94.117647%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.wheel__main {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 41.42%;
  background: #000;
}
.wheel__main--front, .wheel__main--back {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid #212020;
  background: #fff;
}
.wheel__main--top, .wheel__main--bottom {
  width: 41.42%;
  height: 20%;
  left: 50%;
  translate: -50% 0;
}
.wheel__main--left-top, .wheel__main--right-top {
  -webkit-transform-origin: 0 bottom;
      -ms-transform-origin: 0 bottom;
          transform-origin: 0 bottom;
  translate: 0 -30%;
}
.wheel__main--left, .wheel__main--right {
  top: 50%;
  -webkit-transform: translate(0, -50%) rotateY(90deg);
          transform: translate(0, -50%) rotateY(90deg);
  -webkit-transform-origin: left 50%;
      -ms-transform-origin: left 50%;
          transform-origin: left 50%;
}
.wheel__main--left-bottom, .wheel__main--right-bottom {
  -webkit-transform-origin: 0 top;
      -ms-transform-origin: 0 top;
          transform-origin: 0 top;
  translate: 0 30%;
}
.wheel__main--right-top, .wheel__main--right, .wheel__main--right-bottom {
  left: 100%;
}
.wheel__main--left-bottom, .wheel__main--right-bottom, .wheel__main--bottom {
  top: auto;
  bottom: 0;
}
.wheel__main--back {
  -webkit-transform: translateZ(-16px) rotateY(180deg);
          transform: translateZ(-16px) rotateY(180deg);
}
.wheel__main--top {
  -webkit-transform-origin: 50% top;
      -ms-transform-origin: 50% top;
          transform-origin: 50% top;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}
.wheel__main--left-top {
  -webkit-transform: rotateZ(45deg) rotateY(90deg);
          transform: rotateZ(45deg) rotateY(90deg);
}
.wheel__main--right-top {
  -webkit-transform: rotateZ(-45deg) rotateY(90deg);
          transform: rotateZ(-45deg) rotateY(90deg);
}
.wheel__main--left-bottom {
  -webkit-transform: rotateZ(-45deg) rotateY(90deg);
          transform: rotateZ(-45deg) rotateY(90deg);
}
.wheel__main--right-bottom {
  -webkit-transform: rotateZ(45deg) rotateY(90deg);
          transform: rotateZ(45deg) rotateY(90deg);
}
.wheel__main--bottom {
  -webkit-transform-origin: 50% bottom;
      -ms-transform-origin: 50% bottom;
          transform-origin: 50% bottom;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}
.wheel__disc {
  position: relative;
  top: 50%;
  left: 50%;
  width: 58.333333%; /* 49/84 */
  aspect-ratio: 1/1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #6b6565;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  /*&::before {
     content: '';
     position: absolute;
     top: 50%;
     left: 50%;
     width: 44.897959%; // 22/49 
     aspect-ratio: 1 / 1;
     background: #c6c7c7;
     border-radius: 50%;
     transform: translate(-50%,-50%);
     box-shadow: 0 0 20px #000;
  }*/
}

.testing {
  padding: 50px 0 300px;
}
.testing__body {
  /*&>*:not(:last-child) {
     margin-bottom: 50px;
  }*/
}
.testing__body > * {
  margin-left: 100px;
  margin-bottom: 50px;
}
.testing__cube {
  margin: 0 auto 50px;
  width: 42.735043%; /* 500/1170 */
  padding-bottom: 25.641026%; /* 300/1170 */
}
.testing__cube--trans-z .cube__side--back {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0, 0) rotateY(180deg) translateZ(300px);
          transform: translate(0, 0) rotateY(180deg) translateZ(300px);
}
.testing__windshield {
  width: 300px;
  height: 300px;
}
.testing__windshield--dif-dims {
  width: 300px;
  height: 200px;
  -webkit-transform: rotateY(30deg);
          transform: rotateY(30deg);
}
.testing__windshield--deg90 {
  width: 600px;
  height: 200px;
  -webkit-transform: rotateY(20deg);
          transform: rotateY(20deg);
}
.testing__hexagon {
  width: 300px;
  height: 300px;
}
.testing__wheel {
  width: 300px;
  height: 300px;
}
.cube {
  position: relative;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 900px;
          perspective: 900px;
}
.cube__side {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(255, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}
.cube__side h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 30px;
}
.cube__side--front, .cube__side--back, .cube__side--top, .cube__side--bottom {
  width: 100%;
}
.cube__side--left, .cube__side--right {
  width: 60%; /* 300/500 */
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform-origin: left 50%;
      -ms-transform-origin: left 50%;
          transform-origin: left 50%;
}
.cube__side--back {
  top: 50%;
  left: 50%;
  width: 75%; /* 375/500 */
  height: 75%; /* 225/300 */
  -webkit-transform: translate(-50%, -50%) rotateY(180deg);
          transform: translate(-50%, -50%) rotateY(180deg);
}
.cube__side--top {
  -webkit-transform-origin: 50% top;
      -ms-transform-origin: 50% top;
          transform-origin: 50% top;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}
.cube__side--bottom {
  -webkit-transform-origin: 50% bottom;
      -ms-transform-origin: 50% bottom;
          transform-origin: 50% bottom;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}
.cube__side--right {
  left: 100%;
}

.windshield {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 900px;
          perspective: 900px;
}
.windshield__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #000;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.windshield__item--front, .windshield__item--back, .windshield__item--bottom {
  background: rgba(255, 0, 0, 0.3);
}
.windshield__item--left, .windshield__item--right {
  -webkit-transform-origin: left 50%;
      -ms-transform-origin: left 50%;
          transform-origin: left 50%;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  border-left: none;
  border-top: none;
}
.windshield__item--left::before, .windshield__item--right::before {
  content: "";
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-right: 294px solid rgba(255, 0, 0, 0.3);
  border-top: 294px solid transparent;
}
.windshield__item--front {
  top: 100%;
  height: 141.666667%; /* 425/300 */
  -webkit-transform-origin: 0 bottom;
      -ms-transform-origin: 0 bottom;
          transform-origin: 0 bottom;
  -webkit-transform: translate(0, -100%) rotateX(45deg);
          transform: translate(0, -100%) rotateX(45deg);
}
.windshield__item--back {
  -webkit-transform: translateZ(-300px) rotateY(180deg);
          transform: translateZ(-300px) rotateY(180deg);
}
.windshield__item--bottom {
  -webkit-transform-origin: 50% bottom;
      -ms-transform-origin: 50% bottom;
          transform-origin: 50% bottom;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}
.windshield__item--left {
  /*&::before {
     transform: scale(-1,1);
  }*/
}
.windshield__item--right {
  left: 100%;
}

.windshield-dif-dims {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 900px;
          perspective: 900px;
}
.windshield-dif-dims__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #000;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.windshield-dif-dims__item--front, .windshield-dif-dims__item--back, .windshield-dif-dims__item--bottom {
  background: rgba(0, 255, 76, 0.3);
}
.windshield-dif-dims__item--left, .windshield-dif-dims__item--right {
  width: 600px;
  -webkit-transform-origin: left 50%;
      -ms-transform-origin: left 50%;
          transform-origin: left 50%;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  border-left: none;
  border-top: none;
}
.windshield-dif-dims__item--left::before, .windshield-dif-dims__item--right::before {
  content: "";
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-right: 594px solid rgba(0, 255, 76, 0.3);
  border-top: 194px solid transparent;
}
.windshield-dif-dims__item--front {
  top: 100%;
  height: 632.46px;
  -webkit-transform-origin: 0 bottom;
      -ms-transform-origin: 0 bottom;
          transform-origin: 0 bottom;
  -webkit-transform: translate(0, -100%) rotateX(71.57deg);
          transform: translate(0, -100%) rotateX(71.57deg);
}
.windshield-dif-dims__item--back {
  -webkit-transform: translateZ(-600px) rotateY(180deg);
          transform: translateZ(-600px) rotateY(180deg);
}
.windshield-dif-dims__item--bottom {
  top: 100%;
  -webkit-transform-origin: 50% bottom;
      -ms-transform-origin: 50% bottom;
          transform-origin: 50% bottom;
  height: 600px;
  -webkit-transform: translate(0, -100%) rotateX(90deg);
          transform: translate(0, -100%) rotateX(90deg);
}
.windshield-dif-dims__item--left {
  /*&::before {
     transform: scale(-1,1);
  }*/
}
.windshield-dif-dims__item--right {
  left: 100%;
}

.windshield-deg90 {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 900px;
          perspective: 900px;
}
.windshield-deg90__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #000;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.windshield-deg90__item--front, .windshield-deg90__item--back, .windshield-deg90__item--bottom {
  background: rgba(107, 215, 212, 0.3);
}
.windshield-deg90__item--front, .windshield-deg90__item--back {
  width: 300px;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform-origin: left 50%;
      -ms-transform-origin: left 50%;
          transform-origin: left 50%;
}
.windshield-deg90__item--left, .windshield-deg90__item--right {
  border-left: none;
  border-top: none;
}
.windshield-deg90__item--left::before, .windshield-deg90__item--right::before {
  content: "";
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-right: 594px solid rgba(107, 215, 212, 0.3);
  border-top: 194px solid transparent;
}
.windshield-deg90__item--front {
  top: 100%;
  height: 632.46px;
  -webkit-transform-origin: 0 bottom;
      -ms-transform-origin: 0 bottom;
          transform-origin: 0 bottom;
  -webkit-transform: translate(0, -100%) rotateZ(71.57deg) rotateY(90deg);
          transform: translate(0, -100%) rotateZ(71.57deg) rotateY(90deg);
}
.windshield-deg90__item--back {
  left: 100%;
}
.windshield-deg90__item--bottom {
  top: 100%;
  height: 300px;
  -webkit-transform-origin: 50% bottom;
      -ms-transform-origin: 50% bottom;
          transform-origin: 50% bottom;
  -webkit-transform: translateY(-100%) rotateX(90deg);
          transform: translateY(-100%) rotateX(90deg);
}
.windshield-deg90__item--right {
  -webkit-transform: translateZ(-300px);
          transform: translateZ(-300px);
}

.hexagon {
  position: relative;
  background: rgb(110, 250, 155);
}
.test-wheel {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 900px;
          perspective: 900px;
}
.test-wheel__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%; /* 60/300 */
  height: 41.42%; /* 124.26/300 */
  background: rgba(110, 250, 155, 0.3);
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}
.test-wheel__side--front, .test-wheel__side--back {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.test-wheel__side--top, .test-wheel__side--bottom {
  width: 41.42%;
  height: 20%;
  left: 50%;
  translate: -50% 0;
}
.test-wheel__side--left-top, .test-wheel__side--right-top {
  -webkit-transform-origin: 0 bottom;
      -ms-transform-origin: 0 bottom;
          transform-origin: 0 bottom;
  translate: 0 -30%;
}
.test-wheel__side--left, .test-wheel__side--right {
  top: 50%;
  -webkit-transform: translate(0, -50%) rotateY(90deg);
          transform: translate(0, -50%) rotateY(90deg);
  -webkit-transform-origin: left 50%;
      -ms-transform-origin: left 50%;
          transform-origin: left 50%;
}
.test-wheel__side--left-bottom, .test-wheel__side--right-bottom {
  -webkit-transform-origin: 0 top;
      -ms-transform-origin: 0 top;
          transform-origin: 0 top;
  translate: 0 30%;
}
.test-wheel__side--right-top, .test-wheel__side--right, .test-wheel__side--right-bottom {
  left: 100%;
}
.test-wheel__side--left-bottom, .test-wheel__side--right-bottom, .test-wheel__side--bottom {
  top: auto;
  bottom: 0;
}
.test-wheel__side--back {
  -webkit-transform: translateZ(-60px) rotateY(180deg);
          transform: translateZ(-60px) rotateY(180deg);
}
.test-wheel__side--top {
  -webkit-transform-origin: 50% top;
      -ms-transform-origin: 50% top;
          transform-origin: 50% top;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}
.test-wheel__side--left-top {
  -webkit-transform: rotateZ(45deg) rotateY(90deg);
          transform: rotateZ(45deg) rotateY(90deg);
}
.test-wheel__side--right-top {
  -webkit-transform: rotateZ(-45deg) rotateY(90deg);
          transform: rotateZ(-45deg) rotateY(90deg);
}
.test-wheel__side--left-bottom {
  -webkit-transform: rotateZ(-45deg) rotateY(90deg);
          transform: rotateZ(-45deg) rotateY(90deg);
}
.test-wheel__side--right-bottom {
  -webkit-transform: rotateZ(45deg) rotateY(90deg);
          transform: rotateZ(45deg) rotateY(90deg);
}
.test-wheel__side--bottom {
  -webkit-transform-origin: 50% bottom;
      -ms-transform-origin: 50% bottom;
          transform-origin: 50% bottom;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.triangle {
  width: 0;
  height: 0;
  border-right: 200px solid #ccc;
  border-top: 200px solid transparent;
  background: #000;
}

.footer {
  padding: 30px 0;
  font-family: "Poppins", sans-serif;
  background: #262625;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.2;
}
.footer__body > * {
  margin-bottom: 30px;
}

.contacts__body > * {
  margin-bottom: 20px;
}
.contacts__body > ul li a span,
.contacts__body > ul li a[href^="mailto:"] {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.contacts__body > ul li a span:hover,
.contacts__body > ul li a[href^="mailto:"]:hover {
  color: #74d7f0;
}
.contacts__body > ul > li {
  position: relative;
  padding: 0 0 0 30px;
  min-height: 20px;
}
.contacts__body > ul > li::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}
.contacts__body > ul > li:not(:last-child) {
  margin-bottom: 10px;
}
.contacts__title {
  display: inline-block;
}
.contacts__address::before {
  background-image: url("../img/icons/contacts/location.svg");
}
.contacts__phone::before {
  background-image: url("../img/icons/contacts/phone.svg");
}
.contacts__email::before {
  background-image: url("../img/icons/contacts/email.svg");
}

.header__body > *:last-child,
.hero__content > *:last-child,
.pop-products__body > *:last-child,
.heading__body > *:last-child,
.card-product__group-info > *:last-child,
.short-docs__body > *:last-child,
.short-article__body > *:last-child,
.short-article__info > *:last-child,
.footer__body > *:last-child,
.contacts__body > *:last-child {
  margin-bottom: 0;
  margin-right: 0;
}