.cards-products {

   &__card {
      width: 20%;
      min-width: 220px;
   }
}
.card-product {
   position: relative;

   &--sale [class*="__label--sale"],
   &--new [class*="__label--new"], 
   &--best [class*="__label--best"],
   &--out [class*="__label--out"] {
      display: inline-block;
   }

   &__box {
      border: 1px solid #E6E6E6;

      &:hover {
         border-color: #2C742F;
         box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);

         [class*="overlay"] {
            [class*="btn"] {
               z-index: 10;
            }
         }

         [class*="__title"] {
            color: $ecoColor5;
         }

         .btn-product--cart {
            background: $ecoColor2;

            &:hover {
               background: $ecoColor5;
            }

            img {
               opacity: 0;

               &[src*="hover"] {
                  opacity: 1;
               }
            }
         }
      }
   }

   &__inner {

      //!Якщо &__inner(два батьківські елементи) не статичні(position відмінне від static), але обидвом не задано явно z-index, то якщо, наприклад, дочірнім елементам &--overlay задати z-index > 0, то вони перекриють сусідній елемент свого батька, але їх батько нічого не перекриє, хіба що він буде по коду нижче за цього сусіда 
      &--overlay {
         padding: 16px;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;

         &>[class*="__body"] {
            &>* {
               position: absolute;
            }   
         }
      }
   }

   &__body {
      position: relative;
      font-size: 0;
      
      &>* {
         font-size: initial;
      }
   }

   &__image {
      position: relative;
      padding: 0 0 87.78626%; /* 230/262 */
      width: 100%;
      border: 5px solid transparent;

      
      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
   }

   &__info {
      padding: 12px;
      font-size: 0;
      text-align: justify;

      &::after {
         content: '';
         width: 100%;
      }
      
      &>* {
         display: inline-block;
         vertical-align: top;
         font-size: initial;
      }
   }

   &__group-info {
      padding: 0 50px 0 0;
      text-align: left;

      &>* {
         margin-bottom: 6px;
      }
   }

   &__title {
      color: #4D4D4D;
      font-size: 14px;
      line-height: 1.28571429; /* 18/14 */
   }

   &__price {
      color: $ecoColor1;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.3125; /* 21/16 */

      span:last-child {
         display: none;
      }
   }

   &__btn-container {
      font-size: 0;

      &>* {
         font-size: initial;
      }
      
      &--cart {
         padding: 11px 4px 0 0;
         margin: 0 0 0 -44px;
      }
   }

   &__labels {
      //display: none;
      max-width: 156px;
      left: 0;
   }

   &__label {
      display: none;
      padding: 3px 8px;
      text-align: center;
      border-radius: 4px;
      color: $ecoColor3;
      font-size: 14px;
      line-height: 1.5; 
      z-index: 10;

      &:not(:last-child) {
         margin-bottom: 8px;
         margin-right: 8px;
      }

      * {
         font-weight: 400;
      }

      span {
         font-weight: 500;
      }

      &--sale {
         background: #EA4B48;
      }
      &--new {
         background: #FF8A00;
      }
      &--best {
         background: #2388FF;
      }
      &--out {
         background: $ecoColor1;
      }
   }

   &__buttons {
      right: 0;

      &>* {
         display: block;

         &:not(:last-child) {
            margin-bottom: 6px;
         }
      }
   }

   &__labels, 
   &__buttons {
      top: 0;

      &>* {
         position: relative;
      }
   }
}