/*------------------BUTTONS-------------------*/
/*--------------------------------------------*/

/*--------------------LINKS-------------------*/
.btn-link {
   display: flex;
   align-items: center;
   gap: 8px;
   border-radius: 999px;
   line-height: 1;
   color: #FFF;
   text-align: center;
   max-width: 500px;
   min-width: 100px;
}
.btn-link strong {
   font-weight: 600;
}
.btn-link svg {
   width: 20px;
   flex-shrink: 0;
}
.btn-link svg path {
   fill: #fff;
}
.btn-link--education {
   /*padding: 14px 15px;*/
   /*padding-inline: 44px;*/
   padding: 14px 44px;
}
.btn-link--edu-v1 {
   background: #F26522;
   font-size: 18px;
}
.btn-link--small {
   padding: 8px 30px;
   line-height: 1.5;
   font-size: 18px;
}
.btn-link--shadow {
   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
/*--------------------------------------------*/