/*-------------------HOVER---------------------*/
@media (any-hover: hover) {
   .btn-link {
      transition: background-color 0.7s, box-shadow 0.7s;
   }
   .btn-link strong {
      transition: fill 0.7s;
   }
   .btn-link svg {
      will-change: transform;
      transition: transform 1s;
   }
   .btn-link path {
      transition: fill 0.7s;
   }
   .btn-link:hover {
      box-shadow: 0px 5px 12px 0px rgba(0, 0, 0);
   }
   .btn-link--edu-v1:hover {
      color: #F26522;
      background-color: #fff;
   }
   .btn-link--edu-v1:hover svg {
      transform: rotate3d(0, 1, 0, 360deg);
   }
   .btn-link--edu-v1:hover path {
      fill: #F26522;
   }
   /*----------------JOINT STYLES--------------------*/
   /*------------------------------------------*/
}

@media (min-width: 768px) {
   .btn-link--small {
      font-size: 16px;
   }
   .btn-link strong {
      font-weight: 500;
   }
}
@media (min-width: 500px) {
   .btn-link svg {
      width: 24px;
   }
   /*.btn-link--education {
      padding-inline: 44px;
      font-size: 20px;
   }*/
}
@media (min-width: 450px) and (max-width: 499.98px) {
   .btn-link--education {
      padding-inline: 30px;
   }
}
@media (min-width: 364px) and (max-width: 449.98px) {
   .btn-link--education {
      padding-inline: 20px;
   }
}
@media (max-width: 363.98px) {
   .btn-link--education {
      padding-inline: 15px;
   }
}

/*@media (max-width: 499.98px) {
   .btn-link--education {
      padding-inline: 44px;
      font-size: 20px;
   }
}*/