.road {
   position: relative;
   background: rgb(93, 89, 89);

   &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 3.333333%; /* 10/300 */
      transform: translate(0,-50%);
      background-image: repeating-linear-gradient(
         to right,
         $mafiaColor1 0,
         $mafiaColor1 100px,
         transparent 100px,
         transparent 200px
      ); //!від 0 до 100px - білий колір, від 100 до 200px - прозорий
   }

	&__body {
      height: 100%;
	}

	&__half {
      position: relative;
      height: 50%;
      transform-style: preserve-3d;

      &--left {
         
      }
   
      &--right {
         
      }
	}
   &__car-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      //!Сумарні розміри автомобіля
      //width: $carLength + px;
      width: 49.82906%; /* 583/1170 */
      width: 583px;
      transform: translate3d(20%,-28.409091%,0); /* 50/176 */
      //transform: translate3d(20%,-70%,0) scale(0.9);
      will-change: right, transform;
      animation: car-move-to 20s ease-out forwards,
      car-move-from 10s ease-in 83s forwards;
   }
}