@charset "UTF-8";
/*Очищення всіх стилів браузерів*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

address {
  font-style: normal;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*$rebelColor1: #fff;
$rebelColor2: #000;
$rebelColor3: #878787;*/
/*$busiColor1: #5A54F2;
$busiColor2: #fff;
$busiColor3: #412672;
$busiColor4: #4F4F4F;
$busiColor5: #FE3F3F;
$busiColor6: #000;*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: clip;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
main > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

h1 {
  font-family: "Old Standart TT", serif;
  font-size: 64px;
  line-height: 1.09375; /* 70/64 */
  font-weight: 700;
}

a:focus-visible {
  outline: 2px solid #2C742F;
  outline-offset: 5px;
}

picture {
  display: block;
}

img {
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

/*----------------------FORM----------------------*/
input {
  /*&[type="number"] {
     // Firefox
     -moz-appearance: none;
     // Safari/Chrome/Edge
     &::-webkit-inner-spin-button,
     &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        //margin: 0;
     }
  }*/
}
input[type=checkbox], input[type=radio] {
  opacity: 0;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

select {
  font-family: inherit;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
select option {
  color: #1A1A1A;
}

.item-form__input:focus,
button {
  outline: none;
}

.item-form__label:hover .item-form__input:not(:disabled),
.item-form__label:has(input[class*="--check"]:not(:disabled)):hover .item-form__input-wrapper,
.item-form__input:focus {
  border-color: #00B207;
}

/*.item-form__input-wrapper:has(input[type="radio"]:focus-visible) {
   outline: 2px solid $ecoPrimary;
}*/
/*----------------------------------------------------*/
/*abbr {
   transition: all 0.3s;

   &:hover {
      color: $color1;
   }
}*/
/*-----------------------COLOR-----------------------------*/
[class*="--color1-var7"] {
  color: #4D4D4D;
}

[class*="--color1-var9"] {
  color: #1A1A1A;
}

/*---------------------------------------------------------*/
[class*=__container] {
  padding-inline: 15px;
  margin: 0 auto;
  max-width: 1320px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

[class*=__price] {
  font-weight: 500;
}

[class*=__title] {
  color: #1A1A1A;
}

/*.title {
   line-height: 1.5;
   color: $ecoColor1Var9;

   &--fs-s-v1 {
      font-size: 24px;

   }
   &--fs-s-v2 {
      font-size: 20px;

   }
   &--fw-500 {
      font-weight: 500;
   }
}*/
/*----------------APPEARANCE-----------------*/
@-webkit-keyframes appearance {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes appearance {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes yevhen-appearance {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes yevhen-appearance {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes girls-appearance {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes girls-appearance {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes hook-appearance {
  /*0% {
     transform: translateX(1300%);
  }*/
  100% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
}
@keyframes hook-appearance {
  /*0% {
     transform: translateX(1300%);
  }*/
  100% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
}
@-webkit-keyframes remove-temporary {
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
@keyframes remove-temporary {
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
@-webkit-keyframes visibility-standart {
  0%, 100% {
    visibility: visible;
  }
}
@keyframes visibility-standart {
  0%, 100% {
    visibility: visible;
  }
}
@-webkit-keyframes replica-appearance {
  0%, 100% {
    /*width: auto;
    height: auto;*/
    font-size: 22px;
  }
}
@keyframes replica-appearance {
  0%, 100% {
    /*width: auto;
    height: auto;*/
    font-size: 22px;
  }
}
/*------------------------------------------*/
/*-------------------------------------------------------*/
.header {
  padding: 20px 0;
  position: sticky;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  background: #262625;
  font-family: "Old Standart TT", serif;
  font-size: 20px;
  line-height: 1.2;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px 50px;
}

.nav__body > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px 30px;
  /*&>li,
  li:has(ul)::after {
     transition-duration: 0.5s;
  }*/
}
.nav__body > ul > li {
  /*&:hover {
     //color: #74d7f0;
     color: $color1;
  }*/
  /*&:not(:last-child) {
     margin-right: 30px;
  }*/
}
.nav__body > ul li {
  position: relative;
  cursor: pointer;
}
.nav__body > ul li:has(ul)::after {
  content: "";
  margin: 0 0 0 3px;
  /*width: 15px;
  height: 15px;*/
  border-top-color: inherit;
  border-top: 10px solid;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  -webkit-transition: margin 0.8s, border-top 0.5s, border-bottom 0.5s;
  transition: margin 0.8s, border-top 0.5s, border-bottom 0.5s;
  /*border-right: 2px solid $color2;
  border-bottom: 2px solid $color2;
  transform: translate(0,-2px) rotate(45deg);*/
}
.nav__body > ul li:has(ul):hover::after {
  margin-bottom: 1px;
  border-bottom-color: inherit;
  border-top: none;
  border-bottom: 10px solid;
}
.nav__body > ul li:has(ul):hover > ul {
  visibility: visible;
  opacity: 1;
}
.nav__body > ul li > ul {
  visibility: hidden;
  opacity: 0;
  padding-top: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  max-height: 500px;
  overflow: auto;
}
.nav__body > ul li > ul > li {
  max-width: 300px;
  padding: 0 20px 0 10px;
  line-height: 1.8;
  background: #696161;
  -webkit-transition: background, -webkit-box-shadow 0.3s;
  transition: background, -webkit-box-shadow 0.3s;
  transition: background, box-shadow 0.3s;
  transition: background, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.nav__body > ul li > ul > li:hover {
  background: #EE2918;
  -webkit-box-shadow: inset 0 0 10px #000;
          box-shadow: inset 0 0 10px #000;
}

.nav__body > ul > li,
.header__authorization {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.nav__body > ul > li:hover,
.header__authorization:hover {
  color: #EE2918;
}

.header,
.nav li > ul {
  color: rgba(255, 255, 255, 0.9);
}

.hero {
  position: relative;
  padding: 50px 0;
  min-height: 700px;
  background: #5E5372;
  color: #000;
}
.hero__body > * {
  margin-bottom: 30px;
}
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  width: 100%;
  height: 100%;
  will-change: transform;
  animation: girls-appearance 0.5s 6.5s forwards, girls-appearance 0.3s reverse 8.7s forwards;
}
.hero__bg > picture {
  position: relative;
  height: 100%;
}
.hero__bg > picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__image--yevhen {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  width: 500px;
  height: 670px;
  z-index: 1;
  will-change: transform;
  animation: yevhen-appearance 0.5s 2s forwards, yevhen-appearance 0.5s reverse 11.6s forwards;
}
.hero__title {
  position: relative;
  -webkit-transform: translateX(-300%);
      -ms-transform: translateX(-300%);
          transform: translateX(-300%);
  will-change: transform;
  color: #EBE691;
  -webkit-animation: appearance 0.5s 10.8s forwards;
          animation: appearance 0.5s 10.8s forwards;
}

.img-person > picture {
  position: relative;
  height: 100%;
}
.img-person > picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.img-person__inner {
  position: relative;
}
.img-person__replica {
  position: absolute;
  top: 4%;
  left: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 430px;
}

.replica {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 35px 5px;
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  color: #EBE691;
}
.replica__body {
  padding: 20px;
  position: relative;
  background: #32B5A4;
  border-radius: inherit;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  -webkit-animation: visibility-standart 3.7s 2.8s, visibility-standart 1.5s 7.7s, visibility-standart 1.5s 9.8s;
          animation: visibility-standart 3.7s 2.8s, visibility-standart 1.5s 7.7s, visibility-standart 1.5s 9.8s;
}
.replica__body::before {
  content: "";
  position: absolute;
  top: 45%;
  left: 99%;
  width: 0;
  height: 0;
  translate: 0 -50%;
  border-left: 30px solid #32B5A4;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.replica__text {
  /*width: 0; 
  height: 0;
  will-change: width, height;*/
  /*&:last-child {
     animation-fill-mode: none;
  }*/
}
.replica__text p {
  font-size: 0;
}
.replica__text p:nth-child(1) {
  -webkit-animation: replica-appearance 3.7s 2.8s;
          animation: replica-appearance 3.7s 2.8s;
}
.replica__text p:nth-child(2) {
  -webkit-animation: replica-appearance 1.5s 7.7s;
          animation: replica-appearance 1.5s 7.7s;
}
.replica__text p:nth-child(3) {
  -webkit-animation: replica-appearance 1.5s 9.8s;
          animation: replica-appearance 1.5s 9.8s;
}

.temporary {
  position: relative;
  display: inline-block;
  will-change: transform;
  -webkit-animation: remove-temporary 0.8s 13.8s forwards;
          animation: remove-temporary 0.8s 13.8s forwards;
}
.temporary__hook {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 70px;
  -webkit-transform: translateX(1300%);
      -ms-transform: translateX(1300%);
          transform: translateX(1300%);
  will-change: transform;
  -webkit-animation: hook-appearance 1.5s 12s forwards;
          animation: hook-appearance 1.5s 12s forwards;
}

.hook {
  border-top: 6px solid;
  border-left: 10px solid;
  border-color: #000;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  /*&::before {
     content: '';
     height: 100%;
     aspect-ratio: 1 / 1;
     border-top: 4px solid;
     border-left: 4px solid;
     border-color: inherit;
     border-radius: 50%;
  }*/
}

.button {
  padding: 16px 40px;
  background: #00B207;
  border-radius: 43px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.button * {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
}
.button:hover {
  background-color: #2C742F;
}
.button:focus-visible {
  outline: 7px solid #2C742F;
}

.billing {
  padding: 1.666667% 0 4.166667%; /* 80/1920 */
  line-height: 1.5;
}
.billing [class*=__title] {
  line-height: 1.5;
}
.billing__body > * {
  margin-bottom: 32px;
}
.billing__form {
  gap: 24px 1.818182%; /* 24/1320 */
}

.form-section {
  /*&__print-inputs,
  &__category {
     row-gap: 16px;
  }*/
}
.form-section__body {
  /*&--last-marg {
     .form-category:not([class*="--checkbox"]):last-child {
        margin-right: -8px;
     }
  }*/
}
.form-section__body > * {
  margin-bottom: 20px;
}
.form-section__title {
  font-size: 24px;
  font-weight: 500;
}
.form-section__print-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  overflow: hidden;
}
.form-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 16px;
}
.form-category:not([class*="--checkbox"]) {
  margin-inline: -8px;
}
.form-category:not([class*="--checkbox"]) .item-form {
  padding-inline: 8px;
}
.form-category__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  flex-basis: 50%;
  /*&:has(.item-form__input:not(.item-form__input--check)) {
     @include flexColumn;
     justify-content: flex-end;
  }*/
}
.form-category__item:has(textarea) {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.form-category--name .item-form {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
}
.form-category--teritory-address .item-form {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
}
.form-category--teritory-address [class*=__item--street] {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.form-category--checkbox {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.form-category:not([class*="--checkbox"]) .item-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.form-category:has([class*=__input]:not(:is(select, [class*="--check"])):not(:-moz-placeholder-shown):invalid) .item-form {
  justify-content: stretch;
  /*&__label {
     flex-grow: 1;
  }
  &__title {
     flex-grow: 1;
  }*/
}
.form-category:has([class*=__input]:not(:is(select, [class*="--check"])):not(:-ms-input-placeholder):invalid) .item-form {
  -ms-flex-pack: stretch;
      justify-content: stretch;
  /*&__label {
     flex-grow: 1;
  }
  &__title {
     flex-grow: 1;
  }*/
}
.form-category:has([class*=__input]:not(:is(select, [class*="--check"])):not(:placeholder-shown):invalid) .item-form {
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  /*&__label {
     flex-grow: 1;
  }
  &__title {
     flex-grow: 1;
  }*/
}

.item-form {
  /*------------------------СТАНИ-------------------------*/
  /*---------------------------------------------------------*/
}
.item-form:not(.item-form--without-icon):has(.item-form__input:not(:is(select)):not(:-moz-placeholder-shown):invalid) .item-form__input-wrapper::before, .item-form:not(.item-form--without-icon):has(.item-form__input:not(:-moz-placeholder-shown):valid) .item-form__input-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
}
.item-form:not(.item-form--without-icon):has(.item-form__input:not(:is(select)):not(:-ms-input-placeholder):invalid) .item-form__input-wrapper::before, .item-form:not(.item-form--without-icon):has(.item-form__input:not(:-ms-input-placeholder):valid) .item-form__input-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
}
.item-form:not(.item-form--without-icon):has(.item-form__input:not(:is(select)):not(:placeholder-shown):invalid) .item-form__input-wrapper::before, .item-form:not(.item-form--without-icon):has(.item-form__input:not(:placeholder-shown):valid) .item-form__input-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
}
.item-form:not(.item-form--without-icon):has(.item-form__input:not(:is(select)):not(:-moz-placeholder-shown):invalid) .item-form__input-wrapper:has(textarea)::before, .item-form:not(.item-form--without-icon):has(.item-form__input:not(:-moz-placeholder-shown):valid) .item-form__input-wrapper:has(textarea)::before {
  top: 16px;
  transform: translate(0);
}
.item-form:not(.item-form--without-icon):has(.item-form__input:not(:is(select)):not(:-ms-input-placeholder):invalid) .item-form__input-wrapper:has(textarea)::before, .item-form:not(.item-form--without-icon):has(.item-form__input:not(:-ms-input-placeholder):valid) .item-form__input-wrapper:has(textarea)::before {
  top: 16px;
  -ms-transform: translate(0);
      transform: translate(0);
}
.item-form:not(.item-form--without-icon):has(.item-form__input:not(:is(select)):not(:placeholder-shown):invalid) .item-form__input-wrapper:has(textarea)::before, .item-form:not(.item-form--without-icon):has(.item-form__input:not(:placeholder-shown):valid) .item-form__input-wrapper:has(textarea)::before {
  top: 16px;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.item-form:has(.item-form__input:not(:-moz-placeholder-shown):valid) .item-form__input-wrapper::before {
  background-image: url("../img/icons/form/success.svg");
}
.item-form:has(.item-form__input:not(:-ms-input-placeholder):valid) .item-form__input-wrapper::before {
  background-image: url("../img/icons/form/success.svg");
}
.item-form:has(.item-form__input:not(:placeholder-shown):valid) .item-form__input-wrapper::before {
  background-image: url("../img/icons/form/success.svg");
}
.item-form:has(.item-form__input:not(:-moz-placeholder-shown):valid) .item-form__input-wrapper input, .item-form:has(.item-form__input:not(:-moz-placeholder-shown):valid) .item-form__input-wrapper select, .item-form:has(.item-form__input:not(:-moz-placeholder-shown):valid) .item-form__input-wrapper textarea {
  color: #4D4D4D;
}
.item-form:has(.item-form__input:not(:-ms-input-placeholder):valid) .item-form__input-wrapper input, .item-form:has(.item-form__input:not(:-ms-input-placeholder):valid) .item-form__input-wrapper select, .item-form:has(.item-form__input:not(:-ms-input-placeholder):valid) .item-form__input-wrapper textarea {
  color: #4D4D4D;
}
.item-form:has(.item-form__input:not(:placeholder-shown):valid) .item-form__input-wrapper input,
.item-form:has(.item-form__input:not(:placeholder-shown):valid) .item-form__input-wrapper select,
.item-form:has(.item-form__input:not(:placeholder-shown):valid) .item-form__input-wrapper textarea {
  color: #4D4D4D;
}
.item-form:has(.item-form__input:not(:-moz-placeholder-shown):valid) .item-form__input-wrapper .item-form__input:not(:is([class*="--check"], textarea:not(:required), [type=file])) {
  border: 1px solid #00B207;
  background: linear-gradient(0deg, rgba(32, 181, 38, 0.05) 0%, rgba(32, 181, 38, 0.05) 100%), #FFF;
}
.item-form:has(.item-form__input:not(:-ms-input-placeholder):valid) .item-form__input-wrapper .item-form__input:not(:is([class*="--check"], textarea:not(:required), [type=file])) {
  border: 1px solid #00B207;
  background: linear-gradient(0deg, rgba(32, 181, 38, 0.05) 0%, rgba(32, 181, 38, 0.05) 100%), #FFF;
}
.item-form:has(.item-form__input:not(:placeholder-shown):valid) .item-form__input-wrapper .item-form__input:not(:is([class*="--check"], textarea:not(:required), [type=file])) {
  border: 1px solid #00B207;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(32, 181, 38, 0.05)), to(rgba(32, 181, 38, 0.05))), #FFF;
  background: linear-gradient(0deg, rgba(32, 181, 38, 0.05) 0%, rgba(32, 181, 38, 0.05) 100%), #FFF;
}
.item-form:not(.item-form--without-icon):has(.item-form__input:not(:is(select)):not(:-moz-placeholder-shown):invalid) {
  /*&:not(&--without-icon) {
     .item-form__input-wrapper {
        &::before {
           background-image: url('../img/icons/form/error.svg');
        }
        & ~ [class*="--error"] {
           display: block;
        }
        [class*="__input"] {
           border: 1px solid $ecoError;
        }
     }   
  }*/
}
.item-form:not(.item-form--without-icon):has(.item-form__input:not(:is(select)):not(:-ms-input-placeholder):invalid) {
  /*&:not(&--without-icon) {
     .item-form__input-wrapper {
        &::before {
           background-image: url('../img/icons/form/error.svg');
        }
        & ~ [class*="--error"] {
           display: block;
        }
        [class*="__input"] {
           border: 1px solid $ecoError;
        }
     }   
  }*/
}
.item-form:not(.item-form--without-icon):has(.item-form__input:not(:is(select)):not(:placeholder-shown):invalid) {
  /*&:not(&--without-icon) {
     .item-form__input-wrapper {
        &::before {
           background-image: url('../img/icons/form/error.svg');
        }
        & ~ [class*="--error"] {
           display: block;
        }
        [class*="__input"] {
           border: 1px solid $ecoError;
        }
     }   
  }*/
}
.item-form:not(.item-form--without-icon):has(.item-form__input:not(:is(select)):not(:-moz-placeholder-shown):invalid) .item-form__input-wrapper::before {
  background-image: url("../img/icons/form/error.svg");
}
.item-form:not(.item-form--without-icon):has(.item-form__input:not(:is(select)):not(:-ms-input-placeholder):invalid) .item-form__input-wrapper::before {
  background-image: url("../img/icons/form/error.svg");
}
.item-form:not(.item-form--without-icon):has(.item-form__input:not(:is(select)):not(:placeholder-shown):invalid) .item-form__input-wrapper::before {
  background-image: url("../img/icons/form/error.svg");
}
.item-form:not(.item-form--without-icon):has(.item-form__input:not(:is(select)):not(:-moz-placeholder-shown):invalid) .item-form__input-wrapper ~ [class*="--error"] {
  display: block;
}
.item-form:not(.item-form--without-icon):has(.item-form__input:not(:is(select)):not(:-ms-input-placeholder):invalid) .item-form__input-wrapper ~ [class*="--error"] {
  display: block;
}
.item-form:not(.item-form--without-icon):has(.item-form__input:not(:is(select)):not(:placeholder-shown):invalid) .item-form__input-wrapper ~ [class*="--error"] {
  display: block;
}
.item-form:not(.item-form--without-icon):has(.item-form__input:not(:is(select)):not(:-moz-placeholder-shown):invalid) .item-form__input-wrapper [class*=__input] {
  border: 1px solid #EA4B48;
}
.item-form:not(.item-form--without-icon):has(.item-form__input:not(:is(select)):not(:-ms-input-placeholder):invalid) .item-form__input-wrapper [class*=__input] {
  border: 1px solid #EA4B48;
}
.item-form:not(.item-form--without-icon):has(.item-form__input:not(:is(select)):not(:placeholder-shown):invalid) .item-form__input-wrapper [class*=__input] {
  border: 1px solid #EA4B48;
}
.item-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.item-form__label:has([class*="--check"]) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-form__label:has([class*="--check"]) [class*=__title] {
  cursor: pointer;
}
.item-form__label:has(input[type=checkbox]) [class*=__title] {
  color: #4D4D4D;
}
.item-form__label:has(input[type=radio]):has([class*=__title]:hover) [class*=__title], .item-form__label:has(input[type=radio]):has([class*=__input-wrapper]:hover) [class*=__title], .item-form__label:has(input[type=radio]):has([class*=__input-wrapper]:focus-within) [class*=__title] {
  color: #4D4D4D;
}
.item-form__title {
  font-weight: 400;
}
.item-form__title > span {
  color: #808080;
}
.item-form__input-wrapper {
  position: relative;
  /*-----------------------RADIO, CHECKBOX-----------------------------*/
  /*----------------------------------------------------*/
  /*&:has(select:focus) {
     &::after {
        transform: translate(0,-30%) rotateX(-180deg) rotateZ(-45deg);
     }
  }*/
}
.item-form__input-wrapper:has(input[class*="--check"]) {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 20px;
  height: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid #ccc;
  cursor: pointer;
  -webkit-transition: border-color 0.3s, background 0.3s;
  transition: border-color 0.3s, background 0.3s;
}
.item-form__input-wrapper:has(input[class*="--check"]):has(input:checked) {
  border-width: 0;
  background: #00B207;
}
.item-form__input-wrapper:has(input[class*="--check"]):has(input:focus-visible) {
  outline: 3px solid #2C742F;
}
.item-form__input-wrapper:has(input[class*="--check"]) input {
  width: 0;
  height: 0;
}
.item-form__input-wrapper:has(input[type=checkbox]) {
  border-radius: 3px;
}
.item-form__input-wrapper:has(input[type=checkbox]):has(input:checked) {
  background: #00B207 url("../img/icons/form/check.svg") center/80% no-repeat;
}
.item-form__input-wrapper:has(input[type=radio]) {
  border-radius: 50%;
}
.item-form__input-wrapper:has(input[type=radio]):has(input:checked) {
  position: relative;
}
.item-form__input-wrapper:has(input[type=radio]):has(input:checked)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  border-radius: inherit;
  border: 3px solid #fff;
}
.item-form__input-wrapper:has(select) select {
  position: relative;
  z-index: 3;
  background: transparent;
}
.item-form__input-wrapper:has(select)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  width: 9px;
  height: 9px;
  -webkit-transform: translate(0, -50%) rotateZ(-45deg);
      -ms-transform: translate(0, -50%) rotate(-45deg);
          transform: translate(0, -50%) rotateZ(-45deg);
  border-left: 2px solid #999;
  border-bottom: 2px solid #999;
  opacity: 0.8;
  will-change: transform;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.item-form__input-wrapper:has(.item-form__input:disabled) > *, .item-form__input-wrapper:has(.item-form__input:disabled)::after, .item-form__input-wrapper:has(.item-form__input:disabled)::before {
  opacity: 0.7;
}
.item-form__input {
  display: block;
  padding: 0 16px; /* 16/280 */
  border-radius: 6px;
  font-size: 16px;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
  height: 49px;
  /*&:disabled {
     opacity: 1;
  }*/
}
.item-form__input:is(textarea) {
  padding-block: 14px;
  min-height: 100px;
  line-height: 1.3;
}
.item-form__input::-webkit-input-placeholder {
  color: #999;
  font-size: 16px;
}
.item-form__input::-moz-placeholder {
  color: #999;
  font-size: 16px;
}
.item-form__input:-ms-input-placeholder {
  color: #999;
  font-size: 16px;
}
.item-form__input::-ms-input-placeholder {
  color: #999;
  font-size: 16px;
}
.item-form__input::placeholder, .item-form__input:is(select, input[type=date]) {
  color: #999;
  font-size: 16px;
}
.item-form__message {
  display: none;
  font-weight: 500;
  line-height: 1.5;
}
.item-form__message--warning {
  color: #FF8A00;
}
.item-form__message--error {
  color: #EA4B48;
}
.item-form__placeholder {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.form-billing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*[class*="__title"] {
     font-weight: 500;
  }*/
}
.form-billing__input-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 872px;
          flex: 1 1 872px;
  /*[class*="__title"] {
     font-size: 24px;
  }*/
}
.form-billing__order-final {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 424px;
          flex: 1 1 424px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  /*[class*="__title"] {
     font-size: 20px;
  }*/
}

.input-info > * {
  margin-bottom: 32px;
  padding-bottom: 3.669725%;
}
.input-info > *:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.input-info > *,
.total > * {
  border-bottom: 1px solid #E6E6E6;
}

.pay-method__body > * {
  margin-bottom: 16px;
}
.item-form__input,
.order-final {
  border: 1px solid #E6E6E6;
  background: #fff;
}

.summary__title,
.pay-method__title {
  font-size: 20px;
  font-weight: 500;
}

.order-final {
  padding: 1.818182%; /* 24/1320 */
  border-radius: 8px;
}
.order-final__body > * {
  margin-bottom: 24px;
}
.order-final__btn {
  /*margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 500px;*/
  width: 100%;
}

.summary__body > * {
  margin-bottom: 12px;
}
.checkout-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.checkout-product a:focus-visible {
  outline-offset: 2px;
}
.checkout-product__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.checkout-product__body, .checkout-product__info, .checkout-product__group-info {
  gap: 6px;
}
.checkout-product__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  height: 60px;
}
.checkout-product__image > picture {
  position: relative;
  height: 100%;
}
.checkout-product__image > picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.checkout-product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.checkout-product__info > *:not([class*="--main-el"]) {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.checkout-product__group-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.checkout-product__title {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.checkout-product__title:hover {
  color: #2C742F;
}
.total__item {
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.total__item--total [class*=__price] {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
}
.total__label {
  font-weight: inherit;
  color: #4D4D4D;
}
.total > *:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

/*-------------------------------------------------------*/
.footer {
  padding: 30px 0;
  background: #262625;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.2;
}
.footer__body > * {
  margin-bottom: 30px;
}

.contacts__body > * {
  margin-bottom: 20px;
}
.contacts__body > ul li a span,
.contacts__body > ul li a[href^="mailto:"] {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.contacts__body > ul li a span:hover,
.contacts__body > ul li a[href^="mailto:"]:hover {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  color: #74d7f0;
}
.contacts__body > ul > li {
  position: relative;
  padding: 0 0 0 30px;
  min-height: 20px;
}
.contacts__body > ul > li::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}
.contacts__body > ul > li:not(:last-child) {
  margin-bottom: 10px;
}
.contacts__title {
  display: inline-block;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
}
.contacts__address::before {
  background-image: url("../img/icons/contacts/location.svg");
}
.contacts__phone::before {
  background-image: url("../img/icons/contacts/phone.svg");
}
.contacts__email::before {
  background-image: url("../img/icons/contacts/email.svg");
}

[class*="--last-marg"] > *:last-child {
  margin-bottom: 0;
}