@keyframes girl-appearance {
   0% {
      visibility: visible;
   }
   100% {
      height: 0px;
      visibility: hidden;
   }
}
/*@keyframes girl-appearance {
   to {
      opacity: 1;
   }
}*/