/*-------------------HOVER---------------------*/
@media (any-hover: hover) {
   /*-----------------BUTTONS----------------*/
   .prod-card__inner:hover .prod-card__btn:not([class*="--overlay"]):hover {
      background-color: #2C742F;
   }
   .prod-card__inner:hover .prod-card__btn:not([class*="--overlay"]) path {
      stroke: #fff;
   }
   /*---------------------------------------------*/
   /*-----------------LINKS---------------------*/
   .link path {
      transition: stroke 0.3s;
   }
   .link svg {
      will-change: transform;
      transition: transform 0.3s;
   }
   .link:hover svg {
      transform: translateX(-7px);
   }
   .link:hover path {
      stroke: #2C742F;
   }
   /*---------------------------------------------*/
}
/*---------------------------------------------*/