.best-faculty {
   padding: 3.18287% 0 4.166667%; 

   [class*="__container"] {
      max-width: 1402px;
   }

   &__body {
      font-size: 0;

      & > * {
         margin-right: 6.559767%;
         //margin-bottom: 30px;
         display: inline-block;
         //vertical-align: top;
         vertical-align: middle;
         font-size: initial;
      }
   }

   &__info {
      //padding: 7.142857% 0 0 0; 
      width: 100%;
      max-width: 518px;
      vertical-align: middle;

      & > * {
         margin-bottom: 20px;
      }

      &>ul {
         
         li {
            //padding: 0 0 0 8.494208%; /* 44/518 */
            //vertical-align: top;
            //padding: 0 0 0 44px;
            //vertical-align: top;
            //position: relative;
            //min-height: 29px;
            //font-size: 12px;
            line-height: 1.5; /* 30/20 */
            color: #4F4F4F;
            font-size: 0;

            &>* {
               display: inline-block;
               vertical-align: top;
               font-size: 12px;
            }

            &>div {
               max-width: 91.505792%; /* 474/518 */

               p {

                  &:not(:last-child) {
                     margin-bottom: 10px;
                  }
               }
            }

            &:not(:last-child) {
               margin-bottom: 21px;
            }

            &::before {
               content: '';
               //position: absolute;
               //top: 0.85em; /* 17/20 */
               //left: 5px;
               //margin: 0 15px 0 -44px;
               margin: 0 15px 0 0;
               background: url('../img/business/icon/list-style.svg') center / 68.965517% no-repeat;
               width: 29px;
               height: 29px;
            }
         }
      }
   }

   [class*="__title"] {
      * {
         font-size: 34px;
         line-height: 1.20588235; /* 41/34 */
      }
   }

   &__text {
      font-size: 22px;
      line-height: 1.22727273; /* 27/22 */
      color: $busColor1;
   }

   &__slider {
      max-width: 764px;
      width: 100%;

      p {
         img {
            //vertical-align: middle;
            width: 1em;
            height: 1em;
         }
      }
      a {
         transition: all 0.5s;

         &:hover {
            font-size: 3em;
            font-weight: 700;
            text-shadow: -12px 10px 7px rgba(238, 41, 24, 0.7);
            color: $color1;
            background: #dcf0e5;
            box-shadow: inset 10px 5px 9px rgba(188, 24, 238, 0.3), 10px 10px 9px rgba(23, 255, 42, 0.5);
            border-radius: 0.1em 0.3em;
         }
      }

      span {
         color: $color1;
         font-weight: 700;
      }

      .swiper-slide {
         position: relative;
         cursor: pointer;
         transition: all 0.3s;

         .text {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 50px;
            font-weight: 700;
            color: #ff38d1;

            //vertical-align - не працює якщо поруч немає іншого inline-елемента, тому можна додати псевдоелемент
            &::before {
               content: "";
               display: inline-block;
               height: 100%;
               vertical-align: middle;
            }

            p {
               display: inline-block;
               vertical-align: middle;

               &.get-off {
                  display: none;
                  color: $color1;
               }
            }
         }

         &:hover {
            box-shadow: 0 0 30px #ff38d1;

            .text {
               display: block;
            }
         }
         &:focus {
            background: #000000;
            box-shadow: 0 0 50px $color1;

            img {
               display: none;

               &.warning {
                  display: inline-block;
                  object-fit: contain;
               }
            }
            .text p.push {
               display: none;
            }
            .text p.get-off {
               display: inline-block;
            }
         }
      }

      .full-block-image {
         position: relative;
         padding: 0 0 68.193717%; // 521/764 
   
         img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

            &.warning {
               display: none;
            }
         }
      }
   }
}
