.gallery {
   overflow: hidden;

   &__body {
      margin: -30px;
      font-size: 0;
      text-align: center;
      
      &>* {
         display: inline-block;
         vertical-align: top;
         font-size: initial;
      }
   }

   &__image {
      width: 50%;
      min-width: 500px;
      padding: 10px;

      picture {
         display: block;
         padding-bottom: 45%;
         position: relative;

         img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            //object-fit: cover;
         }
      }
   }
}
