$carLength: 583;
$carHeight: 30.188679%;
$bodyCarHeight: 85px;
$bodyTopFrontHeight: calc($bodyCarHeight / 3.333px) + px; 
//$bodyTopWidth: 206px;
$carWidth: calc($carLength * 35 / 100) + px;
$carWidthPx: 204.04;
$wingsTranslateZ: calc(204.04 - 2) + px;
$bodyTopWidth: calc($carWidth * 33.853211 / 100) + px;
/*$translateVar: calc(0px - $carWidth + $bodyCarHeight);
$translateHoodFrontVar: calc(0px - $carWidth + $bodyTopFrontHeight);*/
%shadow5px {
   box-shadow: 0 0 5px #000;
}
%shadow1px {
   box-shadow: 0 0 1px #000;
}


[class*="__wrapper-rel"],
[class*="__box-item"] {
   position: relative;
   width: 100%;
   height: 100%;
}
[class*="--3d"] {
   transform-style: preserve-3d;
}
[class*="__bg-item"] {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.mafia {
   padding: 50px 0;
   background: #ccc;

   &__container {
   }

   &__body {
      &>* {
         margin-bottom: 40px;
      }
   }

   &__car-wrapper {
      //!Сумарні розміри автомобіля
      margin-left: auto;
      margin-right: auto;
      //width: $carLength + px;
      width: 49.82906%; /* 583/1170 */
      width: 583px;
   }
   &__car {
   }
   &__gallery {
   }
}
.car-info {

   &__body {
   }

   &__title {
      font-size: 25px;
   }

   &__text {
   }
}
