$carLength: 583;
$carHeight: 30.188679%;
$bodyCarHeight: 85px;
$bodyTopFrontHeight: calc($bodyCarHeight / 3.333px) + px; 
//$bodyTopWidth: 206px;
$carWidth: calc($carLength * 35 / 100) + px;
$carWidthPx: 204.04;
$wingsTranslateZ: calc(204.04 - 2) + px;
$bodyTopWidth: calc($carWidth * 33.853211 / 100) + px;
/*$translateVar: calc(0px - $carWidth + $bodyCarHeight);
$translateHoodFrontVar: calc(0px - $carWidth + $bodyTopFrontHeight);*/

$carColor1: #da2616;
$carColor2: #fff;
$carColor3: #222823;
$carColor4: rgb(148, 18, 18);
$winBorderColor: #483E3F;
$winColor: rgba(153, 234, 236, 0.3);

.mafia {
   padding: 50px 0;

   &__container {
   }

   &__body {
   }

   &__car-wrapper {
      //!Сумарні розміри автомобіля
      //position: relative;
      width: $carLength + px;
   }
   &__car {
   }
}