@media (min-width: 76.9375em) {
   .link {
      /*padding-top: 1.25rem;
      padding-bottom: 1.25rem;*/
   }
}
/*@media (min-width: 30em) {
   .link {
      font-size: 1.25rem;
   }
}
@media (min-width: 20em) and (max-width: 29.9988em) {
   .link {
      font-size: 1.125rem;
   }
}*/