* {
	-webkit-tap-highlight-color: transparent;
}
body {
   font-family: "Montserrat", sans-serif;
   font-size: 18px;
   color: #191C2F;
   line-height: 1.2;
}
body:has(.burger__input:checked) {
   overflow: hidden;
}
.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: clip;
}
.wrapper--education-v1 a:not([class*="--not-tab"]):focus-visible,
.wrapper--education-v1 [class*="--tab"]:has(:focus-visible),
.logo:focus-visible .logo__body {
   outline: 3px solid #F26522;
   outline-offset: 5px;
}
[class*="--not-tab"] {
   outline: none;
}
main {
   display: flex;
   flex-direction: column;
   flex: 1 0 auto;
}
main>* {
   flex: 1 0 auto;
}
[class*="__container"] {
   padding-inline: 10px;
   margin-inline: auto;
   max-width: 1200px;
   box-sizing: content-box;
}
h1 {
   color: #FFF;
   text-shadow: -8.337px 55.023px 15.84px rgba(0, 0, 0, 0.00), 
      -5.836px 35.015px 14.173px rgba(0, 0, 0, 0.01), 
      -3.335px 20.008px 11.672px rgba(0, 0, 0, 0.02), 
      -1.667px 9.171px 9.171px rgba(0, 0, 0, 0.03), 
      0px 2.501px 5.002px rgba(0, 0, 0, 0.04);
   font-size: 25px;
   font-weight: 700;
   line-height: 1.00706;
   text-align: center;
}
/*a:focus-visible,
button:focus-visible {
   outline: solid #2C742F;
}
a:focus-visible {
   outline-width: 2px;
   outline-offset: 5px;
}*/
picture {
   display: block;
}
img {
   align-content: center;
   text-align: center;
}
/*----------------------FORM----------------------*/
input[type="checkbox"],
input[type="radio"] {
   width: 0;
   height: 0;
   cursor: pointer;
}
/*input[type="number"] {
   // Firefox
   -moz-appearance: none;
   // Safari/Chrome/Edge
   input[type="number"]::-webkit-inner-spin-button,
   input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      //margin: 0;
   }
}*/
/*input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
}*/
textarea {
   resize: vertical;
}
select {
   font-family: inherit;
   width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   appearance: none;
}
/*----------------------------------------------------*/
/*abbr {
   transition: all 0.3s;

   &:hover {
      color: $color1;
   }
}*/
.cover-img {
   object-fit: cover;
}
.contain-img {
   object-fit: contain;
}
[class*="__cards"] {
   display: flex;
}
[class*="__card"] [class*="__body"] {
   display: flex;
   flex-direction: column;
}
/*[class*="__title"]:has(a):hover {
   text-decoration: underline;
   text-decoration-color: #2C742F;
}*/
[class*="__overlay"] {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
[class*="__image"] picture>img {
   width: 100%;
   height: 100%;
}
/*-----------------------COLOR-----------------------------*/
/*[class*="--col-prima"] {
   color: #00B207;
}
[class*="--col-hard-prima"] {
   color: #2C742F;
}*/
[class*="--col-white"] {
   color: #fff;
}
/*[class*="--col1-var9"] {
   color: #1A1A1A;
}
[class*="--col1-var7"] {
   color: #4D4D4D;
}*/
/*---------------------------------------------------------*/
/*-----------------------PADDING-----------------------------*/
/*[class*="--padd-m"] {
   padding-block: 15px;
}*/
/*---------------------------------------------------------*/
/*-----------------------MARGIN-----------------------------*/
/*[class*="__body--marg-s"]>* {
   margin-bottom: 22px;
}*/
/*---------------------------------------------------------*/




