@use "sass:math";
@use "_reset";
@use "_templates";
@use "_mixins" as *;


/*-------------CSS-ЗМІННІ------------*/
:root {
   --safePadd: 0.625rem;
   
   /*------------------COLOR----------------*/
   --colorPrimary: #000;
   /*TEXT*/
   --textPrimary: #ff0000;
   --colorWhite: #fff;
   /*---------------------------------------*/

   /*---------------FONT-SIZE----------------*/
   /*----------------------------------------*/

   /*-------------------HEADER----------------------*/
   /*--header-minh: 4.8125rem;*/
   /*----------------------------------------*/

   @media (min-width: toEm(401)) {
      --safePadd: 0.9375rem;
   }
}
/*-----------------------------------*/


* {
	-webkit-tap-highlight-color: transparent;
}
html {
   scroll-behavior: smooth;
}
body {
   font-family: "Montserrat", sans-serif;
   font-size: toRem(18);
   color: var(--textPrimary);
   line-height: 1.2;
   /*background-color: var(--colorPrimary);*/
}
.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: clip;
}
main {
   display: flex;
   flex-direction: column;
   flex: 1 0 auto;
}
main>* {
   flex: 1 0 auto;
}
[class*="container"] {
   margin: 0 auto;
   max-width: toRem($maxWidthContainer);
   box-sizing: content-box;
}
[class*="__container"],
[class*="--scroll"] {
   padding-left: var(--safePadd);
   padding-right: var(--safePadd);
}
[class*="--scroll"] {
   margin-left: calc(0rem - var(--safePadd));
   margin-right: calc(0rem - var(--safePadd));
}
[id] {
   /*scroll-margin-top: var(--header-minh);*/
}
h1 {
}
a {
   transition: color 0.3s;
}
a:hover {

   @media (any-hover: hover) {
      color: var(--textPrimary);
   }
}
a:focus-visible {
   outline: solid var(--color5);
   outline-width: 2px;
   outline-offset: toRem(5);
}
picture {
   display: block;
}
img {
   align-content: center;
   text-align: center;
}

/*----------HERO---------*/
.hero {
   padding-block: 2.5rem;

   &__container {
      &>* {
         margin-bottom: 1.25rem;
      }
   }
   &__text {
      &>* {
         display: block;
      }
      p:not(:last-child) {
         margin-block-end: 0.5rem;
      }
      *:not(p) {
         margin-block: 0.9375rem;
      }
   }
}

.link,
.button {
   padding: 0.625em;
   color: var(--colorWhite);
   font-size: 1rem;
   font-weight: 700;
   border-radius: 0.625rem;
   transition: background-color 0.5s, box-shadow 0.5s;
}
.button {
   background-color: #ff0000;
}
.button:hover {
   background-color: #f56831;
   box-shadow: 0 0 1.25rem #fff01e;
}
.link {
   background-color: #9aee4a;
}
.link:hover {
   background-color: #31f586;
   color: var(--colorWhite);
}
/*----------------------FORM----------------------*/
input[type="checkbox"],
input[type="radio"] {
   width: 0;
   height: 0;
   cursor: pointer;
}
textarea {
   resize: vertical;
}
select {
   font-family: inherit;
   width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   appearance: none;
}
/*----------------------------------------------------*/

.active {
   text-decoration: line-through;
   text-decoration-thickness: 0.1875em;
}
.cover-img {
   object-fit: cover;
}
.contain-img {
   object-fit: contain;
}
[class*="__card"] [class*="__body"] {
   @extend %flexColumn;  
}
[class*="__overlay"],
[class*="__bg"] {
   @extend %posAbs;
}
[class*="__bg"] {
   z-index: -1;
}
[class*="__image"]>img,
picture>img {
   width: 100%;
   height: 100%;
}


/*-------------MEDIA--------------*/
@media (prefers-color-scheme: dark) {
   :root {

      /*TEXT*/
   /*---------------------------------------*/
   }
}
/*--------------------------------*/


[class*="--last-marg"]>*:last-child {
   margin-block-end: 0;
}