.rating {
   position: relative;
   display: inline-flex;
   flex-direction: row-reverse;
}
.rating__item {
   font-size: 0;
   cursor: pointer;
}
.rating__item path {
   transition: fill 0.3s; 
}
.rating__item:has(input:checked) path,
.rating__item:has(input:checked) ~ .rating__item path {
   fill: #FF8A00;
}
.rating__item input {
   
}
.rating__btn {
   position: absolute;
   width: 0;
   height: 0;
   font-size: 0;
}