@charset "UTF-8";
/*@font-face {
   font-family: "Circular Std";
   src: url("../fonts/circular_std/CircularStd-Book.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Circular Std";
   src: url("../fonts/circular_std/CircularStd-Medium.woff2") format("woff2");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}*/
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/circular_std/CircularStd-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*Очищення всіх стилів браузерів*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

address {
  font-style: normal;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*$rebelColor1: #fff;
$rebelColor2: #000;
$rebelColor3: #878787;*/
body {
  font-family: "Old Standart TT", serif;
  font-size: 18px;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
}

main > *:not(.short-docs),
header,
footer {
  position: relative;
  z-index: 20;
}

main > *:not(.short-docs) > * {
  position: relative;
  z-index: 15;
}

h1 {
  font-size: 64px;
  line-height: 1.09375; /* 70/64 */
  font-weight: 700;
}

a:focus-visible {
  outline: 2px solid #EE2918;
  outline-offset: 5px;
}

img {
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

/*abbr {
   transition: all 0.3s;

   &:hover {
      color: $color1;
   }
}*/
[class*=__container] {
  padding-inline: 15px;
  margin: 0 auto;
  max-width: 1170px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

[class*=__subtitle] {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

[class*=__cards] {
  overflow: hidden;
}
[class*=__cards] > [class*=__body] {
  font-size: 0;
}
[class*=__cards] > [class*=__body] > * {
  display: inline-block;
  vertical-align: top;
  font-size: initial;
}

/*.pop-products::after, .advantages::before {
   content: '';
   position: absolute;
   left: -5%;
   right: -5%;
   background: inherit;
   z-index: 5;
}
.pop-products, .advantages {
   &>* {
      position: relative;
      z-index: 1000;
   }
}*/
.heading__body {
  font-size: 0;
  text-align: justify;
}
.heading__body::after {
  content: "";
  width: 100%;
}
.heading__body > * {
  margin-right: 50px;
  display: inline-block;
  vertical-align: middle;
  font-size: initial;
}
.heading__title {
  color: #1A1A1A;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
}

#pop-products .link {
  color: #00B207;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
#pop-products .link:hover {
  color: #2C742F;
}
#pop-products .link:hover [class*=__body]::after {
  background-image: url("../img/ecobazar/icons/arrows/arrow_right/arrow-right-hover.svg");
}
#pop-products .link__body::after {
  content: "";
  width: 15px;
  height: 12px;
  background-image: url("../img/ecobazar/icons/arrows/arrow_right/arrow-right.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#pop-products .link__body > * {
  vertical-align: middle;
}
#pop-products .link__body > *:first-child {
  margin-right: 12px;
}

.btn-product {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #F2F2F2;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.btn-product--cart:hover {
  background: #2C742F;
}
.btn-product--wishlist, .btn-product--quick-view {
  background: #fff;
  border: 1px solid #F2F2F2;
}
.btn-product--wishlist:hover, .btn-product--quick-view:hover {
  background: #00B207;
  border: none;
}
.btn-product:hover {
  background: #00B207;
}
.btn-product:hover img {
  opacity: 0;
}
.btn-product:hover img[src*=hover] {
  opacity: 1;
}
.btn-product:hover svg path {
  stroke: #fff;
}
.btn-product > * {
  display: inline-block;
}
.btn-product__image {
  position: relative;
  width: 20px;
  height: 20px;
}
.btn-product__image img, .btn-product__image svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.btn-product__image img[src*=hover], .btn-product__image svg[src*=hover] {
  opacity: 0;
}
.btn-product__image img,
.btn-product__image svg path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#short-docs .btn-link {
  padding: 22px 26px;
  min-width: 150px;
  text-align: center;
  border-radius: 60px;
  font-size: 18px;
  line-height: 1.16666667;
  font-weight: 500;
}
#short-docs .btn-link:hover {
  -webkit-box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.3);
}
#short-docs .btn-link--orange {
  background: #F35B09;
}
#short-docs .btn-link--orange:hover {
  background-color: #d72612;
}

.header {
  padding: 20px 0;
  position: sticky;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  background: #262625;
}
.header__body {
  font-size: 0;
}
.header__body > * {
  margin-right: 50px;
  display: inline-block;
  vertical-align: top;
  font-size: initial;
}

.nav__body > ul {
  font-size: 0;
  line-height: 1.2;
}
.nav__body > ul > li {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
}
.nav__body > ul > li:hover {
  color: #74d7f0;
}
.nav__body > ul > li:not(:last-child) {
  margin-right: 30px;
}
.nav__body > ul li {
  position: relative;
  cursor: pointer;
}
.nav__body > ul li:has(ul)::after {
  content: "";
  margin: 0 0 0 3px;
  /*width: 15px;
  height: 15px;*/
  border-top-color: inherit;
  border-top: 10px solid;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  /*border-right: 2px solid $color2;
  border-bottom: 2px solid $color2;
  transform: translate(0,-2px) rotate(45deg);*/
}
.nav__body > ul li:has(ul):hover::after {
  margin-bottom: 1px;
  border-bottom-color: inherit;
  border-top: none;
  border-bottom: 10px solid;
}
.nav__body > ul li:has(ul):hover > ul {
  visibility: visible;
  opacity: 1;
}
.nav__body > ul li > ul {
  visibility: hidden;
  opacity: 0;
  padding-top: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  max-height: 500px;
  overflow: auto;
}
.nav__body > ul li > ul > li {
  max-width: 300px;
  padding: 0 20px 0 10px;
  line-height: 1.8;
  background: #696161;
}
.nav__body > ul li > ul > li:hover {
  background: #EE2918;
  -webkit-box-shadow: inset 0 0 10px #000;
          box-shadow: inset 0 0 10px #000;
}

.header,
.nav li > ul {
  color: rgba(255, 255, 255, 0.9);
}

.hero {
  padding: 50px 0;
  background: #EE2918;
  color: #000;
}

.pop-products {
  padding: 25px 0 30px;
  font-family: "Poppins", sans-serif;
  background: #fff;
  /*&::after {
     top: 99%;
     bottom: -14.285714%; //-70/490 
     border-radius: 10% 10% 50% 40%/0% 0% 100% 85%;
  }*/
}
.pop-products__container {
  max-width: 1320px;
}
.pop-products__body > * {
  margin-bottom: 32px;
}

.cards-products__card {
  width: 20%;
  min-width: 220px;
}

.card-product {
  position: relative;
}
.card-product--sale [class*=__label--sale], .card-product--new [class*=__label--new], .card-product--best [class*=__label--best], .card-product--out [class*=__label--out] {
  display: inline-block;
}
.card-product__box {
  border: 1px solid #E6E6E6;
}
.card-product__box:hover {
  border-color: #2C742F;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
          box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}
.card-product__box:hover [class*=overlay] [class*=btn] {
  z-index: 10;
}
.card-product__box:hover [class*=__title] {
  color: #2C742F;
}
.card-product__box:hover .btn-product--cart {
  background: #00B207;
}
.card-product__box:hover .btn-product--cart:hover {
  background: #2C742F;
}
.card-product__box:hover .btn-product--cart img {
  opacity: 0;
}
.card-product__box:hover .btn-product--cart img[src*=hover] {
  opacity: 1;
}
.card-product__inner--overlay {
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-product__inner--overlay > [class*=__body] > * {
  position: absolute;
}
.card-product__body {
  position: relative;
  font-size: 0;
}
.card-product__body > * {
  font-size: initial;
}
.card-product__image {
  position: relative;
  padding: 0 0 87.78626%; /* 230/262 */
  width: 100%;
  border: 5px solid transparent;
}
.card-product__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-product__info {
  padding: 12px;
  font-size: 0;
  text-align: justify;
}
.card-product__info::after {
  content: "";
  width: 100%;
}
.card-product__info > * {
  display: inline-block;
  vertical-align: top;
  font-size: initial;
}
.card-product__group-info {
  padding: 0 50px 0 0;
  text-align: left;
}
.card-product__group-info > * {
  margin-bottom: 6px;
}
.card-product__title {
  color: #4D4D4D;
  font-size: 14px;
  line-height: 1.28571429; /* 18/14 */
}
.card-product__price {
  color: #1A1A1A;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3125; /* 21/16 */
}
.card-product__price span:last-child {
  display: none;
}
.card-product__btn-container {
  font-size: 0;
}
.card-product__btn-container > * {
  font-size: initial;
}
.card-product__btn-container--cart {
  padding: 11px 4px 0 0;
  margin: 0 0 0 -44px;
}
.card-product__labels {
  max-width: 156px;
  left: 0;
}
.card-product__label {
  display: none;
  padding: 3px 8px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  z-index: 10;
}
.card-product__label:not(:last-child) {
  margin-bottom: 8px;
  margin-right: 8px;
}
.card-product__label * {
  font-weight: 400;
}
.card-product__label span {
  font-weight: 500;
}
.card-product__label--sale {
  background: #EA4B48;
}
.card-product__label--new {
  background: #FF8A00;
}
.card-product__label--best {
  background: #2388FF;
}
.card-product__label--out {
  background: #1A1A1A;
}
.card-product__buttons {
  right: 0;
}
.card-product__buttons > * {
  display: block;
}
.card-product__buttons > *:not(:last-child) {
  margin-bottom: 6px;
}
.card-product__labels, .card-product__buttons {
  top: 0;
}
.card-product__labels > *, .card-product__buttons > * {
  position: relative;
}

.short-docs {
  position: relative;
  background: #5A54F2;
  color: #fff;
  font-family: "Roboto", sans-serif;
  /*&__text {
     position: relative;
     z-index: 50;
     background: red;
  }*/
}
.short-docs::before, .short-docs::after {
  content: "";
  display: block;
  position: absolute;
  left: -5%;
  right: -5%;
}
.short-docs::before {
  background: #fff;
  height: 70px;
  top: -1px;
  left: -6%;
  right: -6%;
  border-radius: 10% 10% 50% 40%/0% 0% 100% 85%;
}
.short-docs::after {
  background: #231F8B;
  height: 50px;
  bottom: -20px;
  left: -3.5%;
  right: -3.5%;
  border-radius: 50% 50% 10% 10%/100% 100% 0% 0%;
}
.short-docs__container {
  position: relative;
  max-width: 1230px;
  z-index: 10;
}
.short-docs__body > * {
  margin-bottom: 4.471545%; /* 55/1230 */
}

.advantages {
  position: relative;
  padding: 5% 0 5.208333%; /* 100/1920 */
  background: #231F8B;
}
.advantages::after {
  content: "";
  position: absolute;
  background: inherit;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 10px;
}
.advantages__container {
  max-width: 1230px;
}
.advantages__title {
  color: #FFF;
  font-family: "Circular Std";
  font-size: 36px;
  font-weight: 700;
}

.short-article {
  /*position: relative;

  &::after {
     width: 65px; 
     height: 65px; 
     z-index: 50;
  }

  &::before, 
  &::after {
     content: '';
     position: absolute;
     border-radius: 50%;
     border: 5px solid #FFBA49;
  }

  &:nth-of-type(odd) {
     /*&::before {
        top: 213px; 
        left: -108px; 
        width: 401px;
        height: 401px;
     }
     &::after {
        top: 168px; 
        left: -128px; 
     }

     .short-article__info {
        padding-top: 11.219512%; // 138/1230 
     }
  }
  &:nth-of-type(even) {
     text-align: right;

     /*&::before {
        width: 262px; 
        height: 262px; 
        top: -26px; 
        right: -129px; 
     }
     &::after {
        top: -48px; // -48/548 
        right: 273px; // 92/430 
     }

     .short-article__info {
        padding-top: 2.439024%; 
     }
  }*/
}
.short-article:nth-of-type(odd) {
  /*.short-article__wrapper-image {
     &::before {
        top: 76.094891%; //417/548 
        left: -22.093023%; // -95/430 
        width: 49.767442%; // 214/430 
        height: 86.131387%; // 472/548 
        background-size: 20% 10%;
     }
  }*/
}
.short-article:nth-of-type(odd) .short-article__image::before {
  bottom: -12.043796%;
  left: -25.116279%;
  width: 93.255814%;
  height: 73.175182%;
}
.short-article:nth-of-type(odd) .short-article__image::after {
  top: 30.656934%;
  left: -29.767442%;
}
.short-article:nth-of-type(odd) .short-article__info {
  padding-top: 11.219512%;
}
.short-article:nth-of-type(even) {
  text-align: right;
}
.short-article:nth-of-type(even) .short-article__image::before {
  width: 60.930233%;
  height: 47.810219%;
  top: -4.744526%;
  right: -30%;
}
.short-article:nth-of-type(even) .short-article__image::after {
  top: -8.759124%;
  left: 21.395349%;
}
.short-article:nth-of-type(even) .short-article__wrapper-image::before {
  bottom: 26.277372%; /* 144/548 */
  left: 32.790698%; /* 141/430 */
  width: 109.767442%; /* 472/430 */
  height: 39.051095%; /* 214/548 */
  background-size: 10% 20%;
}
.short-article:nth-of-type(even) .short-article__info {
  padding-top: 2.439024%;
}
.short-article:not(:last-of-type):nth-of-type(odd) .short-article__wrapper-image::before {
  top: 76.094891%; /* 417/548 */
  left: -22.093023%; /* -95/430 */
  width: 49.767442%; /* 214/430 */
  height: 86.131387%; /* 472/548 */
  background-size: 20% 10%;
}
.short-article__body {
  font-size: 0;
}
.short-article__body > * {
  margin-right: 5.691057%; /* 70/1230 */
  display: inline-block;
  vertical-align: top;
  font-size: initial;
  text-align: left;
}
.short-article__image {
  position: relative;
  width: 100%;
  max-width: 430px;
}
.short-article__image--shadow-dark-blue > picture {
  -webkit-box-shadow: -25px 20px 44px 0px rgba(84, 48, 209, 0.4);
          box-shadow: -25px 20px 44px 0px rgba(84, 48, 209, 0.4);
}
.short-article__image--shadow-black > picture {
  -webkit-box-shadow: 22px 42px 44px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 22px 42px 44px 0px rgba(0, 0, 0, 0.3);
}
.short-article__image::before, .short-article__image::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 5px solid #FFBA49;
}
.short-article__image::after {
  width: 15.116279%;
  height: 11.861314%;
  z-index: 15;
}
.short-article__wrapper-image::before {
  content: "";
  position: absolute;
  background: radial-gradient(#70C217 3.5px, transparent 0px) 0 0;
  z-index: 9;
}
.short-article__wrapper-image > picture {
  z-index: 10;
}
.short-article__wrapper-image picture {
  position: relative;
  display: block;
  padding-bottom: 127.44186%; /* 548/430 */
  border-radius: 4.651163%/3.649635%;
  overflow: hidden;
}
.short-article__wrapper-image picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.short-article__effects-image {
  position: absolute;
  bottom: -23px;
  left: 6.744186%; /* 29/430 */
  right: 6.744186%; /* 29/430 */
}
.short-article__effects-image picture {
  padding-bottom: 127.419355%; /* 474/372 */
  -webkit-filter: blur(25px);
          filter: blur(25px);
  -webkit-box-shadow: inset 0px -16px 23px rgba(255, 255, 255, 0.6);
          box-shadow: inset 0px -16px 23px rgba(255, 255, 255, 0.6);
}
.short-article__info {
  position: relative;
  padding: 0 0 40px 0;
  max-width: 720px;
  z-index: 100;
}
.short-article__info > * {
  margin-bottom: 30px;
}
.short-article__title {
  font-family: "Circular Std", sans-serif;
  margin: 0 0 13px;
  font-size: 36px;
  line-height: 1.27777778; /* 46/36 */
  font-weight: 700;
}
.short-article__title strong {
  display: block;
}
.short-article__text {
  margin: 0 0 39px;
  max-width: 480px;
  font-size: 18px;
  line-height: 1.66666667; /* 30/18 */
}
.short-article__text > *:not(:last-child) {
  margin-bottom: 10px;
}

.footer {
  padding: 30px 0;
  font-family: "Poppins", sans-serif;
  background: #262625;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.2;
}
.footer__body > * {
  margin-bottom: 30px;
}

.contacts__body > * {
  margin-bottom: 20px;
}
.contacts__body > ul li a span,
.contacts__body > ul li a[href^="mailto:"] {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.contacts__body > ul li a span:hover,
.contacts__body > ul li a[href^="mailto:"]:hover {
  color: #74d7f0;
}
.contacts__body > ul > li {
  position: relative;
  padding: 0 0 0 30px;
  min-height: 20px;
}
.contacts__body > ul > li::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}
.contacts__body > ul > li:not(:last-child) {
  margin-bottom: 10px;
}
.contacts__title {
  display: inline-block;
}
.contacts__address::before {
  background-image: url("../img/icons/contacts/location.svg");
}
.contacts__phone::before {
  background-image: url("../img/icons/contacts/phone.svg");
}
.contacts__email::before {
  background-image: url("../img/icons/contacts/email.svg");
}

.header__body > *:last-child,
.hero__content > *:last-child,
.pop-products__body > *:last-child,
.heading__body > *:last-child,
.card-product__group-info > *:last-child,
.short-docs__body > *:last-child,
.short-article__body > *:last-child,
.short-article__info > *:last-child,
.footer__body > *:last-child,
.contacts__body > *:last-child {
  margin-bottom: 0;
  margin-right: 0;
}