.testing {
   padding: 50px 0 300px;

   &__container {
   }

   &__body {

      &>* {
         margin-left: 100px;
         margin-bottom: 50px;
      }
      
      /*&>*:not(:last-child) {
         margin-bottom: 50px;
      }*/
   }

   &__cube {
      margin: 0 auto 50px;
      width: 42.735043%; /* 500/1170 */
      padding-bottom: 25.641026%; /* 300/1170 */
      transform: rotateY(0deg);

      &--trans-z {
         .cube__side--back {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translate(0,0) rotateY(180deg) translateZ(300px); //!чомусь якщо translateZ буде перед rotate, то для елементу, який хочемо поставити позаду потрібно задавати від'ємне значення
         }
      }
   }
   &__windshield {
      //margin: 0 auto;
      width: 300px;
      height: 300px;
      //transform: rotateY(90deg);

      &--dif-dims {
         width: 300px;
         height: 200px;
         transform: rotateY(30deg);
      }
      &--deg90 {
         width: 600px;
         height: 200px;
         transform: rotateY(20deg);
      }
   }
   &__hexagon {
      width: 300px;
      height: 300px;
   }
   &__wheel {
      width: 300px;
      height: 300px;
   }
   &__triangle {
   }
}


