.test-wheel {
   position: relative;
   transform-style: preserve-3d;
   perspective: 900px;
   //transform: rotateY(30deg);

   &__side {
      position: absolute;
      top: 0;
      left: 0;
      width: 20%; /* 60/300 */
      height: 41.42%; /* 124.26/300 */
      background: rgb(110, 250, 155, 0.3);
      //background: #000;
      box-shadow: 0 0 10px #000;

      &--front,
      &--back {
         width: 100%;
         height: 100%;
         border-radius: 50%;
         //background: red;
         //overflow: hidden;
         //background: red;
         //z-index: 100;
      }
      &--top,
      &--bottom {
         width: 41.42%; 
         height: 20%;
         left: 50%;
         translate: -50% 0;
      }
      &--left-top,
      &--right-top {
         transform-origin: 0 bottom;
         translate: 0 -30%;
      }
      &--left,
      &--right {
         top: 50%;
         transform: translate(0,-50%) rotateY(90deg);
         transform-origin: left 50%;
      }
      &--left-bottom,
      &--right-bottom {
         transform-origin: 0 top;
         translate: 0 30%;
      }
      &--right-top,
      &--right,
      &--right-bottom {
         left: 100%;
      }
      &--left-bottom,
      &--right-bottom,
      &--bottom {
         top: auto;
         bottom: 0;
      }
      &--front {
      }
      &--back {
         transform: translateZ(-60px) rotateY(180deg);
      }
      &--top {
         transform-origin: 50% top;
         transform: rotateX(-90deg);
      }
      &--left-top {
         transform: rotateZ(45deg) rotateY(90deg);
      }
      &--right-top {
         transform: rotateZ(-45deg) rotateY(90deg);
      }
      &--left {
      }
      &--right {
      }
      &--left-bottom {
         transform: rotateZ(-45deg) rotateY(90deg);
      }
      &--right-bottom {
         transform: rotateZ(45deg) rotateY(90deg);
      }
      &--bottom {
         transform-origin: 50% bottom;
         transform: rotateX(90deg);
      }
   }
}