.button {
   padding: 16px 40px;
   background: $ecoPrimary;
   border-radius: 43px;
   transition: background-color 0.3s;

   * {
      color: $ecoWhite;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.2; 
   }

   &:hover {
      background-color: $ecoHardPrimary;
   }
   &:focus-visible {
      outline: 5px solid $ecoHardPrimary;
   }
}