.button--active:active {
   transition: background-color 0s;
   background: #fff;
}
.button--active:active path {
   fill: #00B207;
   stroke: none;
}
@media (any-hover: none) {
   .button--active:hover {
      transition: background-color 0s;
      background: #fff;
   }
   .button--active:hover path {
      fill: #00B207;
      stroke: none;
   }
}