/*-------------------HOVER---------------------*/
@media (any-hover: hover) {
   .ecobazar a {
      transition: color 0.5s;
   }
   .ecobazar a:hover {
      color: #2C742F;
   }
}
/*---------------------------------------------*/

@media (min-width: 1451px) {
   .ecobazar {
      background-image: url('../../../img/decor/product-icons/top-left.avif');
      background-position: -43px -41px;
      background-size: auto min(50%, 424px);
      background-repeat: no-repeat; 
   }
   .ecobazar::before,
   .ecobazar::after {
      display: inline-block;
   }
   .ecobazar__decor {
      background: url('../../../img/decor/product-icons/bottom-right.avif') right -66px bottom -449px / auto min(120%, 869px) no-repeat;
   }
}
@media (min-width: 1381px) {
   .ecobazar {
      background-color: #EDF2EE;
   }
}
@media (min-width: 768px) {
   /*-------------------FONT-SIZE------------------*/
   [class*="--head-4"] {
      font-size: 36px;
   }
   /*---------------------------------------------*/
   @media (min-width: 768px) {
      .heading--column {
         margin-bottom: 36px;
      }
   }
}
@media (min-width: 601px) and (max-width: 767.98px) {
   .heading__title {
      font-size: 28px;
   }
}
@media (min-width: 441px) and (max-width: 600.98px) {
   .heading__title {
      font-size: 24px;
   }
}
@media (min-width: 601px) {
   .heading__link strong {
      white-space: nowrap;
   }
}
/*@media (min-width: 551px) and (max-width: 600px) {
   .heading__title {
      font-size: 24px;
   }
}*/
@media (max-width: 600px) {
   .heading {
      flex-wrap: wrap;
   }
}