$facultyContainerWidth: 1372; 

.faculty {
   padding: 3.18287% 0 2.430556%; /* 42/1728 */
   /*display: flex;
   justify-content: flex-end;*/
   background: $busiColor2;
   color: $busiColor3;

   &__container {
      ///margin: 0 0 0 auto;
      //-left: 0; /* 92/1728 */
      //max-width: none;
      //margin: 0 calc(0 - ($facultyContainerWidth - $baseContainerWidth)) + px 0 0;
      //margin: 0 0 0 auto;
      max-width: $facultyContainerWidth + px; 
      //transform: translateX(-77px);
   }

   /*&__wrapper {
      margin: 0 calc(0 - ($facultyContainerWidth - $baseContainerWidth) / 2) + px 0 calc(($facultyContainerWidth - $baseContainerWidth) / 2) + px;
      width: 100%;
   }*/

   &__body {
      //margin-right: 92px;
      //width: 100%;
      //box-sizing: content-box;
      //padding-right: 92px;
      margin: 0 calc(0 - ($facultyContainerWidth - $baseContainerWidth) / 2) + px 0 calc(($facultyContainerWidth - $baseContainerWidth) / 2) + px;
      display: flex;
      justify-content: space-between;
      gap: 30px; /* 90/1372 */
   }

   //!При адаптиві в певний момент, коли подальше зменшення &__info та &__image буде не бажаним, будемо дозволяти flex-wrap, щоб зображення переносилось на новий рядок та дозволяти flex-grow, щоб ці два блоки могли збільшуватись(займати вільний простір)
   &__info {
      align-self: center;
      flex: 0 1 518px;

      &>* {
         margin-bottom: 20px;
      }
   }

   &__title {
      font-size: 34px;
      line-height: 1.20588235; /* 41/34 */
   }

   &__text {
      font-size: 22px;
      line-height: 1.22727273; /* 27/22 */

      &>* {
         margin-bottom: 20px;
      }

      /*p {
         margin-bottom: 10px;
      }*/

      &>ul {
         color: $busiColor4;
         font-size: 20px;
         line-height: 1.5; /* 30/20 */

         /*&:not(:first-child) {
            margin-top: 20px;
         }
         &:not(:last-child) {
            margin-bottom: 20px;
         }*/

         li {
            display: flex;

            &::before {
               content: '';
               //margin-top: 4px;
               //margin-right: 15px;
               align-self: flex-start;
               flex-shrink: 0;
               width: 29px;
               height: 29px;
               background: url('../img/icons/list-style/check.svg') center / contain no-repeat;
            }
         }

         &>li {
            column-gap: 15px;

            &:not(:last-child) {
               margin-bottom: 21px;
            }
            &:has(ul) {
               &>div {
                  ul {
                     li {
                        align-items: center;
                        column-gap: 10px;
                     }
                     &>li {
                        &:not(:last-child) {
                           margin-bottom: 10px;
                        }
                     }
                  }
               }
            }
            div {
               align-self: center;

               &>*:not(:last-child) {
                  margin-bottom: 12px;
               }
            }
         }
      }
   }

   &__image {
      flex: 0 1 764px;
      
      picture {
         display: block;
      }
      &>picture {
         position: relative;
         padding-bottom: 68.193717%; /* 521/764 */
         
         img {
            @include imgStandart;
         }
      }
   }
}
