//$baseWidth: 1728;
.staff {
   padding: 3.472222% 0 5.902778%; 
   background: $busiColor3;
   color: $busiColor2;

   &__container {
   }

   &__body {
      &>* {
         margin-bottom: 31px;
      }
   }

   &__title {
      //@include flexColumn;
   }

   &__cards {
   }
}
.cards-staff {

   &__inner {
      @include flexWrap;
      row-gap: 20px;
      column-gap: 20px;
      gap: 20px 1.663894%;
      justify-content: center;
   }

   &__card {
      position: relative;
      //width: 33.333%;
      flex: 1 0 270px;
      max-width: 387px;
      //min-width: 270px;
   }
}
.person-card {
   display: flex;
   background: $busiColor2;
   box-shadow: 0px 384px 108px 0px rgba(0, 0, 0, 0.00), 
   0px 246px 98px 0px rgba(0, 0, 0, 0.01), 
   0px 138px 83px 0px rgba(0, 0, 0, 0.05), 
   0px 62px 62px 0px rgba(0, 0, 0, 0.09), 
   0px 15px 34px 0px rgba(0, 0, 0, 0.10);
   transition: background 0.1s;

   &:hover {
      background: #FFBE48;
      transition: background 0.3s;
   }

   /*&__inner {
      display: flex;
      flex-grow: 1;
      padding: 5.167959%; // 20/387 
   }*/

   &__body {
      flex-grow: 1;
      @include flexColumn;
      padding: 5.167959%; // 20/387 

      &>* {
         margin-bottom: 16px;
      }
   }

   &__image {
      //width: 100%;

      picture {
         display: block;
      }
      &>picture {
         position: relative;
         padding-bottom: 76.590844%; /* 266/347.3 */

         img {
            @include imgStandart;
         }
      }
   }

   &__title {
      color: $busiColor6;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.22727273; /* 27/22 */
   }

   &__info {
      flex-grow: 1;
      color: $busiColor4;
      font-size: 15px;
      line-height: 1.26666667; /* 19/15 */
   }

   &__link {
      align-self: flex-start;
      color: $busiColor5;
      font-size: 15px;
      line-height: 1.26666667; /* 19/15 */
      transition: color 0.1s, text-shadow 0.1s;

      &:hover,
      &:visited:hover {
         color: rgba(255, 255, 255, 0.8);
      }
      &:hover {
         text-shadow: 1px 0 rgba(255, 255, 255, 0.8), 
         -1px 0 rgba(255, 255, 255, 0.8); 
         //0 1px rgba(255, 255, 255, 0.8);
         //0 -1px rgba(255, 255, 255, 0.8);
         transition: color 0.3s, text-shadow 0.3s;
      }
      &:visited {
         color: #ccc;
      }

      strong {
         font-weight: 400;
      }
   }
}

.cards-test {
   //overflow: hidden;

   &__inner {
      @include flexWrap;
      gap: 20px 0;
      margin: 0 -10px;
      //justify-content: center;
   }

   &__card {
      position: relative;
      //width: 33.333%;
      flex: 0 0 33.333%;
      padding: 0 10px;
      //max-width: 387px;
      //min-width: 270px;
   }
}
.test-card {
   display: flex;

   /*&__inner {
      display: flex;
      flex-grow: 1;
      padding: 5.167959%; // 20/387 
   }*/

   &__body {
      flex-grow: 1;
      @include flexColumn;
      padding: 5.167959%; // 20/387 
      background: $busiColor2;
      box-shadow: 0px 384px 108px 0px rgba(255, 3, 3, 0), 
      0px 246px 98px 0px rgba(255, 0, 0, 0.1), 
      0px 138px 83px 0px rgba(255, 0, 0, 0.2), 
      0px 62px 62px 0px rgba(255, 0, 0, 0.3), 
      0px 15px 34px 0px rgba(255, 0, 0, 0.4);
      transition: background 0.1s;

      &:hover {
         background: #FFBE48;
         transition: background 0.3s;
      }

      &>* {
         margin-bottom: 16px;
      }
   }

   &__image {
      //width: 100%;

      picture {
         display: block;
      }
      &>picture {
         position: relative;
         padding-bottom: 76.590844%; /* 266/347.3 */

         img {
            @include imgStandart;
         }
      }
   }

   &__title {
      color: $busiColor6;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.22727273; /* 27/22 */
   }

   &__info {
      flex-grow: 1;
      color: $busiColor4;
      font-size: 15px;
      line-height: 1.26666667; /* 19/15 */
   }

   &__link {
      align-self: flex-start;
      color: $busiColor5;
      font-size: 15px;
      line-height: 1.26666667; /* 19/15 */
      transition: color 0.1s, text-shadow 0.1s;

      &:hover,
      &:visited:hover {
         color: rgba(255, 255, 255, 0.8);
      }
      &:hover {
         text-shadow: 1px 0 rgba(255, 255, 255, 0.8), 
         -1px 0 rgba(255, 255, 255, 0.8); 
         //0 1px rgba(255, 255, 255, 0.8);
         //0 -1px rgba(255, 255, 255, 0.8);
         transition: color 0.3s, text-shadow 0.3s;
      }
      &:visited {
         color: #ccc;
      }

      strong {
         font-weight: 400;
      }
   }
}
