@use "sass:math";
@use "_reset";
@use "_mixins" as *;


/*-------------CSS-ЗМІННІ------------*/
/*:root {
}*/
/*-----------------------------------*/

[class*="container"] {
   margin: 0 auto;
   max-width: toRem($maxWidthContainer);
   box-sizing: content-box;
   padding-left: toRem(15);
   padding-right: toRem(15);
}
h1 {
   @include adaptiveValue("font-size", toRem(70), toRem(20));
}