@media (min-width: 76.9375em) {
   .practise {
      padding-block: 2.5rem;
   }
   .practise__container>* {
      margin-bottom: 40px;
   }
   .video__wrapper {
      transform: translateX(calc((-100vw + var(--containerWidth)) / 2));
   }
}

/*-------WRITING MODE-----------*/
@media (min-width: 43.125em) {
   .writing-mode__blockquotes--vertical>blockquote:first-of-type {
      max-block-size: 37.5rem;
   }
}
/*------------------------------*/