.practise {
   padding-block: max(1.25rem,3.252033%); 
   font-size: 0.875rem;
   /*font-size: 12px;*/
   line-height: 1.5;
}
.practise__container>* {
   margin-bottom: max(1.25rem,3.252033%); /* 40/1230 */
}
.practise__video {
   font-size: 1.5rem;
}
.video {
   display: inline-flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 0.625rem;
}
.video:has(input:checked) .video__wrapper {
   display: block;
}
.video__wrapper {
   display: none;
   width: 100vw;
   height: 100vmin;
   transform: translateX(calc(0rem - var(--safePadd)));
}
.video__btn {
   height: 0.83333333em; /* 20/24 */
}
.play-btn {
   position: relative;
   aspect-ratio: 1;
   background: #ff0000;
   border-radius: 50%;
   cursor: pointer;
}
.play-btn:hover::before {
   transform: translate(-45%,-50%) scale(0.7);
}
.play-btn::before {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 50%;
   height: 50%;
   transform: translate(-45%,-50%);
   background: var(--textColor2);
   clip-path: polygon(0 0, 0% 100%, 100% 50%);
   will-change: transform;
   transition: transform 0.5s;
}
.practise__text>* {
   margin-block-end: 1.25rem;
}
.practise__text>p:not(:last-child) {
   margin-block-end: 0.5rem;
}
.practise__text ul {
   display: flex;
   flex-direction: column;
}
.practise__text>ul {
   margin-block-start: 1.25rem;
   max-width: 34.375rem;
   max-inline-size: 34.375rem;
   line-height: 1.4;
   display: flex;
   flex-direction: column;
   gap: 1em;
}
.practise__text>ul ul {
   line-height: 1.2;
   gap: 0.71428571em; /* 10/14 */
}
.practise__text>ul li {
   display: flex;
   align-items: center;
   gap: 0.57142857em; /* 8/14 */
}
.practise__text>ul li::before {
   content: '';
   align-self: flex-start;
   flex-shrink: 0;
   width: 1.42857143em; /* 20/14 */
   aspect-ratio: 1;
   background: var(--color7) url('../../../img/icons/list-style/check-1.svg') center / 60% no-repeat;
   border-radius: 50%;
}
.practise__text>ul li>div {
   display: flex;
   flex-direction: column;
   gap: 0.71428571em;
}
.practise__writing-mode {
}

/*-----------WRITING MODE----------*/
.writing-mode {
   display: flex;
   flex-direction: column;
   gap: 0.9375rem;
   padding-block: 0.75rem;
   padding-inline: 1.875rem;
   background: var(--color14);
   line-height: 1.2;
}
.writing-mode__blockquotes {
   display: flex;
   flex-direction: column;
   gap: 0.625rem;
}
.writing-mode__blockquotes>blockquote {
   margin: 0 auto;
   max-width: 37.5rem;
   padding-inline: 0.3125rem 1.25rem;
   padding-block: 0.3125rem 0.625rem;
   border-block-end: 3px solid var(--color8);
}
.writing-mode__blockquotes--horizontal>blockquote {
   background: var(--color5);
}
.writing-mode__blockquotes--horizontal>blockquote:first-of-type {
   direction: rtl;
   text-align: end;
}
.writing-mode__blockquotes--vertical>blockquote {
   background: var(--color7);
}
.writing-mode__blockquotes--vertical>blockquote:first-of-type {
   writing-mode: vertical-rl;
   text-orientation: upright;
   max-inline-size: 50rem;
   overflow: auto;
   
}
.writing-mode__blockquotes>blockquote>p:not(:last-child) {
   margin-block-end: 0.5rem;
}
/*--------------------------------*/