.person {
   //29.411765%; /* 50/170 */
   width: $personWidth;
   height: $personHeight;
   box-shadow: none;
   transform-style: preserve-3d;
   //perspective: 900px;

   &--tommy {
      [class*="__part"] {
         background: $tommyColor;
      }
   }
   &--joe {
      [class*="__part"] {
         background: $joeColor;
      }
   }
   &--rookie {
      [class*="__part"] {
         background: $rookieColor;
      }
   }

   &__body {
      position: relative;
      transform-style: preserve-3d;
      transform-origin: top;
      //@extend %shadow5px;

      &--head {
         //transform-origin: right;
         margin: 0 auto;
         bottom: $headMargTop;
         //bottom: 200px;
         height: 12%;
         //height: 300px;
         aspect-ratio: 1 / 1;
         //box-shadow: none;
         //rotate: y 70deg;
      }
   
      &--main {
         height: 38%;
         //rotate: y 90deg;
      }
   
      &--ass {
         height: 5%;
      }
      &--legs {
         height: 45%;
         transform: translateZ(-$bodyDepth*$legsDepthKoef);
      }
   }
}

.head__part,
.pers-body__part,
.ass__part,
.legs__part,
.leg__part,
.thigh__part,
.shin__part,
.hand__part {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   @extend %shadow5px;
}
.head {
   &__part {
      width: 80%; 
      height: 41.42%; 

      &--front,
      &--back {
         width: 100%;
         height: 100%;
         border-radius: 50%;
      }
      &--top,
      &--bottom {
         width: 41.42%; 
         height: 80%;
         left: 50%;
         translate: -50% 0;
      }
      &--left-top,
      &--right-top {
         transform-origin: 0 bottom;
         translate: 0 -30%;
      }
      &--left,
      &--right {
         top: 50%;
         transform: translate(0,-50%) rotateY(90deg);
         transform-origin: left 50%;
      }
      &--left-bottom,
      &--right-bottom {
         transform-origin: 0 top;
         translate: 0 30%;
      }
      &--right-top,
      &--right,
      &--right-bottom {
         left: 100%;
      }
      &--left-bottom,
      &--right-bottom,
      &--bottom {
         top: auto;
         bottom: 0;
      }
      &--front {
      }
      &--back {
         //transform: rotateY(180deg) translateZ(240px); 
         transform: rotateY(180deg) translateZ($headDepth) scale(-1,1);
      }
      &--top {
         transform-origin: 50% top;
         transform: rotateX(-90deg);
      }
      &--left-top {
         transform: rotateZ(45deg) rotateY(90deg);
      }
      &--right-top {
         transform: rotateZ(-45deg) rotateY(90deg);
      }
      &--left {
      }
      &--right {
      }
      &--left-bottom {
         transform: rotateZ(-45deg) rotateY(90deg);
      }
      &--right-bottom {
         transform: rotateZ(45deg) rotateY(90deg);
      }
      &--bottom {
         transform-origin: 50% bottom;
         transform: rotateX(90deg);
      }
   }
}
.pers-body {
   &__part {
      &--front,
      &--back {

      } 
      &--top,
      &--bottom {
         transform-origin: top;
         height: $bodyDepth;
         rotate: x -90deg;
      } 
      &--left,
      &--right {
         transform-origin: left;
         width: $bodyDepth;
         rotate: y 90deg;
      } 
      &--front {

      } 
      &--back {
         transform: rotateY(180deg) translateZ($bodyDepth) scale(-1,1);
      } 
      &--top {

      } 
      &--bottom {
         top: 100%;
      } 
      &--left {

      } 
      &--right {
         left: 100%;
      } 
      &--hand {
         transform-origin: top;
         width: 15%;
         height: 110%;
         //rotate: x 90deg;
      }
   }
}
.ass {
   &__part {
      //box-shadow: none;

      &--front,
      &--back {

      } 
      &--top,
      &--bottom {
         transform-origin: top;
         height: $bodyDepth;
         rotate: x -90deg;
      } 
      &--left,
      &--right {
         transform-origin: left;
         width: $bodyDepth;
         rotate: y 90deg;
      } 
      &--front {

      } 
      &--back {
         transform: rotateY(180deg) translateZ($bodyDepth) scale(-1,1);
      } 
      &--top {

      } 
      &--bottom {
         top: 100%;
      } 
      &--left {

      } 
      &--right {
         left: 100%;
      } 
   }
}
.legs {
   &__leg {
      position: absolute;
      top: 0;
      width: 35%;
      height: 100%;
   }
   &__part {
      box-shadow: none;

      &--front,
      &--back {

      } 
      &--top,
      &--bottom {
         transform-origin: top;
         height: $bodyDepth;
         rotate: x -90deg;
      } 
      &--left,
      &--right {
         transform-origin: left;
         width: $bodyDepth;
         rotate: y 90deg;
      } 
      &--front {

      } 
      &--back {
         transform: rotateY(180deg) translateZ($bodyDepth) scale(-1,1);
      } 
      &--top {

      } 
      &--bottom {
         top: 100%;
      } 
      &--left {

      } 
      &--right {
         left: 100%;
      } 
   }
}
.leg {
   transform-style: preserve-3d;
   transform-origin: top;

   &--left {
      left: 0;
   }
   &--right {
      right: 0;
   }
   &__thigh {
      width: 100%;
      height: 47%;
   }
   &__shin {
      width: 100%;
      height: 53%;
   }
   &__part {

      &--front,
      &--back {

      } 
      &--top,
      &--bottom {
         transform-origin: top;
         height: $bodyDepth;
         rotate: x -90deg;
      } 
      &--left,
      &--right {
         transform-origin: left;
         width: $bodyDepth;
         rotate: y 90deg;
      } 
      &--front {

      } 
      &--back {
         transform: rotateY(180deg) translateZ($bodyDepth) scale(-1,1);
      } 
      &--top {

      } 
      &--bottom {
         top: 100%;
      } 
      &--left {

      } 
      &--right {
         left: 100%;
      } 
   }
}
.thigh {
   transform-style: preserve-3d;
   transform-origin: top;

   &__part {

      &--front,
      &--back {

      } 
      &--top,
      &--bottom {
         transform-origin: top;
         height: $limbDepth;
         rotate: x -90deg;
      } 
      &--left,
      &--right {
         transform-origin: left;
         width: $limbDepth;
         rotate: y 90deg;
      } 
      &--front {

      } 
      &--back {
         transform: rotateY(180deg) translateZ($limbDepth) scale(-1,1);
      } 
      &--top {

      } 
      &--bottom {
         top: 100%;
      } 
      &--left {

      } 
      &--right {
         left: 100%;
      } 
   }
}
.shin {
   transform-style: preserve-3d;
   transform-origin: top;

   &__part {

      &--front,
      &--back {

      } 
      &--top,
      &--bottom {
         transform-origin: top;
         height: $limbDepth;
         rotate: x -90deg;
      } 
      &--left,
      &--right {
         transform-origin: left;
         width: $limbDepth;
         rotate: y 90deg;
      } 
      &--front {

      } 
      &--back {
         transform: rotateY(180deg) translateZ($limbDepth) scale(-1,1);
      } 
      &--top {

      } 
      &--bottom {
         top: 100%;
      } 
      &--left {

      } 
      &--right {
         left: 100%;
      } 
   }
}
.hand {
   transform-style: preserve-3d;

   &--left {
      left: auto;
      right: 100%;

      .hand__part {
         //background: red;
      }
   }
   &--right {
      left: 100%;

      .hand__part {
         //background: green;
      }
   }

   &__part {

      &--front,
      &--back {

      } 
      &--top,
      &--bottom {
         transform-origin: top;
         height: $limbDepth;
         rotate: x -90deg;
      } 
      &--left,
      &--right {
         transform-origin: left;
         width: $limbDepth;
         rotate: y 90deg;
      } 
      &--front {

      } 
      &--back {
         transform: rotateY(180deg) translateZ($limbDepth) scale(-1,1);
      } 
      &--top {

      } 
      &--bottom {
         top: 100%;
      } 
      &--left {

      } 
      &--right {
         left: 100%;
      } 
   }
}
