.person {
   //29.411765%; /* 50/170 */
   transform-origin: bottom;
   width: $personWidth;
   height: $personHeight;
   box-shadow: none;
   transform-style: preserve-3d;
   //perspective: 900px;
   &--tommy,
   &--rookie,
   &--joe {
      will-change: transform;
   }
   &--tommy {
      [class*="__part"] {
         background: $tommyColor;
      }

      .replica {
         //top: -80%;
         //left: 150%;
         //animation: rookie-replica 3s 23s forwards;

         &__text {
            translate: 0 -100% 0;
         }
         &__text:nth-child(1) {
            animation: show-replica 5s 43s forwards;
         }
         &__text:nth-child(2) {
            animation: show-replica 3s 48s forwards;
         }
         &__text:nth-child(3) {
            transform-origin: left;
            translate: -50% -100% 0;
            rotate: z -90deg;
            animation: show-replica 5s 67s forwards;
         }
      }
      .pers-body {
         &__part--front {
            &>[class*="__wrapper-rel"] {
               &::before {
                  content: '';
                  position: absolute;
                  bottom: 20%;
                  left: 50%;
                  width: 0;
                  height: 0;
                  transform: translateX(-50%);
                  background: #B20000;
                  border-radius: 50%;
                  overflow: hidden;
               }
            }
         }
      }
   }
   &--joe {
      [class*="__part"] {
         background: $joeColor;
      }

      .replica {
         /*top: -80%;
         left: -150%;*/
         //animation: rot-90deg-y 0.1s 70s forwards;

         &__text {
         }
         &__text:nth-child(1) {
            max-width: none;
            transform: translate3d(0,-100%,100px) rotateY(90deg);
            animation: show-replica 16s 0.5s forwards;
         }
         &__text:nth-child(2) {
            transform: translate3d(0,-100%,0) rotateX(180deg) rotateY(160deg) scale(-1,-1);
            animation: show-replica 5s 80s forwards;
            //animation: show-replica 75s 10s forwards;
         }
      }
   }
   &--rookie {
      [class*="__part"]:not(.pers-body__part--head) {
         background: $rookieColor;
      }

      .replica {
         top: 40%;
         left: auto;
         right: 150%;
         animation: rot-90deg-y 0.1s 83s forwards;

         &__text {
            transform-origin: left;
            transform: rotateY(180deg);
         }

         &__text:nth-child(1) {
            animation: show-replica 3s 42s forwards;
         }
         &__text:nth-child(2) {
            animation: show-replica 5s 45s forwards;
         }
         &__text:nth-child(3) {
            animation: show-replica 3s 51s forwards;
         }
         /*&__text:nth-child(4) {
            animation: show-replica 3s 66s forwards;
         }*/
      }
   }
   &--girl {
      [class*="__part"] {
         background: $girlColor;
      }
      .replica {
         //top: -150%;
         //transform: translateZ(400px) rotateY(90deg);
         /*left: auto;
         right: 100%;*/
         &__text {
            //transform-origin: left;
            translate: 0 -100% 100px;
            rotate: y 90deg;
         }
         &__text:nth-child(1) {
            animation: show-replica 5s 75s forwards;
            //animation: show-replica 10s 10s forwards;
         }
      }
   }
   &__body {
      position: relative;
      transform-style: preserve-3d;
      transform-origin: top;
      //@extend %shadow5px;

      &--head {
         //transform-origin: right;
         margin: 0 auto;
         bottom: $headMargTop;
         //bottom: 200px;
         height: 12%;
         //height: 300px;
         aspect-ratio: 1 / 1;
         //box-shadow: none;
         //rotate: y 70deg;
      }
   
      &--main {
         height: 38%;
         //rotate: y 90deg;
      }
   
      &--ass {
         height: 5%;
      }
      &--legs {
         height: 45%;
         transform: translateZ(-$bodyDepth*$legsDepthKoef);
      }
   }
   &__replica {
      //visibility: hidden;
      position: absolute;
      //top: 0;
      top: 0;
      //bottom: 100%;
      left: 150%;
      //left: 150%;
      width: max-content;
   }
}

.head__part,
.pers-body__part,
.ass__part,
.legs__part,
.leg__part,
.thigh__part,
.shin__part,
.hand__part {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   @extend %shadow5px;
}
.head {
   transform-style: preserve-3d;

   &__part {
      width: 80%; 
      height: 41.42%; 

      &--front,
      &--back {
         width: 100%;
         height: 100%;
         border-radius: 50%;
      }
      &--top,
      &--bottom {
         width: 41.42%; 
         height: 80%;
         left: 50%;
         translate: -50% 0;
      }
      &--left-top,
      &--right-top {
         transform-origin: 0 bottom;
         translate: 0 -30%;
      }
      &--left,
      &--right {
         top: 50%;
         transform: translate(0,-50%) rotateY(90deg);
         transform-origin: left 50%;
      }
      &--left-bottom,
      &--right-bottom {
         transform-origin: 0 top;
         translate: 0 30%;
      }
      &--right-top,
      &--right,
      &--right-bottom {
         left: 100%;
      }
      &--left-bottom,
      &--right-bottom,
      &--bottom {
         top: auto;
         bottom: 0;
      }
      &--front {
         background: $whiteFaceColor !important;
      }
      &--back {
         //transform: rotateY(180deg) translateZ(240px); 
         transform: rotateY(180deg) translateZ($headDepth) scale(-1,1);
      }
      &--top {
         transform-origin: 50% top;
         transform: rotateX(-90deg);
      }
      &--left-top {
         transform: rotateZ(45deg) rotateY(90deg);
      }
      &--right-top {
         transform: rotateZ(-45deg) rotateY(90deg);
      }
      &--left {
      }
      &--right {
      }
      &--left-bottom {
         transform: rotateZ(-45deg) rotateY(90deg);
      }
      &--right-bottom {
         transform: rotateZ(45deg) rotateY(90deg);
      }
      &--bottom {
         transform-origin: 50% bottom;
         transform: rotateX(90deg);
      }
   }
}
.pers-body {
   transform-origin: bottom;

   &__part {
      &--head {
         top: -13.157895%; /* 8.5/64.6 */
         left: 50%;
         //bottom: 100%;
         //bottom: 200px;
         width: auto;
         height: 31.578947%; /* 20.4/64.6 */
         transform: translateX(-50%) translateY(-100%);
         //height: 300px;
         aspect-ratio: 1 / 1;
         box-shadow: none;
      }
      &--front,
      &--back {

      } 
      &--top,
      &--bottom {
         transform-origin: top;
         height: $bodyDepth;
         rotate: x -90deg;
      } 
      &--left,
      &--right {
         transform-origin: left;
         width: $bodyDepth;
         rotate: y 90deg;
      } 
      &--front {

      } 
      &--back {
         transform: rotateY(180deg) translateZ($bodyDepth) scale(-1,1);
      } 
      &--top {

      } 
      &--bottom {
         top: 100%;
      } 
      &--left {

      } 
      &--right {
         left: 100%;
      } 
      &--hand {
         transform-origin: top;
         top: 2%;
         width: 15%;
         height: 110%;
      }
   }
}
.ass {
   &__part {
      //box-shadow: none;

      &--front,
      &--back {

      } 
      &--top,
      &--bottom {
         transform-origin: top;
         height: $bodyDepth;
         rotate: x -90deg;
      } 
      &--left,
      &--right {
         transform-origin: left;
         width: $bodyDepth;
         rotate: y 90deg;
      } 
      &--front {

      } 
      &--back {
         transform: rotateY(180deg) translateZ($bodyDepth) scale(-1,1);
      } 
      &--top {

      } 
      &--bottom {
         top: 100%;
      } 
      &--left {

      } 
      &--right {
         left: 100%;
      } 
   }
}
.legs {
   &__leg {
      position: absolute;
      top: 0;
      width: 35%;
      height: 100%;
   }
   &__part {
      box-shadow: none;

      &--front,
      &--back {

      } 
      &--top,
      &--bottom {
         transform-origin: top;
         height: $bodyDepth;
         rotate: x -90deg;
      } 
      &--left,
      &--right {
         transform-origin: left;
         width: $bodyDepth;
         rotate: y 90deg;
      } 
      &--front {

      } 
      &--back {
         transform: rotateY(180deg) translateZ($bodyDepth) scale(-1,1);
      } 
      &--top {

      } 
      &--bottom {
         top: 100%;
      } 
      &--left {

      } 
      &--right {
         left: 100%;
      } 
   }
}
.leg {
   transform-style: preserve-3d;
   transform-origin: top;

   &--left {
      left: 0;
   }
   &--right {
      right: 0;
   }
   &__thigh {
      width: 100%;
      height: 47%;
   }
   &__shin {
      width: 100%;
      height: 53%;
   }
   &__part {

      &--front,
      &--back {

      } 
      &--top,
      &--bottom {
         transform-origin: top;
         height: $bodyDepth;
         rotate: x -90deg;
      } 
      &--left,
      &--right {
         transform-origin: left;
         width: $bodyDepth;
         rotate: y 90deg;
      } 
      &--front {

      } 
      &--back {
         transform: rotateY(180deg) translateZ($bodyDepth) scale(-1,1);
      } 
      &--top {

      } 
      &--bottom {
         top: 100%;
      } 
      &--left {

      } 
      &--right {
         left: 100%;
      } 
   }
}
.thigh {
   transform-style: preserve-3d;
   transform-origin: top;

   &__part {

      &--front,
      &--back {

      } 
      &--top,
      &--bottom {
         transform-origin: top;
         height: $limbDepth;
         rotate: x -90deg;
      } 
      &--left,
      &--right {
         transform-origin: left;
         width: $limbDepth;
         rotate: y 90deg;
      } 
      &--front {

      } 
      &--back {
         transform: rotateY(180deg) translateZ($limbDepth) scale(-1,1);
      } 
      &--top {

      } 
      &--bottom {
         top: 100%;
      } 
      &--left {

      } 
      &--right {
         left: 100%;
      } 
   }
}
.shin {
   transform-style: preserve-3d;
   transform-origin: top;

   &__part {

      &--front,
      &--back {

      } 
      &--top,
      &--bottom {
         transform-origin: top;
         height: $limbDepth;
         rotate: x -90deg;
      } 
      &--left,
      &--right {
         transform-origin: left;
         width: $limbDepth;
         rotate: y 90deg;
      } 
      &--front {

      } 
      &--back {
         transform: rotateY(180deg) translateZ($limbDepth) scale(-1,1);
      } 
      &--top {

      } 
      &--bottom {
         top: 100%;
      } 
      &--left {

      } 
      &--right {
         left: 100%;
      } 
   }
}
.hand {
   transform-style: preserve-3d;

   &--left {
      left: auto;
      right: 100%;

      .hand__part {
         //background: red;
      }
   }
   &--right {
      left: 100%;

      .hand__part {
         //background: green;
      }
   }

   &__part {

      &--front,
      &--back {

      } 
      &--top,
      &--bottom {
         transform-origin: top;
         height: $limbDepth;
         rotate: x -90deg;
      } 
      &--left,
      &--right {
         transform-origin: left;
         width: $limbDepth;
         rotate: y 90deg;
      } 
      &--front {

      } 
      &--back {
         transform: rotateY(180deg) translateZ($limbDepth) scale(-1,1);
      } 
      &--top {

      } 
      &--bottom {
         top: 100%;
      } 
      &--left {

      } 
      &--right {
         left: 100%;
      } 
      &--hose,
      &--gun {
         transform-origin: left;
         box-shadow: none;
      }
      &--gun {
         top: 70%;
         left: 100%;
         //right: 0;
         //bottom: 0;
         /*width: 30px;
         height: 70px;*/
         width: 400%; 
         height: 110%;
         transform: translateZ(7px) rotateY(90deg);  //translateZ(20px)
         visibility: hidden;
      }
      &--hose {
         top: 90%;
         right: 100%;
         width: 200%; 
         height: 35%;
         transform: translateZ(5px) rotateY(90deg);
      }
   }
}