@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merriweather:600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500,700&display=swap");
@font-face {
  font-family: "PF Din Text Pro";
  src: url("../../../fonts/pf-dintext-pro/PFDinTextPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PF Din Text Pro";
  src: url("../../../fonts/pf-dintext-pro/PFDinTextPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circular Std";
  src: url("../../../fonts/circular_std/CircularStd-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circular Std";
  src: url("../../../fonts/circular_std/CircularStd-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circular Std";
  src: url("../../../fonts/circular_std/CircularStd-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*Очищення всіх стилів браузерів*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  line-height: 1em;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

button strong, a[class^=button] strong {
  font-weight: inherit;
}
button em, a[class^=button] em {
  font-style: inherit;
}

/*p, button, a[class^="button"] {
	strong {
		font-weight: inherit;
	}
	em {
		font-style: inherit;
	}
}*/
address {
  font-style: normal;
}

/*--------------------*/
body {
  font-family: "PF Din Text Pro", sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1170px;
}

.footer {
  padding: 3.125% 0; /* 60/1920 */
}

.owner-name {
  font-weight: 700;
  color: #2e2cb1;
}

.advantages {
  padding: 5% 0 5.208333%; /* 100/1920 */
  font-family: "Circular Std", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.01428571em; /* 0.2/14 */
  background: #231F8B;
}
.advantages strong {
  font-weight: 400;
}
.advantages abbr {
  cursor: pointer;
  text-decoration: none;
}
.advantages__container {
  margin: 0 auto;
  max-width: 1050px;
}
.advantages__info {
  margin: 0 0 6.666667%; /* 70/1050 */
}
.advantages__title {
  margin: 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.advantages__title [class*=__subtitle] {
  margin: 0 0 10px;
  color: #5A54F2;
  line-height: 1.71428571;
  font-weight: 700;
}
.advantages__title [class*=__title] {
  color: #fff;
  font-size: 2.25rem;
  font-weight: 700;
}
.advantages__text {
  max-width: 72.857143%; /* 765/1050 */
  color: #fff;
  line-height: 1.42857143; /* 20/14 */
}
.advantages__text p {
  margin-block: 0 10px;
}
.advantages__text p:last-child {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
@media (max-width: 1150px) {
  .advantages__container {
    max-width: 900px;
  }
}
@media (max-width: 1000px) {
  .advantages__container {
    max-width: 750px;
  }
}
@media (max-width: 850px) {
  .advantages__container {
    max-width: 600px;
  }
  .advantages__title [class*=__title] {
    font-size: 1.625rem;
  }
}
@media (max-width: 650px) {
  .advantages__container {
    padding-inline: 20px;
    max-width: none;
  }
}
@media (max-width: 600px) {
  .advantages__text {
    max-width: none;
  }
}
@media (max-width: 500px) {
  .advantages__title {
    margin-bottom: 20px;
  }
  .advantages__title [class*=__title] {
    font-size: 1.25rem;
  }
}
@media (max-width: 380px) {
  .advantages__container {
    padding-inline: 12px;
  }
}
@media (max-width: 365px) {
  .advantages__title [class*=__title] {
    font-size: 1.125rem;
  }
}

.cards {
  overflow: hidden;
  /*@media (max-width: 1150px) {
     &__item {
        //width: 33.333%;

        //останній і кожен 6-ий починаючи з 4-того
        &:last-of-type:nth-of-type(6n + 4) { 
           margin-top: 0;
           //background: green;
        }
     }
  }*/
  /*@media (max-width: 1000px) {
     &__item {
        //width: 50%; 
     }
  }*/
}
.cards__body {
  text-align: center;
  padding: 0 5px;
  margin-block: -1.904762%; /* 20/1050 */
  margin-inline: -1.904762%;
  /*display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  column-gap: 3.809524%; // 40/1050 
  row-gap: 20px;*/
  font-size: 0;
  letter-spacing: 0;
}
.cards__item {
  padding-block: 1.851852%;
  padding-inline: 1.851852%;
  display: inline-block;
  width: 25%;
  min-width: 270px;
  max-width: 470px;
  vertical-align: top;
}
.cards__item:nth-of-type(even) {
  margin-top: 3.703704%; /* 40/1080 */
}
@media (max-width: 600px) {
  .cards__item {
    vertical-align: middle;
  }
  .cards__item:nth-of-type(even) {
    margin-top: 0;
  }
}

.item {
  text-align: left;
}
.item_spec .item__body {
  background: #5A54F2;
  color: #fff;
}
.item_spec .item__title [class*=__title],
.item_spec .item__text {
  color: inherit;
}
.item_spec .item__title [class*=__title]::after {
  background: #fff;
}
.item__body {
  padding: 15.217391% 17.391304%;
  min-height: 260px;
  background: #fff;
}
.item__image {
  margin: 0 0 20px;
  position: relative;
  width: 72px;
  aspect-ratio: 1/1;
}
.item__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item__title {
  font-size: 1rem;
  margin: 0 0 1.25em;
}
.item__title [class*=__title] {
  position: relative;
  padding: 0 0 1.25em; /* 20/16 */
  color: #252B42;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.00625em; /* 0.1/16 */
}
.item__title [class*=__title]::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 3.125em; /* 50/16 */
  height: 0.125em; /* 2/16 */
  background: #E74040;
}
.item__text {
  color: #737373;
  font-size: 0.875rem;
  line-height: 1.42857;
  letter-spacing: 0.01428571em;
}

.advantages__title .title__subtitle,
.cards__item .item__text {
  font-family: "Montserrat", sans-serif;
}

/*.some-block {
   margin: 0 auto;
   display: inline-block;
   width: 500px;
   height: 300px;
   background: green;

   div {
      height: 100%;
      background: red;
   }
}
.other {
}*/