.blossomia {
   font-family: "KoPub Batang", serif;
   font-size: 17px;
   color: #2C2C2C;
   background: #F8F3EC;
}
.blossomia [class*="--padd-s"] {
   padding-block: 30px;
}
.blossomia h2 {
   color: #000;
   font-size: 22px;
   font-weight: 700;
   line-height: 1.1; /* 66/60 */
}
.blossomia a:focus-visible,
.blossomia button:focus-visible {
   transition: none;
   outline: solid #f59f35;
}
.blossomia__floral-catalog {
   
}
.floral-catalog {
}
.floral-catalog__container {
   max-width: 1200px;
}
.floral-catalog__container>* {
   margin-bottom: 30px;
}
.floral-catalog__group-main {
   display: flex;
   flex-direction: column;
   /*grid-template-columns: 1fr;
   grid-template-areas: "cat-side cat-content"
                        "cat-side cat-main";*/
   /*display: flex;
   flex-direction: column-reverse;*/
   row-gap: 30px;
   column-gap: 15px;
}
.floral-catalog__content {
   grid-area: cat-content;
}
.floral-catalog__content>*,
.floral-catalog__content:has(.floral-catalog__title + *) .floral-catalog__title {
   margin-bottom: 5.338542%; /* 41/768 */
}
.floral-catalog__side {
   grid-area: cat-side;
}
.floral-catalog__side>*,
.floral-catalog__main>* {
   margin-bottom: 20px; 
}
.floral-catalog__main {
   grid-area: cat-main;
}
.floral-catalog__main>* {
   /*margin-bottom: 25px; /* 41/767.52 */
}
.floral-catalog__small {
   display: flex;
   flex-direction: column;
   row-gap: 20px;
   grid-area: cat-small;
}
.floral-catalog__cards {
   margin-bottom: 30px;
}
.floral-catalog__link {
}
/*.floral-catalog__title {
   margin-bottom: 10.15625%; 
}*/

/*.floral-catalog__side,
.floral-catalog__main {
   flex: 0 1 auto;
}*/
.floral-catalog__content>*,
.floral-catalog__side>*,
.floral-catalog__main>* {
   display: block;
}
/*-------------------PRODUCTS------------------------*/
/*-----------------------PADDING-----------------------------*/

/*---------------------------------------------------------*/
/*-----------------------MARGIN-----------------------------*/

/*---------------------------------------------------------*/
/*-------------------------------------------------------*/

/*---------------------------NEWS---------------------------*/
/*------------------------------------------------*/

/*----------------JOINT STYLES--------------------*/
/*.products a:not([class*="__title"] a):hover {
   color: #2C742F;
}*/
/*------------------------------------------*/