.travel {
   padding-block: max(1.25rem,2.314815%); /* 40/1728 */
}
.travel__container {
}
.travel__title {
}
.travel__calendar {
}
.calendar {
   /*display: grid;
   grid-template-columns: repeat(auto-fill, minmax(min(20rem,100%),1fr));*/
   display: flex;
   flex-wrap: wrap;
   /*grid-auto-rows: 1fr;*/
   gap: 1.25rem;
}
.calendar>li {
   /*flex: 0 1 calc((100% - (gap * (cols - 1))) / cols);*/
   flex-basis: 100%;
}
.calendar__month {
}
.calendar__banner {
   container: banner / inline-size;
   flex-grow: 1;
}
.month-card {
   display: flex;
   flex-direction: column;
   gap: 0.625rem;
}
.month-card table {
   display: flex;
   flex-direction: column;
   gap: 0.3125rem;
}
.month-card__title {
   text-align: center;
   font-weight: 700;
   text-transform: capitalize;
}
.month-card table tr {
   display: flex;
}
.month-card table th:empty {
   display: none;
}
.month-card tbody tr:first-child {
   justify-content: flex-end;
   /*margin-right: 1px;*/
}
.month-card tbody tr:first-child th {
}
.month-card table tr:last-child {
   justify-content: flex-start;
}
.month-card table th {
   /*max-width: 14.285714285714285714285714285714%;*/
   flex-basis: calc(14.2857% + 0.125rem);
   /*flex-grow: 1;*/
   text-align: center;
   margin-inline-end: -0.125rem;
   margin-block-end: -0.125rem;
}
.month-card__day {
}
.day {
   border: 2px solid var(--color8);
   background: var(--color10);
   line-height: 1.5;
   font-weight: 600;
   cursor: pointer;
   transition: background-color 0.3s, color 0.3s;
}
.day:hover {
   background: var(--color6) !important;
   color: var(--textColor2) !important;
}
.day:hover .day__tooltip {
   display: flex;
}
.day--special {
   color: var(--textColor2);
}
.day:nth-child(7),
.month-card tbody tr:first-child .day:last-child {
   background: var(--color15);
}
.day--holiday {
   background: var(--color4) !important;
}
.day__tooltip {
}
.tooltip {
   display: none;
   padding-block: 1.25rem;  
   padding-inline: 0.9375rem;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background: var(--color8);
   color: var(--textColor2);
   box-shadow: 0.625rem 0.625rem 0.9375rem var(--color8);
   width: max-content;
   max-width: min(43.75rem, 90%);
   max-height: 90svh;
   overflow: auto;
   flex-direction: column;
   gap: 0.625rem;
   z-index: 1001;
}
.tooltip:has(ul) {
   text-align: left;
}
.tooltip ul {
   direction: rtl;
   display: flex;
   flex-direction: column;
   gap: 0.3125rem;
}
.tooltip ul>li {
   display: flex;
   gap: 0.55555556em; /* 10/18 */
   align-items: center;
}
.tooltip ul>li::before {
   content: '';
   margin-top: 0.27777778em; /* 5/18 */
   width: 0.83333333em; /* 15/18 */
   aspect-ratio: 1;
   background: var(--color6) url('../../../img/icons/list-style/check-1.svg') center / 60% no-repeat;
   border-radius: 50%;
   align-self: flex-start;
   flex-shrink: 0;
}

/*----------BANNER---------*/
.banner {
   display: flex;
   padding: 1.25rem;
   position: relative;
   min-height: 18.75rem;
   color: var(--textColor2);
   background: rgba(0, 0, 0, 0.3);
   justify-content: center;
   text-align: center;
   font-size: 1rem;
}
.banner__bg {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
}
.banner__body {
   display: flex;
   flex-direction: column;
   gap: 1.25rem;
   align-items: center;
   justify-content: center;
   max-width: 750px;
}
.banner__title {
   font-size: 1.22222222em; /* 22/18 */
   text-transform: uppercase;
}