.wheel {
   transform-style: preserve-3d;
   
   &--front {
      &>[class*="__wrapper-rel"] {
         border-radius: 29.70297% 48.235294% 0 0 / 55.555556% 91.111111% 0 0; 
      }
   }
   &--back {
      &>[class*="__wrapper-rel"] {
         /*border-radius: 21% 39% 0% 0% / 51% 42% 0% 0%;
         border-top: 1px solid #000;
         border-left: 1px solid #000;
         border-right: 1px solid #000;*/
         //box-shadow: 0 0 5px #000;

         &::after {
            width: 5.882353%; /* 5/85 */
            height: 50%;
            transform: none;
         }
         &::before {
            left: 0;
            width: 105.882353%; 
            height: 67.777778%; /* 26/45 */
         }
      }
   }

   &__wrapper-rel {
      background: $carColor3;
      box-shadow: inset 0 0 10px #434141;

      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 5%;
         right: 5%;
         height: 15%;
         background: $carColor1;
         z-index: 10;
      }

      &::after {
         content: '';
         position: absolute;
         bottom: 0;
         left: 100%;
         width: 22.352941%; /* 19/85 */
         height: 100%;
         transform: translate(-115.789474%,0) skew(35deg); /* 22/19 */
         background: inherit;
         border-radius: 0 52.631579% 0 0 / 0 22.222222% 0 0; /* 10/45 */
         z-index: -1;
      }
   }

   &__main-wrapper {
      position: relative;
      transform-style: preserve-3d;
      //perspective: 900px;
      top: 8.888889%; /* 4/45 */
      left: 50%;
      width: 94.117647%; /* 80/85 */
      padding-bottom: 94.117647%; 
      //transform: translateX(-50%);
      translate: -50% 0;
      animation: wheel-rotate 10s ease-out forwards;
   }

   &__main {
      position: absolute;
      top: 0;
      left: 0;
      width: 20%; 
      height: 41.42%; 
      background: #000;

      &--front,
      &--back {
         width: 100%;
         height: 100%;
         border-radius: 50%;
         border: 10px solid #212020;
         background: $carColor2;
         //background: red;
         //overflow: hidden;
         //background: red;
         //z-index: 100;
      }
      &--top,
      &--bottom {
         width: 41.42%; 
         height: 20%;
         left: 50%;
         translate: -50% 0;
      }
      &--left-top,
      &--right-top {
         transform-origin: 0 bottom;
         translate: 0 -30%;
      }
      &--left,
      &--right {
         top: 50%;
         transform: translate(0,-50%) rotateY(90deg);
         transform-origin: left 50%;
      }
      &--left-bottom,
      &--right-bottom {
         transform-origin: 0 top;
         translate: 0 30%;
      }
      &--right-top,
      &--right,
      &--right-bottom {
         left: 100%;
      }
      &--left-bottom,
      &--right-bottom,
      &--bottom {
         top: auto;
         bottom: 0;
      }
      &--front {
      }
      &--back {
         transform: rotateY(180deg) translateZ(16px);
         /*top: 50%;
         left: 50%;
         width: 94.9375%; // 75.95/80 
         height: 94.9375%; 
         transform: translate(-50%,-50%) rotateY(180deg);*/
      }
      &--top {
         transform-origin: 50% top;
         transform: rotateX(-90deg);
      }
      &--left-top {
         transform: rotateZ(45deg) rotateY(90deg);
      }
      &--right-top {
         transform: rotateZ(-45deg) rotateY(90deg);
      }
      &--left {
      }
      &--right {
      }
      &--left-bottom {
         transform: rotateZ(-45deg) rotateY(90deg);
      }
      &--right-bottom {
         transform: rotateZ(45deg) rotateY(90deg);
      }
      &--bottom {
         transform-origin: 50% bottom;
         transform: rotateX(90deg);
      }
   }

   &__disc {
      position: relative;
      top: 50%;
      left: 50%;
      width: 58.333333%; /* 49/84 */
      aspect-ratio: 1 / 1;
      transform: translate(-50%,-50%);
      border-radius: 50%;
      background: #6b6565;
      box-shadow: 0 0 10px #000;

      /*&::before {
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         width: 44.897959%; // 22/49 
         aspect-ratio: 1 / 1;
         background: #c6c7c7;
         border-radius: 50%;
         transform: translate(-50%,-50%);
         box-shadow: 0 0 20px #000;
      }*/
   }
}
